<div class="item-box row">
  <div class="col-xs-4">
    <span class="search-endpoints-title">
      <a ng-href="search_endpoints/{{ctrl.searchEndpoint.id}}" target="_self" class="action-icon">
      {{ ctrl.searchEndpoint.name }}
      </a>
    </span>

    <span class="item-actions">

      <a ng-href="search_endpoints/{{ctrl.searchEndpoint.id}}/edit" target="_self" class="action-icon">
        <i
          class="glyphicon glyphicon-pencil"
          aria-hidden="true"
          title="Edit"
          alt="Edit"
        ></i>
      </a>
      <delete-search-endpoint this-search-endpoint="ctrl.searchEndpoint"></delete-search-endpoint>
      <archive-search-endpoint this-search-endpoint="ctrl.searchEndpoint"></archive-search-endpoint>
    </span>
  </div>

  <div class="col-xs-4">
    <img ng-if="ctrl.searchEndpoint.searchEngine" ng-src="images/{{ ctrl.searchEndpoint.searchEngine }}-icon.png" width="32px" />
    &nbsp;{{ ctrl.searchEndpoint.searchEngine | searchEngineName }}
  </div>

  <div class="col-xs-4">
    <i>{{ ctrl.searchEndpoint.endpointUrl }}</i>
  </div>
</div>
