<div class="modal-header">
  <button type="button" class="close btn-core-close" ng-click="ctrl.cancel()" aria-label="Close"></button>
  <h3 class="modal-title">Judgements</h3>
</div>

<div class="modal-body">
  <div ng-show='ctrl.share.loading'>
    <p>
      Loading your teams, this will be quick I promise!
      <i class='glyphicon glyphicon-refresh spintime'></i>
    </p>
  </div>
  <div class="alert alert-warning" role="alert" ng-if="ctrl.populateBook && ctrl.share.acase.queriesCount === 0">
    You do not have any queries to populate your book of judgements with.
  </div>

  <p>
    Explicit Judgements created by humans are a good way to start measuring your search quality.
  </p>
  <p>
    Quepid organizes Judgements in a <b>Book</b> that consists of query and document pairs for human evaluation.
    Checkmark the <b>Populate Book</b> option to update the book with new and changed queries and documents returned by the Case.
  </p>

  <div class="text-center" ng-show="ctrl.share.teams.length === 0 && !ctrl.share.loading">
    <p>
      Judgements are meant to be shared with a team, so either
      <a
        ng-click="ctrl.goToTeamsPage()"
      >create a new team</a>
      or
      <share-case
        acase="ctrl.share.acase" ng-click="ctrl.cancel()"
      ></share-case> first.
    </p>
 
  </div>

  <div class="text-center" ng-show="ctrl.share.teams.length > 0 &&  ctrl.share.books.length === 0 && !ctrl.share.loading">
    <p>
      You have not created any Books of Judgements yet, so go ahead and create a new Book!
    </p>

    <a class="btn btn-primary btn-lg" ng-href="{{ctrl.createNewBookLink()}}" target="_self">
      <i class="bi bi-plus-lg"></i>
      Create a book
    </a>
  </div>

  <div ng-show="ctrl.share.books.length > 0 && !ctrl.share.loading">
    <div>
      <label>Select a Book of Judgements <span class="glyphicon glyphicon-question-sign" aria-hidden="true" popover-trigger="'mouseenter'" popover-placement="right" uib-popover="All the Books related to all the Teams this Case has been shared with are listed below.  If you don't see the Book you want, check that you shared the Case with the right Team."></span></label>

      <ul class="list-group">
        <li class="list-group-item"
          ng-repeat="book in ctrl.share.books track by book.id"
          ng-class="{ active: book.id === ctrl.activeBookId }"
          ng-click="selectBook(book)">
          {{book.name}}
          <a ng-href="books/{{book.id}}" target="_self" class="btn btn-default btn-xs pull-right">
            View
          </a>

        </li>
      </ul>
    </div>
  </div>

  <label>
    <input id="populate-book" type="checkbox" ng-model='ctrl.populateBook' ng-disabled="ctrl.share.books.length === 0 || ctrl.share.teams.length === 0"> Populate Book
      <span class="glyphicon glyphicon-question-sign" aria-hidden="true" popover-trigger="'mouseenter'" popover-placement="right" uib-popover="Update the list of query / doc pairs to be judged using the current search results."></span>
    </input>
    
    &nbsp;&nbsp;<button ng-show="ctrl.populateBook" type="button" class="btn btn-sm btn-default" ng-click="isAdvancedPopulateConfigCollapsed = !isAdvancedPopulateConfigCollapsed">Advanced</button>
    
  </label>
  <br/>
  <label>
    <input id="sync-queries" type="checkbox" ng-model='ctrl.createMissingQueries' ng-disabled="ctrl.share.books.length === 0 || ctrl.share.teams.length === 0"> Create missing Queries
      <span class="glyphicon glyphicon-question-sign" aria-hidden="true" popover-trigger="'mouseenter'" popover-placement="right" uib-popover="Create queries in the Case that are defined in the Book."></span>
    </input>  
  </label>
  
  <span ng-show="ctrl.populateBook">
    <div uib-collapse="!isAdvancedPopulateConfigCollapsed">
      <div class="well well-sm">
        
        <div class="form-group clearfix">
          <label class="col-sm-3 control-label">Populate Judgements?</label>
          <div class="col-sm-9">
            <input id="populate-judgements" type="checkbox" ng-model='ctrl.populateJudgements'/>
            <p class="help-block">Take the ratings currently made in the Case and use them as Judgements when populating the Book.</p>
          </div>
        </div>
      </div>
    </div>  
  </span>

  <div class='text-danger' ng-show="processingPrompt.error">
    An error ({{processingPrompt.error}}) occurred, please try again.<br />
    If the error persist, contact adminstrator for further assistance.
  </div>

</div>

<div class="modal-footer">
  <a class="btn btn-primary pull-left" ng-href="{{ctrl.createNewBookLink()}}" target="_self" ng-disabled="processingPrompt.inProgress">
    <i class="glyphicon glyphicon-plus" style="color: #FFF"></i>
    Create a book
  </a>

  <a class="btn btn-default pull-left" href="books/{{ctrl.activeBookId}}/judge" target="_self" ng-show="ctrl.activeBookId">
    <i class="glyphicon glyphicon-book"></i>
    Judge Documents!
  </a>
  <a class="btn btn-default pull-left" ng-click="ctrl.refreshRatingsFromBook()" ng-disabled="processingPrompt.inProgress || ctrl.populateBook || !ctrl.activeBookId || ctrl.share.acase.bookId !== ctrl.activeBookId" >
    <i class="glyphicon glyphicon-refresh" ng-class="{'spintime': processingPrompt.inProgress}"></i>
    Refresh ratings from book <i>{{ctrl.activeBookName}}</i>
    <span ng-if="ctrl.createMissingQueries">and creating missing queries</span>
  </a>

  <button
    class="btn btn-success"
    ng-show="ctrl.activeBookId && ctrl.specificActionLabel()"
    ng-click="ctrl.ok()"
    ng-disabled="processingPrompt.inProgress"
  >
    {{ ctrl.specificActionLabel() }}
  </button>
  <button class="btn btn-default" ng-click="ctrl.cancel()" ng-disabled="processingPrompt.inProgress">Cancel</button>
  <div ng-show="processingPrompt.inProgress">
    <div ng-show="!processingPrompt.done">
      Dealing with judgements (this can take a minute or so)
    </div>
  </div>
</div>
