<p>
  Don't want to create your own custom scorer? Or don't know where to start?<br /> <br />
  Quepid provides you with our own scorer. <br />
  Every once in a while, we may update the algorithm behind that scorer,
  so in order not to mess with your cases, we let you lock down the version
  of the scorer you wish to use. <br /> <br />

  When you create a new case, if you have not selected your own default scorer, the system default
  will be applied. <br /> <br />

  If you have not selected a system default either, the latest version will be used.
</p>
