<div id='teams' class='container'>
  <h2>Teams</h2>


  <div class="row">
    <div class='col-md-4'>
      <div class="btn-group">
        <new-team button-text="'Add New'"></new-team>
      </div>
    </div>

    <div class="col-md-4 form-inline">
      <input type="search" ng-model="q" placeholder="Filter teams" aria-label="filter teams" class="form-control" id='teams-filter' />

      <input type="number" min="1" max="100" class="form-control" ng-model="pagination.teams.pageSize" id='teams-per-page' />
    </div>
  </div>

  <div class="clearfix"></div>

    <div id='teams-listing'>
      <div ng-if="teamsScope.teams.length !== 0">

        <div class="row listing-header">
          <div class="col-xs-12">
            <div class="row">
              <span class="col-xs-1">ID</span>
              <span class="col-xs-5">Name</span>
              <span class="col-xs-2">Members</span>
              <span class="col-xs-1">Cases</span>
              <span class="col-xs-3">Owner</span>
            </div>
          </div>
        </div>

        <ul ng-model="teamsScope.teams" class="teams-list row">
          <li dir-paginate="team in teamsScope.teams | teamType:teamsScope.typeFilter | filter:q | itemsPerPage: pagination.teams.pageSize : 'teams' track by team.id" current-page="pagination.teams.currentPage" pagination-id="teams" class="teams-list-item">
            <team-listing team="team"></team-listing>
          </li>
        </ul>

        <dir-pagination-controls
          class="text-center center-block"
          pagination-id="teams"
        ></dir-pagination-controls>
      </div>

      <p ng-if="teamsScope.teams.length === 0 && !loading">
        No teams to show!
      </p>

      <p ng-show="loading" class="text-center">
        <i class="glyphicon glyphicon-refresh spintime"></i>
      </p>
    </div>
  </div>
</div>
