<!-- Filters are:
q: members
q1: cases
q2: scores
q3: books
q4: searchEndpoints

-->

<div class='team container'>
  <h2>Team: {{ currentTeam.name }}</h2>

  <div class="pull-right">
    <a ng-href='/teams'>
      <i class="bi bi-arrow-left" aria-hidden="true"></i>
      Back to list
    </a>
  </div>

  <div class="row">
    <div class='team-owner pull-left'>
      <img
        ng-src="{{ currentTeam.owner.avatar_url }}"
        class="img-responsive img-rounded"
        alt="{{ currentTeam.owner.display_name }}"
        width="96" height="96"
        title="Avatar image"
      />

      <h4>
        {{ currentTeam.owner.display_name }}
      </h4>

      {{ currentTeam.owner.email }}
    </div>

    <div class="team-stats col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <div class="vcard-stats border-bottom row">
        <span class="vcard-stat col-sm-3">
          <strong class="vcard-stat-count d-block">
            {{ currentTeam.members.length }}
          </strong>
          <span class="text-muted d-block">Members</span>
        </span>
        <span class="vcard-stat col-sm-3">
          <strong class="vcard-stat-count d-block">
            {{ currentTeam.cases.length }}
          </strong>
          <span class="text-muted d-block">Cases</span>
        </span>
        <span class="vcard-stat col-sm-3">
          <strong class="vcard-stat-count d-block">
            {{ currentTeam.books.length }}
          </strong>
          <span class="text-muted d-block">Books</span>
        </span>
        <span class="vcard-stat col-sm-3">
          <strong class="vcard-stat-count d-block">
            {{ currentTeam.scorers.length }}
          </strong>
          <span class="text-muted d-block">Scorers</span>
        </span>
      </div>

      <div class="add-member border-bottom row">
        <h4>
          Add Team Member
        </h4>

        <add-member team='currentTeam'></add-member>
      </div>
    </div>
  </div>

  <div class='clearfix'></div>

  <div class="row team-associations">
    <div class='team-members col-md-12'>
      <h3>Members</h3>

      <div class="row">
        <div class='col-md-4'>
          <span class="bi bi-robot"></span>
          <a type="button" ng-href="/teams/{{currentTeam.id}}/ai_judges/new" target="_self" >
            Create AI Judge
          </a>
        </div>
        <div class='col-md-4'>

        </div>
        <div class="col-md-4 filter-form">         
          <input type="search" ng-model="q" placeholder="Filter members" aria-label="filter members" class="form-control" id='team-members-filter' />
        </div>
      </div>

      <div class="clearfix"></div>

      <div id='users-listing' ng-if="currentTeam.members.length !== 0">
        <ul class="users-list" ng-model="currentTeam.members">
          <li ng-repeat="user in currentTeam.members | filter:q" class="users-list-item">
            <user-listing user="user" team="currentTeam"></user-listing>
          </li>
        </ul>
      </div>

      <p ng-if="currentTeam.members.length == 0">
        No members to show!
      </p>
    </div> <!-- .team-members -->

    <div class='team-cases col-md-12'>
      <h3>Cases</h3>

      <div class="row">
        <div class='col-md-4'>

        </div>
        <div class='col-md-4'>
          View
          &nbsp;&nbsp;&nbsp;
          <div class="btn-group">
            <label
              class="btn btn-default"
              ng-model="casesScope.typeFilter"
              uib-btn-radio="'all'"
            >
              All
            </label>
            <label
              class="btn btn-default"
              ng-controller="CaseCtrl"
              ng-click="caseModel.unarchive(currentTeam)"
            >
              Archived Cases
            </label>
          </div>
        </div>
        <div class="col-md-4 filter-form">

          <input type="search" ng-model="q1" placeholder="Filter cases" aria-label="filter cases" class="form-control" id='team-cases-filter' />
        </div>
      </div>

      <div class="clearfix"></div>

      <div id='cases-listing' ng-if="currentTeam.cases.length !== 0">
        <div class="row listing-header">
          <span class="col-xs-1">ID</span>
          <span class="col-xs-2">Case Title</span>
          <span class="col-xs-1">Last Try #</span>
          <span class="col-xs-1"># of Queries</span>
          <span class="col-xs-1">Last Score</span>
          <span class="col-xs-1">Last Run On</span>
          <span class="col-xs-2">Last Run By</span>
          <span class="col-xs-2">Associated
            <div class="row">
               <div class="col-xs-6">
                 Judgements
               </div>
               <div class="col-xs-6">
                 Teams
               </div>
             </div>
          </span>

          <span class="col-xs-1">Owner</span>
        </div>

        <ul class="cases-list" ng-model="currentTeam.cases">
          <li ng-repeat="case in currentTeam.cases | filter:q1" class="cases-list-item">
            <case-listing this-case="case"></case-listing>
          </li>
        </ul>
      </div>

      <p ng-if="currentTeam.cases.length == 0">
        No cases to show!
      </p>
    </div> <!-- .team-cases -->

    <div class="clearfix"></div>

    <div class='team-judgements col-md-12'>
      <h3>Books of Judgements</h3>

      <div class="row">
        <div class="col-md-offset-8 col-md-4 filter-form">
          <input type="search" ng-model="q3" placeholder="Filter books" aria-label="filter books" class="form-control" id='team-books-filter' />
        </div>
      </div>

      <div class="clearfix"></div>

      <div id='books-listing' ng-if="currentTeam.books.length !== 0">
        <div class="row listing-header">
          <span class="col-md-1">ID</span>
          <span class="col-md-3">Name</span>
          <span class="col-md-4">Selection Strategy</span>
          <span class="col-md-4">Number of Query/Doc Pairs</span>
        </div>

        <ul class="books-list" ng-model="currentTeam.books">
          <li ng-repeat="book in currentTeam.books | filter:q3" class="books-list-item">
            <book-listing book="book" team="currentTeam"></book-listing>
          </li>
        </ul>
      </div>

      <p ng-if="currentTeam.books.length == 0">
        No judgements to show!
      </p>
    </div> <!-- .team-books -->

    
    <div class="clearfix"></div>

    <div class='team-search-endpoints col-md-12'>
      <h3>Search Endpoints</h3>

      <div class="row">
        <div class='col-md-4'>

        </div>
        <div class='col-md-4'>
          View
          &nbsp;&nbsp;&nbsp;
          <div class="btn-group">
            <label
              class="btn btn-default"
              ng-model="searchEndpointsScope.typeFilter"
              uib-btn-radio="'all'"
            >
              All
            </label>
            <label
              class="btn btn-default"
              ng-click="unarchiveSearchEndpoint(currentTeam)"
            >
              Archived Search Endpoints
            </label>
          </div>
        </div>
        <div class="col-md-4 filter-form">
          <input type="search" ng-model="q4" placeholder="Filter Search Endpoints" aria-label="filter search endpoints" class="form-control" id='team-search-endpoints-filter' />
        </div>
      </div>

      <div class="clearfix"></div>

      <div id='search-endpoints-listing' ng-if="currentTeam.searchEndpoints.length !== 0">
        <div class="row listing-header">
          <span class="col-md-4">Name</span>
          <span class="col-md-4">Search Engine</span>
          <span class="col-md-4">Endpoint URL</span>
        </div>

        <ul class="search-endpoints-list" ng-model="currentTeam.searchEndpoints">

          <li ng-repeat="searchEndpoint in currentTeam.searchEndpoints | filter:q4" class="search-endpoints-list-item">
            <search-endpoint-listing search-endpoint="searchEndpoint" team="currentTeam"></search-endpoint-listing>
          </li>
        </ul>
      </div>

      <p ng-if="currentTeam.searchEndpoints.length == 0">
        No search endpoints to show!
      </p>
    </div> <!-- .team-books -->
    
    <div class="clearfix"></div>

    <div class='team-scorers col-md-12'>
      <h3>Scorers</h3>

      <div class="row">
        <div class="col-md-offset-8 col-md-4 filter-form">
          <input type="search" ng-model="q2" placeholder="Filter scorers" aria-label="filter scorers" class="form-control" id='team-scorers-filter' />
        </div>
      </div>

      <div class="clearfix"></div>

      <div id='scorers-listing' ng-if="currentTeam.scorers.length !== 0">
        <div class="row listing-header">
          <span class="col-md-1">Name</span>
          <span class="col-md-7">Code/Scale (<a target="_blank" href="http://quepid.com/docs/#scorers-custom">learn more</a>)</span>
          <span class="col-md-1">Show scale labels?</span>
          <span class="col-md-2">Owner</span>
        </div>

        <ul class="scorers-list" ng-model="currentTeam.scorers">
          <li ng-repeat="scorer in currentTeam.scorers | filter:q2" class="scorers-list-item">
            <scorer-listing scorer="scorer" team="currentTeam"></scorer-listing>
          </li>
        </ul>
      </div>

      <p ng-if="currentTeam.scorers.length == 0">
        No scorers to show!
      </p>
    </div> <!-- .team-scorers -->

  </div> <!-- .row -->
</div>
