<% if book.random_query_doc_pair_for_rating %>
  <% session["last_judgement_id"] = nil %>

  <div class="alert alert-warning" role="alert">
    <%= link_to 'Moar Judgements are Needed!', book_judge_path(book), class: 'btn btn-primary', role: 'button' %>
  </div>
<% elsif book.query_doc_pairs.empty? %>
  <div class="alert alert-warning" role="alert">
    You don't have any query/doc pairs. Please
    <%= link_to 'return to the Case', root_path, class: 'alert-link' %> and click on <b><i class="bi bi-book-half"></i> Judgements</b> to populate this book with query/doc pairs for rating.

  </div>
<% else %>
  <div class="alert alert-success" role="alert">
    Congratulations! All the query/doc pairs have been judged.
  </div>
<% end %>
<p/>
