<turbo-frame id="query_doc_pair_card">
<p></p>
<h2>Editing Judgement</h2>

<%= render 'form', judgement: @judgement, query_doc_pair: @judgement.query_doc_pair, url_for_form: book_query_doc_pair_judgement_path(@book, @judgement.query_doc_pair, @judgement) %>

<br>

<% if @previous_judgement %>
  <%= button_to 'Go Back to Previous Query/Doc Pair', edit_book_query_doc_pair_judgement_path(@book, @previous_judgement.query_doc_pair, @previous_judgement), method: :get %>
  <br>
<% end %>
<%= button_to 'Quit Judging', book_path(@book), method: :get, data: { turbo: false } %>

<br>

<%= button_to 'Unrate', book_judgement_path, method: :delete, data: { turbo: false } %>

<br>
</turbo-frame>
