<p></p>
<h1>Editing Judgement</h1>

<%= render 'form', judgement: @judgement %>

<br>

<%= button_to 'Cancel', book_judgements_path(@judgement.query_doc_pair.book), method: :get %>

<br>

<%= button_to 'Delete Judgement', book_judgement_url, method: :delete %>

<br>