<p></p>
<h2>Create a Judgement</h2>

<%= render 'form', judgement: @judgement %>

<br>

<%
  @last_judgement = session["last_judgement_id"].nil? ? nil : Judgement.find(session["last_judgement_id"])
%>
<% if @last_judgement %>
  <%= button_to 'Back', book_judgement_url(@book, @last_judgement), method: :get %>
  <br>
<% end %>
<%= button_to 'Exit', book_url(@book), method: :get %>
<br>

<br>
