<div class="modal-header">
  <button type="button" class="close btn-core-close" ng-click="ctrl.cancel()" aria-label="Close"></button>
  <h3 class="modal-title">Explain Query Parsing</h3>
</div>

<div class="modal-body">
  <p>These are details returned from the search engine on how it processed the input query</p>

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button type="button" class="nav-link active" id="query-explain-tab-params"
              data-bs-toggle="tab" data-bs-target="#query-explain-pane-params"
              role="tab" aria-controls="query-explain-pane-params" aria-selected="true"
              ng-click="ctrl.togglePanel('queryDetails')">Params</button>
    </li>
    <li class="nav-item" role="presentation">
      <button type="button" class="nav-link" id="query-explain-tab-parsing"
              data-bs-toggle="tab" data-bs-target="#query-explain-pane-parsing"
              role="tab" aria-controls="query-explain-pane-parsing" aria-selected="false"
              ng-click="ctrl.togglePanel('parsedQueryDetails')">Parsing</button>
    </li>
    <li class="nav-item" role="presentation">
      <button type="button" class="nav-link" id="query-explain-tab-template"
              data-bs-toggle="tab" data-bs-target="#query-explain-pane-template"
              role="tab" aria-controls="query-explain-pane-template" aria-selected="false"
              ng-click="ctrl.renderQueryTemplate()">Query Template</button>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="query-explain-pane-params"
         role="tabpanel" aria-labelledby="query-explain-tab-params">
      <p class='bg-warning text-warning padded-text' ng-show="ctrl.queryDetailsMessage">
        <i class="bi bi-exclamation-triangle-fill" aria-hidden="true"></i>
        {{ctrl.queryDetailsMessage}}
      </p>
      <span ng-show="!ctrl.queryDetailsMessage">
        <p>These are the query parameters processed by the search engine.</p>
        <json-explorer
          json-data="ctrl.queryDetails"
          collapsed="false">
        </json-explorer>
      </span>
    </div>
    <div class="tab-pane" id="query-explain-pane-parsing"
         role="tabpanel" aria-labelledby="query-explain-tab-parsing">
      <p>This is how the search engine parsed the query.</p>
      <json-explorer
        json-data="ctrl.parsedQueryDetails"
        collapsed="false">
      </json-explorer>
    </div>
    <div class="tab-pane" id="query-explain-pane-template"
         role="tabpanel" aria-labelledby="query-explain-tab-template">
      <p ng-hide="ctrl.isTemplatedQuery">This is not a templated query.</p>
      <span ng-show="ctrl.isTemplatedQuery">
        <p>This is what the populated query template looks like</p>
        <div id='render-template' class='es-query-params' ui-ace="{
            require:      ['ace/ext/language_tools'],
            useWrapMode:  false,
            mode:         'json',
            theme:        'chrome',
            readOnly:     true
          }" ng-model="ctrl.renderedQueryTemplate">
        </div>
      </span>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-default float-left" ng-show="ctrl.toggledPanel === 'queryDetails'" ng-click="ctrl.cancel()" ngclipboard data-clipboard-text="{{ctrl.queryDetails}}"><i class="bi bi-copy"></i> Copy</button>
  <button class="btn btn-default float-left" ng-show="ctrl.toggledPanel === 'parsedQueryDetails'" ng-click="ctrl.cancel()" ngclipboard data-clipboard-text="{{ctrl.parsedQueryDetails}}"><i class="bi bi-copy"></i> Copy</button>
  <button class="btn btn-default float-left" ng-show="ctrl.toggledPanel === 'renderedQueryTemplate'" ng-click="ctrl.cancel()" ngclipboard data-clipboard-text="{{ctrl.renderedQueryTemplate}}"><i class="bi bi-copy"></i> Copy</button>
  <button class="btn btn-default btn-primary" ng-click="ctrl.cancel()">Close</button>
</div>
