<div class="modal-header">
  <button type="button" class="close" ng-click="ctrl.cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">Explain Query Parsing</h3>
</div>

<div class="modal-body">
  <p>These are details returned from the search engine on how it processed the input query</p>

  <uib-tabset active="active">
    <uib-tab index="0" heading="Params">
      <p>These are the query parameters sent to the search engine.</p>
      <json-explorer
        json-data="ctrl.queryDetails"
        collapsed="false">
      </json-explorer>
    </uib-tab>
    <uib-tab index="1" heading="Parsing" disable="false">
      <p>This is how the search engine parsed the query.</p>
      <json-explorer
        json-data="ctrl.parsedQueryDetails"
        collapsed="false">
      </json-explorer>
    </uib-tab>
  </uib-tabset>
</div>

<div class="modal-footer">
  <button class="btn btn-default" ng-click="ctrl.cancel()">Close</button>
</div>
