version = 1

[[analyzers]]
name = "ruby"
enabled = true

[[analyzers]]
name = "javascript"
enabled = true

  [analyzers.meta]

  
[[analyzers]]
name = "docker"
enabled = true

  [analyzers.meta]
  dockerfile_paths = [
    "Dockerfile.dev",
    "Dockerfile.prod"
  ]
  
[exclusions]
  paths = [
    "node_modules/**",    # Exclude all files and directories in the node_modules folder
    "dist/**",            # Exclude all files and directories in the dist folder
    "**/*.spec.js",       # Exclude all JavaScript test files
    "public/javascripts/ace/*.js"      # Exclude a specific file
  ]
