# Learn more about these settings at https://github.com/o19s/quepid/tree/main/docs/operating_documentation.md

PORT=3000

RACK_ENV=development
RAILS_ENV=development

# This makes Quepid display detailed error messages.
QUEPID_CONSIDER_ALL_REQUESTS_LOCAL=true

MAX_THREADS=2
WEB_CONCURRENCY=2

# How often should SOLID_CABLE poll the database for new ActionCable messages.
# You may need to dial it back if you are overloading the database.
SOLID_CABLE_POLLING=0.1.seconds


# This makes Quepid run only on SSL, including all interactions
# with search engines on SSL.  If FORCE_SSL is false, then Quepid will switch
# between http and https based on the url of the search engine for the main
# /case page.  Browsers prevent Quepid in HTTPS mode from accessing HTTP search engines, 
# so in that case you need to set this to false.
FORCE_SSL=false


# This makes Quepid show detailed error messages in the UI instead of a generic 500 page,
# useful while testing a deployment in Production.
QUEPID_CONSIDER_ALL_REQUESTS_LOCAL=false

# DB_HOST is not needed in development or test, see database.yml.
#DB_HOST=mysql
DB_USERNAME=root
DB_PASSWORD=password
DB_NAME=quepid

# Specify an OPENAI_API_KEY to enable the chat support.
OPENAI_API_KEY=

QUEPID_DOMAIN=localhost

# Used to insert web links if populated.
TC_URL=
PRIVACY_URL=
COOKIES_URL=

# Email Marketing request mode for GDPR compliance
EMAIL_MARKETING_MODE=false

# Default scorer for new user accounts
QUEPID_DEFAULT_SCORER=AP@10

# Whether or not signing up via the UI is enabled.
SIGNUP_ENABLED=true

# Whether or not signing in via email/password is enabled.
EMAIL_LOGIN_ENABLED=true

# Whether users are only allowed to use communal (admin controlled) scorers to prevent javascript embedding security issues
COMMUNAL_SCORERS_ONLY=false

# Whether only admins can access Search Endpoint management views (index, show, edit, mapper wizard)
SEARCH_ENDPOINT_VIEWS_ADMIN_ONLY=false

# What provider to use to send emails.  Blank disables sending emails.
EMAIL_PROVIDER=

# The email address of the sender of emails, ie quepid@o19s.com.
EMAIL_SENDER=

# See https://github.com/o19s/quepid/issues/272 for a bug in expand/collapse that some setups experience.
# This lets you disable the sorting if you experience the bug.
QUERY_LIST_SORTABLE=true

# OAuth Settings
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

KEYCLOAK_REALM=quepid
KEYCLOAK_SITE=http://keycloak:9080

# ActiveRecord Encryption Keys
# Generate them via bin/rails db:encryption:init
ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=your-32-character-key-here
ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=your-32-character-salt-here
ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=your-32-character-primary-key-here
