# VIM swp
*.swp

# Project files
.idea/

# Mac
.DS_Store

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore vagrant artifacts
.vagrant
vagrant.rb

# Ignore bower artifacts
/vendor/assets/bower_components

# Ignore local env file
/.envrc
.env

# Ignore node artifacts
node_modules
npm-debug.log

# Rails assets
# Ignore compiled assets
public/assets

# Test Coverage
coverage/

# Docker artifacts
public/srv
