# Demonstrate how to load your own local copy of a node package into Quepid.
# Commonly used when you are developing against an unreleased package.

version: '3'
services:
  app:
    volumes:
      - /Users/epugh/Documents/projects/splainer-search/package.json:/srv/app/node_modules/splainer-search/package.json
      - /Users/epugh/Documents/projects/splainer-search/splainer-search.js:/srv/app/node_modules/splainer-search/splainer-search.js
      - /Users/epugh/Documents/projects/quepid-jupyterlite/notebooks:/srv/app/public/notebooks
