services:
  app:
    container_name: quepid_app
    build:
      context: .
      dockerfile: Dockerfile.dev
    env_file:
      - .env
    environment:
      # - RAILS_RELATIVE_URL_ROOT=/quepid-app # Use to nest under a context path like tools.mycompany.com/quepid-app
      - DOCKER_CONTAINER=true
      - QUEPID_DOMAIN=tools.dev.mycorp.com
      - LAUNCHY_DRY_RUN=true # dev only letter_opener gem wants to open a browser when sending emails.
      - BROWSER=/dev/null
      - PUPPETEER_SKIP_DOWNLOAD=true
      - PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium
    volumes:
      - .:/srv/app:cached
      - ./log:/log
    ports:
      - 3000:3000
    links:
      - mysql
      - keycloak
      - ollama
    depends_on:
      - mysql
      - keycloak
      - ollama

  mysql:
    container_name: quepid_db
    image: mysql:8.4.3
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=password

  keycloak:
    image: chorus-keycloak
    container_name: keycloak
    build:
      context: ./keycloak
      dockerfile: Dockerfile
    command: start --optimized --import-realm
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
    ports:
      - 9080:9080
    environment:
      - KC_HTTP_ENABLED=true
      - KC_HTTP_PORT=9080
      - KC_HOSTNAME=keycloak
      - KC_HOSTNAME_STRICT=false
      - KC_HOSTNAME_STRICT_HTTPS=false
      - PROXY_ADDRESS_FORWARDING=true
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=password
      - DB_VENDOR=h2
    volumes:
      - ./keycloak/realm-config/quepid-realm.json:/opt/keycloak/data/import/quepid-realm.json:ro    

  # You can remove Ollama (and the links to it from app) if you don't want to use it to power AI judges
  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ./volumes/ollama/data:/tmp/data
    environment:
      OLLAMA_MODELS: "/tmp/data/.ollama/models"
      
  nginx:
    image: nginx:1.28.0-alpine-slim
    container_name: quepid_nginx
    ports:
      - "443:8443"
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./.ssl/:/etc/nginx/certs
    links:
      - app
