version: '3'

services:
  app:
    container_name: quepid_app
    build:
      context: .
      dockerfile: Dockerfile.dev
    env_file:
      - .env
    environment:
      - LAUNCHY_DRY_RUN=true # dev only letter_opener gem wants to open a browser when sending emails.
      - BROWSER=/dev/null
      - REDIS_URL=redis://redis:6739/1
    volumes:
      - .:/srv/app
      - ./log:/log
    ports:
      - 3000:3000
    links:
      - mysql
      - redis
      - keycloak
    depends_on:
      - mysql
      - redis
      - keycloak

  mysql:
    container_name: quepid_db
    image: amd64/mysql:5.7.36
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=password

  redis:
    container_name: quepid_redis
    image: redis:6.0.5
    ports:
      - 6379:6379

  keycloak:
    image: quay.io/keycloak/keycloak:13.0.0
    container_name: quepid_keycloak
    hostname: keycloak
    command: ["-b", "0.0.0.0", "-Dkeycloak.migration.action=import", "-Dkeycloak.migration.provider=dir", "-Dkeycloak.migration.dir=/opt/jboss/keycloak/realm-config", "-Dkeycloak.migration.strategy=OVERWRITE_EXISTING", "-Djboss.socket.binding.port-offset=1000", "-Dkeycloak.profile.feature.upload_scripts=enabled"]
    ports:
      - 9080:9080
      - 9443:9443
    environment:
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: password
      DB_VENDOR: h2
    volumes:
      - ./keycloak/realm-config:/opt/jboss/keycloak/realm-config

  nginx:
    image: nginx:1.21.4
    container_name: quepid_nginx
    ports:
      - "443:8443"
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./.ssl/:/etc/nginx/certs
    links:
      - app
