<div class="modal-header">
  <button type="button" class="close btn-core-close" ng-click="ctrl.cancel()" aria-label="Close"></button>
  <h3 class="modal-title">Import Quepid Case</h3>
</div>
<div class="modal-body">
  <p>Importing a Quepid Case is useful when you are migrating between Quepid installs or if you want to create your Case outside of Quepid.
  </p>
  <p>
    Your best option for understanding the format is to just export a case and use that as a template.  Importing will create a brand new Case.
    Before the import happens Quepid will validate your Case data structures.
  </p>

  <p>Select JSON file to import:</p>

  <input type="file" id="caseJson" name="caseJson"
    accept="application/json" 
  />

  <div ng-show="ctrl.import.alert" class="{{ ctrl.import.alert.type }}" ng-bind-html="ctrl.import.alert.text">
  </div>

</div>
<div class="modal-footer">
  <button
    class="btn btn-success"
    ng-click="ctrl.ok()"
    ng-disabled='ctrl.import.loading'
  >
    <i ng-show='ctrl.import.loading' class='glyphicon glyphicon-refresh spintime'></i>
    Import
  </button>
  <button class="btn btn-default" ng-click="ctrl.cancel()">Cancel</button>
</div>
