<div class="btn-group" uib-dropdown>
  <button type="button" id="import-button" class="btn btn-default" uib-dropdown-toggle>
    <i class="bi bi-cloud-arrow-up"></i>
    Import
    <i class="caret"></i>
  </button>

  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="import-button">
    <li role="menuitem">
      <a ng-click="ctrl.import.promptModalCase()">
        Create New Quepid Case from JSON
      </a>      
      <a ng-click="ctrl.import.promptModalSnapshot()">
        Import Snapshots From CSV
      </a>      
    </li>
  </ul>
</div>
