<div class="modal-header">
  <button type="button" class="close btn-core-close" ng-click="ctrl.cancel()" aria-label="Close"></button>
  <h3 class="modal-title">Permission Denied!</h3>
</div>

<div class="modal-body">
  <p>
    You don't have permission to create a case.
  </p>

  <p>
    However, since everyone currently has unlimited permissions, this is probably a bug.
  </p>

  <p>
    Please contact Quepid Qommunity and report this!
  </p>
</div>

<div class="modal-footer">
  <!--button class="btn btn-primary" ng-click="ctrl.ok()">Upgrade Account</button-->
  <button class="btn btn-default" ng-click="ctrl.cancel()">Cancel</button>
</div>
