<div>

  <div class="container">
    <div ng-controller="CurateCtrl">
      <div style="padding: 10px" class="row" >
        <div class="col-md-8 col-md-offset-4">
          <div
            class="pull-right"
            style="cursor: text; margin-left: 3em;"
            ng-controller="CurrSettingsCtrl"
          >
            <h2>
              Evaluating:
              &quot;<a ng-click="curate.navigateToTry()">{{curate.tryName}}</a>&quot;
            </h2>
          </div>
          <div class="input-append pull-right">
            <form ng-submit="curate.newSearch()">
              <input
                style="display:inline-block"
                id="searchBox"
                class="form-control"
                auto-focus="curate.numSearches()"
                placeholder="Try a Search"
                ng-model="curate.searchString" />
              <input
                style="display:inline-block"
                type="submit"
                class="btn btn-primary"
                value="Search" />
            </form>
          </div>
        </div>
      </div>
      <div style="background: #fff" id="query-container">
        <div style="padding: 10px" class="row">
          <div class="col-md-4">
            <span ng-if="query"><a target="_blank" href="{{query.browseUrl()}}">{{query.numFound}} results</a> for <em>{{query.queryText}}</em></span>
          </div>
          <div class="col-md-8">
            <button ng-if="query" ng-controller="TargetedSearchCtrl" class="pull-right btn btn-default" ng-click="targetedSearch.triggerModal()">Rate Missing Documents</button>
          </div>
        </div>
        <div ng-if="query">
          <search-result
            explain-view="'full'"
            class="search-result"
            ng-repeat="doc in query.docs track by doc.id"
            max-doc-score="query.maxDocScore()"
            doc="doc"
            field-spec="query.fieldSpec"
            rank="{{$index + 1}}"
            query="query"
            doc-id="doc.id"
          >
          </search-result>
        </div>
      </div>
  </div>
  </div>
</div>
