 <div class="well well-sm">
  <div class="form-group clearfix">
    <label class="col-sm-3 control-label">Custom Headers</label>
    <div class="col-sm-9">
      <select class="form-control" ng-model="settings.headerType" ng-change="updateHeaders()">
        <option>None</option>
        <option>API Key</option>
        <option>Custom</option>
      </select>
      <div id='custom-header-editor' ui-ace="{
          require:      ['ace/ext/language_tools'],
          useWrapMode:  false,
          mode:         'json',
          theme:        'chrome'
        }" ng-model="settings.customHeaders">
      </div>

      <p class="help-block">If you need to send headers to authenticate with your search engine you can specify them here.</p>
    </div>
  </div>
</div>

