<div style="margin: 20px">
  <h3>Detailed Document View of doc: {{doc.id}}</h3>
  <h4>{{doc.title}}</h4>

  <div ng-repeat="(subName, subValue) in doc.subs" class="row" style="margin-bottom: 10px">
    <div class="col-md-4">{{subName}}</div>

    <div class="col-md-8">
      <span
        ng-if="isObjectOrArray(subValue)"
      >
        <json-explorer
          json-data="subValue"
          collapsed="false">
        </json-explorer>
      </span>

      <span
        ng-bind-html="subValue"
        ng-if="!isObjectOrArray(subValue)"
      >
      </span>
    </div>
  </div>

  <div ng-repeat="(fieldName, fieldValue) in doc.translations" class="row" style="margin-bottom: 10px">
    <div class="col-md-4">{{fieldName}}</div>
    <div class="col-md-8">{{fieldValue}}</div>
  </div>

  <div ng-repeat="(fieldName, fieldValue) in doc.embeds" class="row" style="margin-bottom: 10px">
    <div class="col-md-4">{{fieldName}}</div>
    <div class="col-md-8">{{fieldValue}}</div>
  </div>

  <div ng-show="doc.hasThumb()" class="row" style="margin-bottom: 10px">
    <div class="col-md-4">Thumb</div>
    <div class="col-md-8">{{doc.thumb}}</div>
  </div>
  <div ng-show="doc.hasImage()" class="row" style="margin-bottom: 10px">
    <div class="col-md-4">Image</div>
    <div class="col-md-8">{{doc.image}}</div>
  </div>

  <a class="btn btn-primary" href="{{doc._url()}}" target="_blank">
    View Document
  </a>

  <a class="btn btn-default" ng-click="cancel()" target="_blank">
    Close
  </a>
</div>
