<!-- queryParams.js is the controller -->
<div id="queryParamsArea">
  <ul class="nav nav-tabs">
    <li ng-class="{tabBoxSelected: qp.curTab == 'developer'}" id="developerTab" ng-click="qp.toggleTab('developer')">
      Query</li>
    <li ng-class="{tabBoxSelected: qp.curTab == 'curator'}" id="curatorTab" ng-click="qp.toggleTab('curator')">
      Tuning Knobs</li>
    <li ng-class="{tabBoxSelected: qp.curTab == 'engineSettings'}" id="engineTab"
      ng-click="qp.toggleTab('engineSettings')">Settings</li>
    <li ng-class="{tabBoxSelected: qp.curTab == 'history'}" id="historyTab" ng-click="qp.toggleTab('history')">
      History</li>
    <li ng-class="{tabBoxSelected: qp.curTab == 'annotations'}" id="annotationsTab"
      ng-click="qp.toggleTab('annotations')">Annotations</li>
  </ul>

  <div id="queryParamsCanvas">
    <!-- Query Sandbox -->
    <div class="settings-tab query-sandbox" ng-show="qp.curTab == 'developer'">
      <p ng-if="settings.searchEngine == 'static'">
        With a Static search endpoint there are no query settings to play with ;-(.
      </p>
      <div ng-if="settings.searchEngine !== 'static'" class="rerunnable-settings-tab" id='query-params-editor'>
        <h4 class="pull-left">Query Sandbox:</h4>
        <p class="pull-right">
          <a href="http://quepidapp.com/docs/#tuning" class="query-help" target="_blank">
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
          </a>
        </p>


        <div class='clearfix'></div>

        <p ng-show="showQueryParamsWarning" id="query-params-warn" class="alert alert-warning"
          ng-bind-html="queryParamsWarning">{{ queryParamsWarning }}</p>

        <textarea class="form-control" ng-show="settings.searchEngine == 'solr'" name="queryParams"
          ng-model="settings.selectedTry.queryParams" ng-change="validateQueryParams()"></textarea>

        <div id='es-query-params-editor' class='es-query-params' ng-show="settings.searchEngine == 'es'" ui-ace="{
            require:      ['ace/ext/language_tools'],
            useWrapMode:  false,
            mode:         'json',
            theme:        'chrome'
          }" ng-model="settings.selectedTry.queryParams">
        </div>

        <div id='os-query-params-editor' class='os-query-params' ng-show="settings.searchEngine == 'os'" ui-ace="{
            require:      ['ace/ext/language_tools'],
            useWrapMode:  false,
            mode:         'json',
            theme:        'chrome'
          }" ng-model="settings.selectedTry.queryParams">
        </div>

        <div id='vectara-query-params-editor' class='vectara-query-params' ng-show="settings.searchEngine == 'vectara'"
          ui-ace="{
            require:      ['ace/ext/language_tools'],
            useWrapMode:  false,
            mode:         'json',
            theme:        'chrome'
          }" ng-model="settings.selectedTry.queryParams">
        </div>

        <div id='algolia-query-params-editor' class='algolia-query-params' ng-show="settings.searchEngine == 'algolia'"
          ui-ace="{
            require:      ['ace/ext/language_tools'],
            useWrapMode:  false,
            mode:         'json',
            theme:        'chrome'
          }" ng-model="settings.selectedTry.queryParams">
        </div>

        <div id='searchapi-query-params-editor' class='searchapi-query-params' ng-show="settings.searchEngine == 'searchapi'" ui-ace="{
            require:      ['ace/ext/language_tools'],
            useWrapMode:  false,
            mode:         'json',
            theme:        'chrome',
            showGutter:   settings.apiMethod == 'POST'
          }" ng-model="settings.selectedTry.queryParams">
        </div>

      </div> <!-- end .rerunnable-settings-tab -->
    </div> <!-- end .settings-tab (Query Sandbox) -->

    <!-- Variables -->
    <div class="settings-tab" ng-show="qp.curTab == 'curator'">
      <div class="rerunnable-settings-tab">
        <p ng-if="settings.searchEngine == 'static'">
          With a Static search endpoint there are no tuning knobs to play with ;-(.
        </p>
        <div ng-if="settings.searchEngine !== 'static'">
          <p ng-show="settings.selectedTry.curatorVars.length == 0">
            What's this tab do? Knobs allow you to fine tune your search!
            Define variables in your query template with <code>##</code>, such as this boost:
            <code>title^##titleBoost##</code>.
            Play with the values in this tab. Submit to rerun with the new values!
          </p>

          <h4>Tuning Knobs</h4>

          <p class="help-block tip">
            Add and remove knobs from here by editing your query.
          </p>
          <div ng-repeat="curatorVar in settings.selectedTry.curatorVars">
            <div ng-show="curatorVar.inQueryParams" class="slider-wrap clearfix">
              <label>{{ curatorVar.name }}:</label>
              <input type="number" class="slider-val" min=0 max=10000000000 ng-model="curatorVar.value" auto-grow />
              <p ng-show="curatorVar.inQueryParams != true">
                This knob/dial is not currently used by the query!
              </p>
            </div>
          </div>
        </div> <!-- end .rerunnable-settings-tab -->
      </div>
    </div> <!-- end .settings-tab (Variables) -->

    <!-- Settings -->
    <div class="settings-tab" ng-show="qp.curTab == 'engineSettings'"
      ng-init="devSettingsFields.toggle = devSettingsEndpointDetails.toggle = devSettingsSearchEngine.toggle = devSettingsNumResults.toggle = true">
      <div class="rerunnable-settings-tab">
        <!-- Search Engine -->
        <div class="setting-div">
          <div class="dev-header" ng-click="devSettingsSearchEndpoint.toggle = !devSettingsSearchEndpoint.toggle">
            Search Endpoints <span
              ng-class="{true: 'glyphicon-plus-sign', false: 'glyphicon-minus-sign'}[!devSettingsSearchEndpoint.toggle]"
              class="glyphicon"></span>
          </div>


          <div class="dev-body" ng-show="devSettingsSearchEndpoint.toggle">
            Pick Shared Endpoints:<br />
            <span ng-show="listSearchEndpoints().length == 0">
              You do not have any search endpoints shared with this case.  Share the case with a team first.
            </span>
            <div>
              <select ng-model="settings.searchEndpointId"
                ng-options="searchEndpoint.id as searchEndpoint.name for searchEndpoint in listSearchEndpoints()"
                class="form-control">
              </select>
              <br />OR<br />

              <input type="text" ng-model="selectedItem" placeholder="Select endpoint to use"
                uib-typeahead="searchEndpoint as searchEndpoint.name for searchEndpoint in searchOptions($viewValue)"
                typeahead-template-url="views/searchEndpoint_popup.html" class="form-control" typeahead-show-hint="true"
                typeahead-min-length="0" typeahead-editable="false" typeahead-select-on-exact="false"
                typeahead-no-results="noResults" typeahead-on-select="onSelectSearchEndpoint($item)"/>
              <div ng-if="noResults">
                No search endpoints found. Check your spelling!
              </div>
            </div>
          </div>
        </div>
        <!-- end of Search Engine -->

        <!-- Search Endpoint -->
        <div class="setting-div">
          <div class="dev-header" ng-click="devSettingsEndpointDetails.toggle = !devSettingsEndpointDetails.toggle">
            Endpoint Details <span
              ng-class="{true: 'glyphicon-plus-sign', false: 'glyphicon-minus-sign'}[!devSettingsEndpointDetails.toggle]"
              class="glyphicon"></span>
          </div>


          <div class="dev-body" ng-show="devSettingsEndpointDetails.toggle">

            <p ng-if="settings.selectedTry.endpointArchived" class="alert alert-warning">
              <span class="glyphicon glyphicon-warning-sign"></span>
              This search endpoint has been archived. Consider switching to an active endpoint.
            </p>

            <p>
              Name: {{ settings.selectedTry.endpointName }}
            </p>
            <p>
              <img ng-if="settings.selectedTry.searchEngine"
                ng-src="images/{{ settings.selectedTry.searchEngine }}-icon.png" width="32px" /> &nbsp;
              {{settings.searchUrl}}
            </p>
            <p>
              <a ng-href="{{createSearchEndpointLink(settings.selectedTry.searchEndpointId)}}" target="_self">More</a>
            </p>
            <p>
              <span ng-show="showTLSChangeWarning">
                You have specified a search engine url that is on a different protocol (
                <code>{{protocolToSwitchTo}}</code> ) than Quepid is on. Please either <a href="{{createSearchEndpointLink(settingsSvc.editableSettings().searchEndpointId)}}/edit" target="_self">swap to the proxied connection</a>, or make sure the search endpoint is running on the same HTTP protocol.
                This is to comply with browser security constraints.
              </span>
            </p>
          </div>
        </div>
        <!-- end of Search Endpoint -->

        <!-- Display Fields -->
        <div class="setting-div" ng-init="validateSearchEngineUrl()">
          <div class="dev-header" ng-click="devSettingsFields.toggle = !devSettingsFields.toggle">
            Displayed Fields <span
              ng-class="{true: 'glyphicon-plus-sign', false: 'glyphicon-minus-sign'}[!devSettingsFields.toggle]"
              class="glyphicon"></span>
          </div>

          <div class="dev-body" ng-show="devSettingsFields.toggle">
            <input class="form-control" name="fields" ng-model="settings.fieldSpec" class="ng-pristine ng-valid"
              style="margin-bottom: 10px">
            <span ng-show="showESTemplateWarning">
              When using ES/OS Query Templates, make sure that either your template includes the fields
              above in its
              source field filter section (<code>_source</code> declaration) or does not restrict the
              fields returned via
              <code>_source</code> at all.
            </span>
          </div>
        </div>
        <!-- end of Display Fields -->

        <!-- Number of Rows -->
        <div class="setting-div">
          <div class="dev-header" ng-click="devSettingsNumResults.toggle = !devSettingsNumResults.toggle">
            Number of Results to Show <span
              ng-class="{true: 'glyphicon-plus-sign', false: 'glyphicon-minus-sign'}[!devSettingsNumResults.toggle]"
              class="glyphicon"></span>
          </div>

          <div class="dev-setting-attribute" ng-show="devSettingsNumResults.toggle">
            <input class="form-control" name="fields" ng-model="settings.numberOfRows" style="margin-bottom: 10px"
              max="100" maxlength="3" size="3" type="number" />
          </div>
        </div>
        <!-- end of Number of Rows -->

        <!-- Nightly Queries -->
        <div class="setting-div">
          <div class="dev-header" ng-click="devSettingsNightly.toggle = !devSettingsNightly.toggle">
            Evaluate Nightly? <span
              ng-class="{true: 'glyphicon-plus-sign', false: 'glyphicon-minus-sign'}[!devSettingsNightly.toggle]"
              class="glyphicon"></span>
          </div>

          <div class="dev-body checkbox" ng-show="devSettingsNightly.toggle" ng-controller="CaseCtrl as ctrl">            
            <label>
            <input type="checkbox" ng-model="caseModel.selectedCase().nightly" ng-change="updateNightly()"/> Evaluate Case Nightly <i class="bi bi-repeat"></i>
            </label>

            <p class="pull-right">
              <span class="label label-info">
                <a href="#"
                  uib-tooltip-html="'Run all the queries every night and store the results<br/> and the scores as a snapshot.'"
                  tooltip-placement="left">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </a>
              </span>
            </p>
            <button ng-click="runCaseInBackground(caseNo, settings.selectedTry.tryNo)"
                    ng-disabled="runningEvaluation"
                    class="btn btn-primary form-control">
                <span ng-hide="runningEvaluation">Rerun My Searches Now in the Background!</span>
                <span ng-show="runningEvaluation">Queuing evaluation job...</span>
            </button>
           <!--  -->
          </div>
        </div>
        <!-- end of Nightly Queries -->
        
        <!-- Escape Queries -->
        <div class="setting-div">
          <div class="dev-header" ng-click="devSettingsEscapeQueries.toggle = !devSettingsEscapeQueries.toggle">
            Escape Queries <span
              ng-class="{true: 'glyphicon-plus-sign', false: 'glyphicon-minus-sign'}[!devSettingsEscapeQueries.toggle]"
              class="glyphicon"></span>
          </div>

          <div class="dev-body checkbox" ng-show="devSettingsEscapeQueries.toggle">
            <label>
              <input type="checkbox" ng-model="settings.escapeQuery"> Escape Queries
            </label>

            <p class="pull-right">
              <span class="label label-info">
                <a href="#"
                  uib-tooltip-html="'(advanced) -- If your queries use Solr|Elasticsearch|OpenSearch <br/>query syntax (like text:law) then disable this feature'"
                  tooltip-placement="left">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </a>
              </span>
            </p>
          </div>
        </div>
        <!-- end of Escape Queries -->

      </div> <!-- end .rerunnable-settings-tab -->
    </div> <!-- end .settings-tab (Settings) -->

    <!-- History -->
    <div class="settings-tab" ng-show="qp.curTab == 'history'">
      <div class="container">
        <p>
          <a ng-href="analytics/tries_visualization/{{ caseNo }}" target="_self">Visualize your tries</a> |
          <a ng-href="cases/{{ caseNo }}/scores" target="_self">Check Scores</a> |
          <a ng-href="cases/{{ caseNo }}/ratings" target="_self">Check Ratings</a>
        </p>
        <p>
          To switch back to a previous try, click on the try listing.<br />
          Click on the "..." when you hover over a listing to edit a try.
        </p>

        <query-params-history settings="settings" class="ng-isolate-scope ng-scope clearfix">
        </query-params-history>
      </div>
    </div> <!-- end .settings-tab (History) -->

    <div class="settings-tab clearfix" ng-show="qp.curTab == 'annotations'" style='height: 100%;'>
      <annotations></annotations>
    </div> <!-- end .settings-tab (Annotations) -->
  </div> <!-- end #queryParamsCanvas -->
</div> <!-- end #queryParamsArea -->

<span ng-show="qp.curTab == 'developer' || qp.curTab == 'engineSettings' || qp.curTab == 'curator'">
  <span ng-show="showTLSChangeWarning">
    <a href="{{quepidUrlToSwitchTo}}" class="btn btn-primary form-control">
      <span class="glyphicon glyphicon-refresh"></span> Reload Quepid in <code>{{protocolToSwitchTo}}</code>
      Protocol
    </a>
  </span>

  <span ng-show="!showTLSChangeWarning" id="query-sandbox-action" ng-click="settings.submit()"
    class="btn btn-primary form-control">
    Rerun My Searches!
  </span>
</span>
