<div class="modal-header">
  <button type="button" class="close btn-core-close" ng-click="ctrl.cancel()" aria-label="Close"></button>
  <h3 class="modal-title">How would you like to score this case?</h3>
</div>
<div class="modal-body">
  <div ng-if="!scorerAccessible" class="alert alert-warning" role="alert">
    The scorer {{activeScorer.name}} used by this case is NOT shared via a team with you, so if you switch away from it you won't have access to it again.
  </div>
  <div class="row" style="max-height:300px;overflow-y:auto">
    <h4>Select from defaults:</h4>
    <ul class="list-group">
      <li class="list-group-item"
      ng-repeat="scorer in communalScorers track by scorer.scorerId"
        ng-class="{ active: scorer.scorerId === activeScorer.scorerId }"
        ng-click="selectScorer(scorer)">
        {{scorer.name}}
      </li>
    </ul>

    <div ng-show="!communalScorersOnly"><h4>Or select from your own custom scorers:</h4></div>
    <ul class="list-group">
      <li class="list-group-item"
      ng-repeat="scorer in userScorers track by scorer.scorerId"
        ng-class="{ active: scorer.scorerId === activeScorer.scorerId }"
        ng-click="selectScorer(scorer)">
        {{scorer.name}}
      </li>
    </ul>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary pull-left" ng-click="gotoScorers()" ng-show="!communalScorersOnly">
    <i class="glyphicon glyphicon-plus" style="color: #FFF"></i>
    Create New Scorer
  </button>
  <button class="btn btn-success" ng-click="ok()">Select Scorer</button>
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
