<div class="modal-header">
  <h3>Score this query seperately "unit test" style?</h3>
</div>
<div class="modal-body">
  <div ng-if="attachType === 'query'">
    <div class="radio">
      <label>
        <input type="radio" ng-model="scorerSelector" value="pre" ng-change="updateButtonLabel(scorerSelector)">
        Stick to the existing Case scorer.
      </label>
    </div>

    <div class="radio">
      <label>
        <input type="radio" ng-model="scorerSelector" value="ad-hoc" ng-change="updateButtonLabel(scorerSelector)">
        Test with an ad-hoc scorer:
      </label>
    </div>

    <div ng-show="scorerSelector === 'ad-hoc'">
      <ad-hoc-scorer scorer="scorer"></ad-hoc-scorer>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-success" ng-click="ok()">{{okButtonLabel}}</button>
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
