<!-- queriesCtrl.js is the ng-controller -->
<div id="main">
  <div class="pane_container">
    <div class="pane_main results-control">
      <div id="case-header" class="row">
        <div class="col-sm-12">
          <div style="display: inline-flex; align-items: flex-start;">
            <!-- Current case score -->
            <qscore-case
              annotations="annotations"
              class="case-score"
              max-score="maxScore || 1";
              scorable="queries.avgQuery"
              score-label="getScorer().name"
              scores="scores"
            >
            </qscore-case>
            
            <!-- Snapshot case scores -->
            <qscore-case
              ng-if="queries.avgQuery.diffs"
              ng-repeat="searcher in queries.avgQuery.diffs.getSearchers() track by $index"
              class="case-score diff-score"
              max-score="maxScore || 1";
              scorable="searcher"
              score-label="searcher.name()"
              scores="[]"
              annotations="[]"
            >
            </qscore-case>
          </div>

          <div ng-controller="CaseCtrl" style="display:inline-block;vertical-align:top">
            <h1 class="">
              <small class="text-muted">Current case <i class="bi bi-repeat" ng-show="caseModel.selectedCase().nightly" uib-tooltip="Queries are run on a nightly basis." tooltip-popup-delay="1000" tooltip-placement="right"></i></small>
              <span ng-show="caseModel.selectedCase().public">PUBLIC</span>
              <span ng-show="caseModel.selectedCase().archived">ARCHIVED</span>
              
              <br>
              <span ng-dblclick="caseNameEditModeToggle()">
                <span ng-hide="caseName.startRename">
                  {{ caseModel.selectedCase().caseName }}
                </span>
                <span ng-show="caseName.startRename">
                  <form class="form-inline" ng-submit="caseName.rename()">
                      <input style="background:#FFFF99" type="text" ng-model="caseName.name" />
                      <input type="submit" class="btn btn-sm btn-primary" value="Rename" />
                      <button class="btn btn-sm btn-default" ng-click="caseName.cancel()">Cancel</button>
                  </form>
                </span>
              </span>

              <small class="text-muted" ng-controller="CurrSettingsCtrl">
                &mdash;
                <span ng-dblclick="tryNameEditModeToggle()">
                  <span ng-hide="tryName.startRename">
                    {{ currentTry.selectedTry().formattedName() }}
                  </span>
                </span>
                <span ng-show="tryName.startRename">
                  <form class="form-inline" ng-submit="tryName.rename()">
                      <input style="background:#FFFF99" type="text" ng-model="tryName.name" />
                      <input type="submit" class="btn btn-sm btn-primary" value="Rename" />
                      <button class="btn btn-sm btn-default" ng-click="tryName.cancel()">Cancel</button>
                  </form>
                </span>
              </small>

              <small class="text-muted">
                &mdash;
                {{ getScorer().name }}
              </small>
            </h1>
          </div>
        </div>
      </div>

      <div id="case-actions" class="row" ng-controller="CaseCtrl">
        <div class="col-sm-12" ng-if="caseModel.caseLoaded()">
          <ul class="list-inline">
            <li>
              <span class="glyphicon glyphicon-tasks"></span>
              <a name="button" ng-click="pickCaseScorer()">
                Select scorer
              </a>
            </li>
            <li>
              <judgements
                acase="caseModel.selectedCase()"
              </judgements>
            </li>
            <li>
              <span class="glyphicon glyphicon-camera"></span>
              <a ng-controller="TakeSnapshotCtrl" type="button" ng-click="snapshot.prompt()">
                Create snapshot
              </a>
            </li>
            <li>
              <diff></diff>
            </li>
            <li>
              <import-ratings
                acase="caseModel.selectedCase()"
              ></import-ratings>
            </li>
            <li>
              <share-case
                acase="caseModel.selectedCase()"
              ></share-case>
            </li>
            <li>
              <clone-case
                acase="caseModel.selectedCase()"
              ></clone-case>
            </li>
            <li>
              <delete-case-options
                acase="caseModel.selectedCase()"
              ></delete-case-options>
            </li>
            <li>
              <export-case
                icon-only="false"
                acase="caseModel.selectedCase()"
                supports-detailed-export="true"
              ></export-case>
            </li>
            <li id="tune-relevance-link">
              <span class="glyphicon glyphicon-wrench"></span>
              <a type="button" ng-click="toggleDevSettings()">
                Tune Relevance
              </a>
            </li>
          </ul>
        </div>
      </div> <!-- end of #case-actions -->

      <!-- see queries directive -->
      <queries></queries>

      <div ng-controller="WizardCtrl"></div>
    </div>

    <div class="east-slider">
    </div>

    <div class="pane_east">
      <ng-include src="'views/_dev_settings.html'"></ng-include>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
