<div class="results" id="query-container">
  <div class="row">
    <div class="col-sm-12 mb-3">
      <div class="float-start">
        <add-query></add-query>
      </div>

      <ul class="list-inline float-end">
        <li class="list-inline-item">
          <input type="checkbox" class="align-top" ng-checked="queriesSvc.showOnlyRated" ng-click="queriesSvc.toggleShowOnlyRated()" />
          <a href="" ng-click="queriesSvc.toggleShowOnlyRated()">Show only rated</a>
        </li>

        <li class="list-inline-item text-muted">
          <span class="text-muted"> | </span>
        </li>

        <li class="list-inline-item">
          <a ng-click="collapseAll()" href="">Collapse all</a>
        </li>

        <li class="list-inline-item text-muted">
          <span class="text-muted"> | </span>
        </li>

        <li class="list-inline-item">
          <span class="text-muted">Sort &nbsp;</span>

          <ul class="list-inline" style="display:inline" role="group" aria-label="sort">
            <li class="list-inline-item" ng-if="queryListSortable">
              <a ng-class="{active: sort == 'defaultCaseOrder'}" ng-click="sortBy('default')">
                Manual
                <i ng-show="sortName == 'default'"
                      class="bi"
                      ng-class="reverse ? 'bi-arrow-up' : 'bi-arrow-down'"
                      aria-hidden="true">
                </i>
              </a>
            </li>
            <li class="list-inline-item" ng-if="!queryListSortable">
              Manual
              <i class="bi bi-exclamation-circle-fill" aria-hidden="true" popover-trigger="'mouseenter'" popover-placement="right" quepid-popover="Manual sorting has been disabled by your administrator due to the bug https://github.com/o19s/quepid/issues/272."></i>
            </li>

            <li class="list-inline-item">
              <a ng-class="{active: sort == 'queryText'}" ng-click="sortBy('query')">
                Name
                <i ng-show="sortName == 'query'"
                  class="bi"
                  ng-class="reverse ? 'bi-arrow-up' : 'bi-arrow-down'"
                  aria-hidden="true">
                </i>
              </a>
            </li>

            <li class="list-inline-item">
               <a ng-class="{active: sort == 'modified'}" ng-click="sortBy('modified')">
                 Modified
                 <i ng-show="sortName == 'modified'"
                       class="bi"
                       ng-class="reverse ? 'bi-arrow-up' : 'bi-arrow-down'"
                       aria-hidden="true">
                 </i>
               </a>
             </li>

            <li class="list-inline-item">
              <a ng-class="{active: sort == 'lastScore'}" ng-click="sortBy('score')">
                Score
                <i ng-show="sortName == 'score'"
                  class="bi"
                  ng-class="reverse ? 'bi-arrow-up' : 'bi-arrow-down'"
                  aria-hidden="true">
                </i>
              </a>
            </li>

            <li class="list-inline-item">
              <a ng-class="{active: sort == 'errorText'}" ng-click="sortBy('error')">
                Errors
                <i ng-show="sortName == 'error'"
                  class="bi"
                  ng-class="reverse ? 'bi-arrow-up' : 'bi-arrow-down'"
                  aria-hidden="true">
                </i>
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="clearfix"></div>

      <div class="float-end p-r-10">
        Number of Queries: {{ queriesList.length }}
      </div>
      <div class="float-end p-r-10">
        <input type="search" ng-model="queryFilter" placeholder="Filter Queries" aria-label="filter queries" class="form-control form-control-sm" id='queries-filter' />
      </div>
      <div class="float-end p-r-10">
        <frog-report
          the-case="caseSvc.selectedCase()"

        ></frog-report>
      </div>

      <div class="clearfix"></div>

      <div ng-show="isBootstrapping()" class="alert alert-info search-feedback" role="alert">
        <i class="bi bi-arrow-repeat spintime"></i> <span ng-if="isBootstrapping()">Bootstrapping Queries</span>
      </div>
      
      <div ng-show="searching()" class="alert alert-info search-feedback" role="alert">
        <i class="bi bi-arrow-repeat spintime"></i> Updating Queries: {{batchPosition}} / {{batchSize}}
        <small class="text-muted">If the counter stalls, do a hard refresh of Quepid.</small>
      </div>

      <!-- let the user know what we're looking at-->
      <ul class="results-list-element" ui-sortable="queries.sortableOptions" ng-model="queriesList" ng-class="!queryListSortable ? 'unsortable' : dragging === true ? 'dragging' : ''">
        <li ng-class="query.isToggled() ? 'unsortable' : ''" dir-paginate="query in queriesList | filter:matchQueryFilter | orderBy:sort:reverse | itemsPerPage: pagination.pageSize" current-page="pagination.currentPage" >
          <search-results query="query" issortingenabled="queries.isSortingEnabled">
          </search-results>
        </li>
      </ul>

    </div>
  </div>
  <div class="row">
    <div class="col-md-11">
      <dir-pagination-controls></dir-pagination-controls>
    </div>
  </div>
</div>
