<div ng-show="displayed.results == displayed.resultsView.diff">
  <div style="vertical-align: top; display: inline-block; width: 49%">
    <h2>Current Results</h2>
  </div>
  <div style="vertical-align: top; display: inline-block; width: 49%">
    <h2>{{query.diff.name()}}</h2>
  </div>
  <div ng-repeat="docPair in query.docPairs()">
    <div style="vertical-align: top; display: inline-block; width: 49%">
      <search-result
        ng-if="docPair.doc!=null"
        class="search-result"
        explain-view="'full'"
        explain-viewport="'#query-container'"
        max-doc-score="query.maxDocScore()"
        doc="docPair.doc"
        field-spec="query.fieldSpec"
        rank="{{$index + 1}}"
        query="query"
        doc-id="doc.id"
      >
      </search-result>
    </div>
    <div style="vertical-align: top; display: inline-block; width: 49%">
      <div ng-if="$first && docPair.diffDoc === null" class="alert alert-warning" role="alert">
        This query is not present in the snapshot so it is treated as ZSR.
      </div>
      <search-result
        ng-if="docPair.diffDoc!=null"
        class="search-result"
        explain-viewport="'#query-container'"
        explain-view="query.diff.type() === 'snapshot' ? 'full': 'hidden'"
        max-doc-score="query.maxDiffDocScore"        
        doc="docPair.diffDoc"
        field-spec="query.fieldSpec"
        rank="{{$index + 1}}"
        query="query"
        doc-id="doc.id">
      </search-result>
    </div>
  </div>

  <div ng-if="selectedTry.searchEngine == 'solr'">
    <a ng-show="query.state() !== 'error'" class="btn btn-primary full-result" href="{{query.browseUrl()}}" target="_blank">Browse {{query.numFound}} on Solr</a>
  </div>
</div>
