<div class="container">
  <div style="margin: 10px" ng-if="tryName.startRename">
    <form class="form-inline" ng-submit="tryName.rename()">
      <div class="form-group">
        <label>Name:</label><input style="background:#FFFF99" type="text" ng-model="tryName.name" class="form-control" />
        <input type="submit" class="btn btn-sm btn-primary" value="Rename" />
      </div>
    </form>
  </div>
  <h4 ng-if="!tryName.startRename">{{tryName.name}}</h4>

  <div class="row">
    <div class="col-sm-3">
      Arguments
    </div>
    <div class="col-sm-9">
    <pre><code>{{aTry.queryParams}}</code></pre>
  </div>

  <div class="row">
    <div class="col-sm-3">
      {{ aTry.searchEngine | searchEngineName }} Instance
    </div>
    <div class="col-sm-9">
      <div>
        {{aTry.searchUrl}} <a href="{{aTry.searchUrl}}">(link)</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      Displayed Fields
    </div>
    <div class="col-sm-9">
      <div>
        {{aTry.fieldSpec}}
      </div>
    </div>
  </div>


  <div style="padding-top: 20px" class="row">
    <h4>Variables</h4>
  </div>

  <div class="row">
    <div  style="text-align: right" class="col-sm-3">
      #$query##
    </div>
    <div class="col-sm-9">
      <div>
        The user's query being searched
      </div>
    </div>
  </div>

  <div ng-repeat="var in aTry.curatorVars" class="row">
    <div style="text-align: right" class="col-sm-3">
      ##{{var.name}}##
    </div>
    <div class="col-sm-9">
        {{var.value}}
    </div>
  </div>

  <hr/>

  <div class="row" style="padding: 10px">
    <div class="pull-right">
      <button type="button" ng-if="tryName.startRename" ng-click="tryName.startRename = false" class="btn btn-default">Cancel Rename</button>
      <button type="button" ng-if="!tryName.startRename" ng-click="tryName.startRename = true" class="btn btn-default">Rename</button>
      <button type="button" ng-click="duplicateTry(aTry)" class="btn btn-default">Duplicate</button>
      <button type="button" ng-disabled="numTries() === 1" ng-click="deleteTry(aTry)" class="btn btn-danger">Delete</button>
      <button type="button" ng-click="cancel()"  class="btn btn-default">Dismiss</button>
    </div>
  </div>
</div>
