<div
  ng-attr-id="{{ 'query-' + query.queryText }}"
  rank="{{$index + 1}}"
  class="clearfix" ng-class="query.state() | queryStateClass">
  <div class="result-header" ng-class="{'dual-query-display': (displayed.results == displayed.resultsView.diff && query.diff) || (displayed.results == displayed.resultsView.multiDiff && query.multiDiff)}">
    <!-- Current query score -->
    <qscore-query
      class="results-score"
      max-score="maxScore || 100";
      scorable="query"
      show-diff="displayed.results == displayed.resultsView.diff || displayed.results == displayed.resultsView.multiDiff"
    >
    </qscore-query>
    
    <!-- Single snapshot comparison -->
    <qscore-query
      ng-if="displayed.results == displayed.resultsView.diff && query.diff"
      class="results-score diff-score"
      max-score="maxScore || 100";
      scorable="query.diff"
      show-diff="false"
    >
    </qscore-query>
    

    
    <!-- Multiple snapshot comparison -->
    <qscore-query
      ng-if="displayed.results == displayed.resultsView.multiDiff && query.multiDiff"
      ng-repeat="searcher in query.multiDiff.getSearchers() track by $index"
      class="results-score diff-score"
      max-score="maxScore || 100"
      scorable="searcher"
      show-diff="false"
    >
    </qscore-query>

    <span class="loading-query"></span>

    <h2 class="results-title">
      <span class='query' uib-tooltip="Info Need: {{query.informationNeed}}" tooltip-popup-delay="1000" tooltip-placement="right">{{query.queryText}} &nbsp;</span>
    </h2>

    <span class='pull-right total-results'>
      <count-up ng-data="query.getNumFound()" ng-model="numFound" steps="5" time="500" />
      <small class="text-muted">
        <ng-pluralize count="query.getNumFound()"
            when="{'0': 'Results',
                   'one': 'Result',
                   'other': 'Results'}">
        </ng-pluralize>
      </small>
    </span>

    <span class="error-warning glyphicon glyphicon-warning-sign"></span>

    <span ng-show="query.isNotAllRated()" class="pull-right" style="margin-right: 20px;" title="Hop to it!  There are unrated results!">      
      <div class="icon-container">
        <i class="frog-icon">🐸</i>
        <div class="notification-bubble">{{ query.currentScore.countMissingRatings }}</div>
      </div>
    </span>

  
    <span ng-show="querqyRuleTriggered()" class="pull-right" style="margin-right: 20px;" title="Querqy Strikes Again!">
      <i class="querqy-icon"></i>   
    </span>
    
    <span class="toggleSign glyphicon {{query.isToggled() | plusOrMinus}}" ng-hide="isSortingEnabled()" ng-click="query.toggle()"></span>
  </div>

  <div ng-if="query.isToggled()" class="sub-results container clearfix">
    <div class="col-ratings query-rating">
      <strong>Score All</strong>
      <div class="ratings">
        <div class="single-rating" ng-click="ratings.open()" uib-popover-template="'views/ratings/popover.html'" popover-trigger="outsideClick" popover-placement="auto right" popover-is-open="ratings.ratingsOn">
          <span class="btn" ng-style="{rating: displayRating(), scale: ratings.scale} | ratingBgStyle">{{displayRating()}} <span class="caret"></span></span>
        </div>
      </div>
    </div>

    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <button class="btn btn-default btn-sm" ngclipboard data-clipboard-text="{{query.queryText}}">
          <i
          class="glyphicon glyphicon-copy"
          aria-hidden="true"
          title="Copy query"
          alt="Copy query"
        ></i></button>
       
      </div>
      
      <div class="btn-group">        
        <button class="btn btn-default btn-sm" ng-click="displayed.notes = !displayed.notes">Toggle Notes</button>
      </div>

      <div class="btn-group">
        <!--button class="btn btn-default btn-sm" ng-class="{true: 'active', false: ''}[displayed.results == displayed.resultsView.results]" ng-click="displayed.results = displayed.resultsView.results">Current Top 10</button-->
        <query-explain query="query"></query-explain>
        <button ng-controller="TargetedSearchCtrl" class="btn btn-default btn-sm" ng-class="{true: 'active', false: ''}[displayed.results == displayed.resultsView.finder]" ng-click="targetedSearch.triggerModal()">Missing Documents</button>
      </div>

      <div class="btn-group">
        <query-options query="query"></query-options>
      </div>

      <div class="btn-group">
        <move-query query="query"></move-query>
        <button class="btn btn-danger btn-sm" ng-click="removeQuery(query.queryId)">Delete Query</button>
      </div>

    </div>

    <!-- Query note taker -->
    <div ng-class="{true: 'notes-box', false: 'hidden'}[displayed.notes]">
      <div ng-controller = 'QueryNotesCtrl as ctrl' class="notes-content">
        <form ng-submit="saveNotes()" class="form-horizontal">
          <div class="form-group">
            <label for="information-need" class="col-sm-2 control-label">Information Need</label>
            <div class="col-sm-10">
              <input type="text" ng-model="informationNeed" class="form-control" id="information" placeholder="Info Need:">
            </div>
          </div>
          <div class="form-group">
            <label for="notes" class="col-sm-2 control-label">Notes on this Query</label>
            <div class="col-sm-10">
              <textarea ng-model="queryNotes" id="notes" class="form-control"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- unified diff display (handles both single and multiple snapshots) -->
    <div ng-controller="QueryMultiDiffResultsCtrl" ng-if="displayed.results == displayed.resultsView.multiDiff">
      <query-multi-diff-results query="query" repeatlength="10" max-score="maxScore">
        Diff Results
      </query-multi-diff-results>
    </div>

    <div ng-if="query.state() === 'error'" class="alert alert-danger" ng-bind-html="query.errorText">
      {{query.errorText}}
    </div>

    <!-- Default search results -->
    <div ng-if="!queriesSvc.showOnlyRated" ng-show="displayed.results == displayed.resultsView.results">
      <search-result explain-viewport="'#query-container'" explain-view="'full'" class="search-result" ng-repeat="doc in query.docs track by doc.id" max-doc-score="query.maxDocScore()" doc="doc" field-spec="query.fieldSpec" rank="{{$index + 1}}" query="query" doc-id="doc.id">
      </search-result>

      <div class='row'>
        <span class="glyphicon glyphicon-chevron-up text-primary" ng-click="query.toggle()" uib-popover="Close the results pane"></span>
        <span ng-if="query.numFound > query.docs.length">
          <a
            class="btn btn-default"
            ng-click="query.paginate()"
          >
            Peek at the next page of results
          </a>
        </span>
        <span ng-if="selectedTry.searchEngine == 'solr'">
          <a ng-show="query.state() !== 'error'" class="btn btn-primary" href="{{query.browseUrl()}}" target="_blank">
            <ng-pluralize count="query.numFound"
                when="{'0': 'Browse {} Results on Solr',
                       'one': 'Browse {} Result on Solr',
                       'other': 'Browse {} Results on Solr'}">
            </ng-pluralize>
          </a>
        </span>

        <span ng-if="query.depthOfRating" class="text-muted text-warning bg-warning clearfix">
          <strong>Note:</strong> Only the top {{query.depthOfRating}} results are used in the scoring calculations.
        </span>
      </div>
    </div>

    <!-- Rated only search results -->
    <div ng-if="queriesSvc.showOnlyRated" ng-show="displayed.results == displayed.resultsView.results">
      <search-result explain-viewport="'#query-container'" explain-view="'full'" class="search-result" ng-repeat="doc in query.ratedDocs track by doc.id" max-doc-score="query.maxDocScore()" doc="doc" field-spec="query.fieldSpec" rank="{{$index + 1}}" query="query" doc-id="doc.id">
      </search-result>

      <div class='row'>
        <span class="glyphicon glyphicon-chevron-up text-primary" ng-click="query.toggle()" uib-popover="Close the results pane"></span>
        <span ng-if="query.getNumFound() > query.ratedDocs.length">
          <a
            ng-show='query.getNumFound() > query.ratedDocs.length'
            class="btn btn-default"
            ng-click="query.ratedPaginate()"
          >
            Peek at the next page of results
          </a>
        </span>
        <span ng-if="selectedTry.searchEngine == 'solr'">
          <a ng-show="query.state() !== 'error'" class="btn btn-primary" href="{{query.browseUrl()}}" target="_blank">
            <ng-pluralize count="query.getNumFound()"
                when="{'0': 'Browse {} Results on Solr',
                       'one': 'Browse {} Result on Solr',
                       'other': 'Browse {} Results on Solr'}">
            </ng-pluralize>
          </a>
        </span>

        <span class="text-muted text-warning bg-warning clearfix">
          <strong>Note:</strong> You are only viewing documents that have been rated
        </span>
      </div>
    </div>

  </div>
</div>
