<div class="jumbotron">
  <div class="row">
    <div class="col-md-3 col-sm-4 col-md-offset-2 col-sm-offset-1">
      <h2>Login</h2>
      <div ng-controller="LoginCtrl">
        <form id="login" ng-submit="submit(email, password)">
          <div class="alert alert-danger" ng-if="warnUndefined">
            Unknown email/password. Try again or sign up!
          </div>
          <div class="alert alert-danger" ng-if="warnErr">
            Unknown email/password combo. Double check you have the correct email address and password, or sign up for a new account.
          </div>
          <div class="alert alert-danger" ng-if="warnInvalid">
            Please provide a valid email address and password.
          </div>
          <div class="alert alert-danger" ng-if="warnLocked">
            Your account is locked.
          </div>

          <input type="text" class="form-control email" ng-model="email" placeholder="Email">
          <br/>
          <input type="password" class="form-control password" ng-model="password" placeholder="Password">
          <br/>
          <div>
            <a href='/users/password/new' target="_self">Forgot Password?</a>
          </div>
          <br/>
          <input type="submit" value="Login" class="btn btn-default login">
          <br/>
        </form>
      </div>
    </div>

    <div class="col-md-1 or-block col-sm-2" ng-show="isSignupEnabled">
      <h2>OR</h2>
    </div>

    <div class="col-md-3 col-sm-4" ng-show="isSignupEnabled">
      <div ng-controller="SignupCtrl" ng-cloak>
        <form id="signup" ng-submit="submit(agree, emailMarketingAgree, name, email, password, confirm)" >
          <h2>Signup to get started!</h2>

          <div class="alert alert-danger" ng-if="warnErr">
            Something weird happened. Contact us for assistance
          </div>

          <div class="alert alert-danger" ng-if="warnEmail">
            You must enter an email address.
          </div>

          <div class="alert alert-danger" ng-if="warnDefined">
            The email you entered is already registered!
          </div>

          <div class="alert alert-danger" ng-if="warnPass">
            The passwords do not match!
          </div>

          <div class="alert alert-danger" ng-if="warnName">
            Please provide your full name, so we can properly address you :)
          </div>

          <div class="alert alert-danger" ng-if="warnAgree">
            You must agree to the terms and conditions.
          </div>

          <div class="form-group">
            <input
              type="text"
              ng-model="name"
              class="form-control name"
              placeholder="Full Name"
              required
             />
          </div>

          <div class="form-group">
            <input type="email" ng-model="email" class="form-control email" placeholder="Email Address" required />
          </div>

          <div class="form-group">
            <input
              type="password"
              ng-model="password"
              class="form-control password"
              placeholder="Password"
              required
             />
          </div>

          <div class="form-group">
            <input
              type="password"
              ng-model="confirm"
              class="form-control password-confirm"
              placeholder="Confirm Password"
              required
             />
          </div>

          <div class="checkbox" ng-show="hasTermsAndConditions">
            <label>
              <input id="terms-and-conditions" type="checkbox" ng-model="agree" ng-required="hasTermsAndConditions"/>
              Agree to
              <a ng-href="{{ termsAndConditionsUrl }}" target="_blank">terms &amp; conditions</a>?
            </label>
          </div>

          <div class="checkbox" ng-show="isEmailMarketingMode">
            <label>
              <input id="email-marketing" type="checkbox" ng-model="emailMarketingAgree" ng-required="false"/>
              Click here if you'd like us to send you occasional news about relevance tuning with Quepid (including new features). You can unsubscribe at any time.
            </label>
          </div>


          <button class="btn btn-primary signup">Signup</button>
        </form>
      </div>
    </div>
  </div>

  <div class="row m-t-20">
    <div class="col-md-8 col-md-offset-2">
      <p>
        <a href="http://www.opensourceconnections.com/2013/10/07/quepid-give-your-search-queries-some-love/">Read more</a> about the Quepid story. <a href="mailto:TalkToUs@opensourceconnections.com">Contact us</a>
        to talk about Quepid or ask how we can help with your search problems!
      </p>
    </div>
  </div>
</div>
