<div ng-controller="HotMatchesCtrl">
  <p
    class="matches-popper"
    uib-popover-template="'matches/matches.html'"
    popover-title="Relevancy Score: {{doc.score()}}"
    popover-trigger="outsideClick"
    popover-placement="left"
  >
    <span ng-if="hots.length > 0">Matches</span>
    <span ng-if="hots.length===0">No Match</span>
    <i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i>
  </p>

  <div ng-if="hots.length <= 3">
    <div ng-click="showDetailed()" class="graph-explain" ng-repeat="match in hots">
      <div class="graph-label">{{match.description}}</div>
      <uib-progressbar animate="false" value="match.percentage"></uib-progressbar>
    </div>
  </div>
  <div ng-if="hots.length > 3">
    <div ng-click="showDetailed()" class="graph-explain" ng-repeat="match in hots.slice(0,3)">
      <div class="graph-label">{{match.description}}</div>
      <uib-progressbar animate="false" value="match.percentage"></uib-progressbar>
    </div>
    <div uib-collapse="!showAll">
      <div ng-click="showDetailed()" class="graph-explain" ng-repeat="match in hots.slice(3)">
        <div class="graph-label">{{match.description}}</div>
        <uib-progressbar animate="false" value="match.percentage"></uib-progressbar>
      </div>
    </div>

    <a href="" style="font-size: 10px" ng-click="showAll=!showAll">Show {{showAll ? 'Less' : howMuchMore}}</a>
  </div>
</div>
