<div class="modal-header">
  <button type="button" class="close btn-core-close" ng-click="targetedSearchModalModel.closeModal()" aria-label="Close"></button>
  <h3 class="modal-title">Find and Rate Missing Documents</h3>
</div>
<div class="modal-body" id="targeted-search-modal">
  <p>
    Often you know that a document is a good match for a query, but it doesn't match the current query.
    This lets you find that document and give it a grade, which then influences your scorer.  For example,
    NDCG is based on your global scores, so if your top 10 are all <code>1</code>'s, and you find and rate a document as a <code>3</code>,
    then the score will drop if that <code>3</code> rated document doesn't show up first!
  </p>
  <div ng-controller = 'DocFinderCtrl'>
    <form ng-submit="findDocs()">
      <div class="row">
        <div class="form-group col-sm-6">
          <div class="form-control">
            <div ui-ace="{
              onLoad : aceLoaded,
              onChange: aceChanged,
              require: ['ace/ext/language_tools'],
              advanced: {
                enableBasicAutocompletion: true,
                enableLiveAutocompletion: true,
                highlightGutterLine: false,
                highlightActiveLine: false
              },
              mode:   'lucene',
              theme:  'chrome',
              showGutter: false,
              rendererOptions: {
                maxLines: 1
              }
            }"
            ng-model="docFinder.queryText"
            ng-keydown="checkIfEnterKeyPressed($event)"></div>
          </div>
          <p ng-if="enterKeyPressed" class="alert alert-danger">
            <span class="glyphicon glyphicon-alert"></span>
            Please click the "Search" button instead of enter key to avoid scrolling your query out of view!
          </p>

          <p class="help-block">
            Solr:
            Use the simple <a href="https://www.lucenetutorial.com/lucene-query-syntax.html" target="_blank">Lucene query syntax</a> (<code>field:value</code>).<br />
            Example: <code>id:123</code>.<br />
            <br />
            Elasticsearch/OpenSearch:
            Entered keywords will replace the <code>#$query##</code> placeholder in your configured query. Lucene syntax is
            only supported for specific query types such as
            <a href="https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html">query string queries</a>
            Example: <code>directors:cameron</code> (when using queries supporting Lucene syntax), or <code>cameron</code> (when not).
          </p>
        </div>
        <div class="col-sm-3">
          <p>
          <input type="submit" class="btn btn-primary form-control" value="Search"></input>
          </p>
    </form>
    <form ng-submit="resetToAllRatedDocs()">
      <p>
        <input type="submit" class="btn btn-default form-control"  ng-disabled="defaultList" value="Reset to All Rated Docs"></input>
      </p>
    </form>
  </div>
</div>

<div style="padding-top: 20px">
</div>

<div>
  <div class="row alert alert-warning" ng-if="this.docFinder.numFound == 0">
    Your query <em>{{docFinder.lastQuery}}</em> returned no results
  </div>

  <div ng-if="this.docFinder.numFound > 0">
    <p ng-if="!defaultList">
      Your query <em>{{docFinder.lastQuery}}</em> returned
      <ng-pluralize count="docFinder.numFound"
             when="{'0': 'no matching documents.',
                 '1': 'one matching document.',
                 'other': '{} matching documents.'}">
      </ng-pluralize>



    </p>
    <p ng-if="defaultList">
      <ng-pluralize count="docFinder.numFound"
             when="{'0': 'There are no ratings created yet',
                 '1': 'There is one rating',
                 'other': 'There are {} ratings'}">
      </ng-pluralize>
      for your original query <em>{{query.queryText}}</em>.
    </p>


    <div class="score-all pull-left">
      <strong>Score All</strong>
      <div class="ratings">
        <div class="single-rating" ng-click="ratings.open()" uib-popover-template="'views/ratings/popover.html'" popover-trigger="outsideClick" popover-placement="auto right" popover-is-open="ratings.ratingsOn">
          <span class="btn" style="background-color: rgb(119, 119, 119);">- <span class="caret"></span></span>
        </div>
      </div>
    </div>

    <div class="alert alert-warning pull-left score-all-alert">
      Changing ratings will affect the query score.
    </div>

    <search-result class="search-result" max-doc-score="query.maxDocScore()" explain-view="'full'" explain-viewport="'#targeted-search-modal'" ng-repeat="doc in docFinder.docs" doc="doc" field-spec="query.fieldSpec" rank="{{$index + 1}}" query="query" doc-id="doc.id">
    </search-result>
  </div>
</div>

<div class='row'>
  <span ng-if="docFinder.numFound > docFinder.docs.length">
    <a class="btn btn-default" ng-click="paginate()">
      Peek at the next page of results
    </a>
  </span>

  <span ng-show="docFinder.paging">
    <i class="glyphicon glyphicon-refresh spintime"></i>
  </span>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="targetedSearchModalModel.closeModal()">Close</button>
</div>
