<div class="modal-header">
  <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">Configure A Score Threshold</h3>
</div>
<div class="modal-body">
  <p>You can configure a minimum score that will cause you to be alerted in the UI</p>

  <label>Enable Threshold?</label> <input type="checkbox" ng-model="Params.thresholdEnabled"><br>
  <label>Threshold:</label> <input ng-model="Params.threshold" ng-disabled = "!Params.thresholdEnabled">
</div>

<div class="modal-footer">
  <button class="btn btn-default" ng-click="ok()">Set Threshold</button>
  <button class="btn btn-default" ng-click="close()">Cancel</button>
</div>
