<div class="modal-header">
  <button type="button" class="close btn-core-close" ng-click="ctrl.cancel()" aria-label="Close"></button>
  <h3 class="modal-title">Archived Cases</h3>
</div>
<div class="modal-body">
  <p ng-if="currentTeam">These are the archived cases for this team.</p>
  <p ng-if="!currentTeam">All the archived cases you have access to.</p>
  <div class="alert alert-warning" role="alert" ng-if="archivedCases().length === 0 && !loading">
    No cases have been archived yet!  You can only unarchive cases you own.
  </div>

  <p ng-show="loading" class="text-center">
    <i class="glyphicon glyphicon-refresh spintime"></i>
  </p>

  <div class="list-group">
    <a href="" class="list-group-item" ng-repeat="case in archivedCases()" ng-class="{ active: isSelected(case) }" ng-click="toggleSelect(case)">
      {{ case.caseName }}
    </a>
  </div>
</div>
<div class="modal-footer">
  <button type="button" 
    class="btn btn-success"
    ng-click="addBackCase(selectedCase)" 
    ng-hide="selectedCase === null" 
  >
   Add Back {{selectedCase.caseName}} </button>
  <button type="button" ng-click="cancel()"  class="btn btn-default">Cancel</button>
</div>
