<div class="modal-body" id="wizard">
  <button type="button" class="close btn-core-close" ng-click="cancel()" aria-label="Close"></button>
  <wizard on-finish="pendingWizardSettings.submit()">
    <wz-step title="Welcome" id="step-one">
      <h1>Welcome To Quepid!</h1>
      <div>
        <img ng-src="images/doug.jpg" style="float: left; margin: 20px 30px 100px 20px; width: 100px" />
        <p>Hi, I'm Doug, creator of Quepid. Let me guide you through setting up your very first Case!</p>
        <button class="btn btn-primary pull-right continue" wz-next>Continue</button>
        <br><br><br><br><br>
      </div>
    </wz-step>
    <wz-step title="Name" id="step-two">
      <h2>Name Your Case!</h2>
      <div>
        <p>Give an informative name to the problem you're solving.</p>

        <form class="form-inline">
          <div class="form-group">
            <label>New Case Name:</label>
            <input type="text" ng-model="pendingWizardSettings.caseName" style='width: 250px' />
          </div>
          <button class="btn btn-primary pull-right continue" wz-next>Continue</button>
        </form>

        <br><br><br><br><br>
      </div>
    </wz-step>
    <wz-step title="Endpoint" id="step-three">
      <h2>What Search Endpoint do you want to connect to?</h2>
      <div>
        <uib-accordion>
          <div uib-accordion-group class="panel-default" heading="Create a new Search Endpoint" 
            is-open="shouldCreateNewSearchEndpointDefaultToOpen"
            ng-click="switchToCreateNewSearchEndpoint()">
          <div style="text-align: center;">
            <label style="margin-right: 25px;">
              <input type="radio" value="solr" ng-model="pendingWizardSettings.searchEngine" ng-change="changeSearchEngine()">
              <img ng-src="images/solr.png" alt='Solr' width="100px" />
            </label>
            <label style="margin-right: 25px;">
              <input type="radio" value="es" ng-model="pendingWizardSettings.searchEngine" ng-change="changeSearchEngine()">
              <img ng-src="images/es.png" alt='Elasticsearch' width="150px" />
            </label>
            <label>
              <input type="radio" value="os" ng-model="pendingWizardSettings.searchEngine" ng-change="changeSearchEngine()">
              <img ng-src="images/os.png" alt='OpenSearch' width="150px" />
            </label>
          </div>
          <div style="text-align: center;">
            <label style="margin-right: 25px;">
              <input type="radio" value="vectara" ng-model="pendingWizardSettings.searchEngine" ng-change="changeSearchEngine()">
              <img ng-src="images/vectara.png" alt='Vectara' width="150px" />
            </label>
            <label style="margin-right: 25px;">
              <input type="radio" value="static" ng-model="pendingWizardSettings.searchEngine" ng-change="changeSearchEngine()">
              <img ng-src="images/static.png" alt='Static' width="100px" height="50px" />
            </label>
            <label>
              <input type="radio" value="searchapi" ng-model="pendingWizardSettings.searchEngine" ng-change="changeSearchEngine()">
              <img ng-src="images/searchapi.png" alt='Search API' width="100px" height="50px" />
            </label>
          </div>
          <div style="text-align: center;">
            <label style="margin-right: 25px;">
              <input type="radio" value="algolia" ng-model="pendingWizardSettings.searchEngine" ng-change="changeSearchEngine()">
              <img ng-src="images/algolia.png" alt='Algolia' width="150px" />
            </label>
          </div>

          <br>
          <p ng-if="!pendingWizardSettings.searchEngine === 'static'">
            Paste the URL to the endpoint of your search engine for Quepid to search (you can also just experiment with the demo servers):
          </p>
          <div class="row">
            <div ng-show="invalidHeaders" class="alert alert-danger">
              <span>
                Custom Headers must be a valid JSON object
              </span>
            </div>
            <div ng-show="showTLSChangeWarning" class="alert alert-warning">
              <span>
              You have specified a search endpoint url that is on a different protocol ( <code>{{protocolToSwitchTo}}</code> ) than Quepid is running,
              and this triggers your browser to prevent communciation with the search endpoint.  <br/>Option 1: Reload Quepid to run on the correct protocol
              <br/>Option 2: Proxy the requests THROUGH the Quepid server.
              </span>
            </div>
            <div ng-show="invalidProxyApiMethod" class="alert alert-danger">
              <span>
                You must change from JSONP to another API method when proxying.
              </span>
            </div>
            <div ng-if="urlInvalid && !showTLSChangeWarning" class="alert alert-danger">
              Sorry, we're not getting any search results from your {{ pendingWizardSettings.searchEngine | searchEngineName }}.

              <ul ng-if="pendingWizardSettings.searchEngine === 'searchapi'">
                <li>Is your Search API behind a firewall or proxy? Try accessing the <a target="_blank" ng-href="{{linkToSearchEndpointUrl()}}">URL directly</a> and see if you get a response</li>
                <li>Do you need an API Key?  If so, set one up under Advanced pane --> Custom Headers.</li>
                <li>Use the browser <i>Network Inspector</i> to see the actual request.</li>
                <li>See the <a target="_blank" href="https://github.com/o19s/quepid/wiki/Troubleshooting-SearchAPI-and-Quepid/">Troubleshooting Search API and Quepid</a> wiki page for more help!</li>
              </ul>

              <ul ng-if="pendingWizardSettings.searchEngine === 'es'">
                <li>Is your Elasticsearch behind a firewall or proxy? Try accessing the <a target="_blank" ng-href="{{linkToSearchEndpointUrl()}}">URL directly</a> and see if you get a response</li>
                <li>Does your Elasticsearch accept HTTP POST requests?</li>
                <li>Is your Elasticsearch setup for CORS to talk to Quepid's web app (http://app.quepid.com)?</li>
                <li>Do you need an API Key?  If so, set one up under Advanced pane --> Custom Headers.</li>
                <li>Use the browser <i>Network Inspector</i> to see the actual request.</li>
                <li>See the <a target="_blank" href="https://github.com/o19s/quepid/wiki/Troubleshooting-Elasticsearch-and-Quepid/">Troubleshooting Elasticsearch and Quepid</a> wiki page for more help!</li>
              </ul>

              <ul ng-if="pendingWizardSettings.searchEngine === 'os'">
                <li>Is your OpenSearch behind a firewall or proxy? Try accessing the <a target="_blank" ng-href="{{linkToSearchEndpointUrl()}}">URL directly</a> and see if you get a response</li>
                <li>Does your OpenSearch accept HTTP POST requests?</li>
                <li>Is your OpenSearch setup for CORS to talk to Quepid's web app (http://app.quepid.com)?</li>
                <li>Use the browser <i>Network Inspector</i> to see the actual request.</li>
                <li>See the <a target="_blank" href="https://github.com/o19s/quepid/wiki/Troubleshooting-OpenSearch-and-Quepid/">Troubleshooting OpenSearch and Quepid</a> wiki page for more help!</li>
              </ul>

              <ul ng-if="pendingWizardSettings.searchEngine === 'solr'">
                <li>Do you see any errors when you visit your <a target="_blank" ng-href="{{linkToSearchEndpointUrl()}}">Solr URL directly?</a></li>
                <li>Use the Proxy option under <i>Advanced</i>!</li>
                <li>
                  You may need to configure the JSON <code>wt=json</code> to be <code>application/javascript</code> to work with Quepid.
                  You can do this via the below curl command:
<pre>
curl {{pendingWizardSettings.basicAuthCredential ? '-u ' + pendingWizardSettings.basicAuthCredential : ''}} -k -X POST -H 'Content-type:application/json' -d '{
  "create-queryresponsewriter": {
    "name": "json",
    "class": "solr.JSONResponseWriter",
    "content-type": "application/javascript; charset=UTF-8"
  }
}' {{ extractSolrConfigApiUrl(pendingWizardSettings.searchUrl) }}
</pre>
                  If you get a error message back, change <code>create-queryresponsewriter</code> to <code>update-queryresponsewriter</code> and re-run.

                </li>
                <li>If Solr responds, check if you have an ad blocker blocking your queries.</li>
                
                <li ng-if="isChrome">Chrome does not accept self signed certificates on Solr, try Firefox.</li>
                <li ng-if="isChrome">Chrome does not allow basic auth to Solr, try Firefox.</li>
                <li>Use the browser <i>Network Inspector</i> to see the actual request.</li>
                <li>See the <a target="_blank" href="https://github.com/o19s/quepid/wiki/Troubleshooting-Solr-and-Quepid">Troubleshooting Solr and Quepid</a> wiki page for more help!</li>
              </ul>

            </div>

            <div ng-if="mapperInvalid" class="alert alert-warning">

              Good news, we are getting results from the API, however we can't parse them into Quepid's expected format due to: <br/>
              <code>{{ mapperErrorMessage }}</code>
              <ul>
                <li>You can use the Search API Response panel to see the JSON returned from your API.</li>
                <li>Use your browser Inspector to check the console, likely your JavaScript mapper code needs tweaks.</li>
              </ul>
            </div>
            <div ng-if="urlValid" class="alert alert-success">Quepid can search this! Hit 'Continue' to keep working through setup.</div>
          </div>

          <form class="">
            <div ng-if="pendingWizardSettings.searchEngine !== 'static'" class="form-group" style="width: 100%">
              <div class="row">
                <input style="width: 100%" type="text" ng-change="reset()" ng-model="pendingWizardSettings.searchUrl" class="form-control" />
                <small title="Manually validates Quepid can get retrieve search results from your URL before continuing" class="pull-right"><button type="button" class="btn btn-link btn-sm" ng-click="validate(true)" ng-disabled="showTLSChangeWarning">ping it</button></small>
                <p class="help-block">Unsure? <a href="http://quepid.com/how-quepid-works/" target="_blank">Learn More</a> about Quepid's light touch with your search engine &amp; data.

                <p ng-show="pendingWizardSettings.urlFormat" class="help-block tip">
                  Tip: Your URL should look like this {{pendingWizardSettings.urlFormat}}.
                </p>
              </div>
            </div>

            <span ng-if="pendingWizardSettings.searchEngine === 'static'">
              <!-- Copied from import-ratings component -->
              <p>
                A "Static" (or "Offline") search endpoint is a great way to gather human judgements and leverage Quepid's existing evaluation tools without requiring a live connection to a search engine.
              </p>
              <p>
                <button type="button" class="btn btn-sm btn-default" ng-click="isStaticCollapsed = !isStaticCollapsed">Static Dataset</button>
              </p>

              <div uib-collapse="!isStaticCollapsed">
                <div class="well well-sm">
                  <p>
                    Create the CSV file and upload it here.
                    Under the covers we use the Snapshot CSV format, so you can export a snapshot from Quepid and then upload it here to to create Static search endpoint.
                  </p>

                  <span class="help-block">
                    The CSV file should have the headers: <code>Query Text,Doc ID,Doc Position</code>.
                    Then, all the document fields you want displayed follow as columns with the header being the name of the field.
                    <pre>
Query Text,Doc ID,Doc Position, MovieTitle
star wars,527641,1, Star Wars
star wars,9426,2, Star Wars: The Empire Strikes Back
star wars,1921,3, Star Wars: Return of the Jedi
                    </pre>
                    Please note that the additional columns that a Snapshot export file contains are ignored when you import them here.
                  </span>

                  <p>Select CSV file to import:</p>

                  <ng-csv-import
                          class="import"
                          content="staticContent.content"
                          header="staticContent.header"
                          header-visible="true"
                          separator="staticContent.separator"
                          separator-visible="staticContent.separatorVisible"
                          result="staticContent.result">
                  </ng-csv-import>

                  <div ng-if="staticContent.content" class="block left">
                    <h2>CSV</h2>
                    <div ng-show="staticContent.import.alert" class="text-danger bg-danger import-content"
                         ng-bind-html="staticContent.import.alert">
                    </div>
                    <div class="content import-content">
                      <pre>{{ staticContent.content }}</pre>
                    </div>
                    <button class="btn btn-primary" ng-click="createSnapshot()" ng-disabled="listOfStaticQueries.length > 0"> Import</button>
                  </div>
                </div>
              </div>
            </span>

            <span ng-if="pendingWizardSettings.searchEngine === 'solr'">
            <p>
              <button type="button" class="btn btn-sm btn-default" ng-click="isSolrCollapsed = !isSolrCollapsed">Solr Configuration</button>
            </p>
            <div uib-collapse="!isSolrCollapsed">
              <div class="well well-sm">
                <div class="form-group clearfix">
                  <label class="col-sm-3 control-label">API Method</label>
                  <div class="col-sm-9">
                    <select class="form-control" ng-model="pendingWizardSettings.apiMethod" ng-change="resetUrlValid()">
                      <option>JSONP</option>
                      <option>GET</option>
                    </select>
                    <p class="help-block">Use JSONP if you are talking directly to Solr, otherwise if you are talking to an API you can use GET.</p>
                  </div>
                </div>
              </div>
            </div>
            </span>

            <span ng-if="pendingWizardSettings.searchEngine === 'searchapi'">
              <div class="well well-sm">
                <div class="form-group clearfix">
                  <label class="col-sm-3 control-label">API Method</label>
                  <div class="col-sm-9">
                    <select class="form-control" ng-model="pendingWizardSettings.apiMethod" ng-change="resetUrlValid()">
                      <option>POST</option>
                      <option>GET</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-12 clearfix">
                  <label class="control-label">Query Structure</label>
                  <p class="help-block">Enter a basic query structure that will return at least one document. You can edit this later.</p>
                </div>

                <div class="form-group clearfix queryparams code">
                  <div class="col-sm-12">
                    <div id='query-params-editor' ui-ace="{
                        require:      ['ace/ext/language_tools'],
                        useWrapMode:  false,
                        mode:         'json',
                        theme:        'chrome',
                        showGutter: pendingWizardSettings.apiMethod == 'POST'
                      }" ng-model="pendingWizardSettings.queryParams">
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 clearfix">
                  <label class="control-label">Mapping To Quepid Format</label>
                  <p class="help-block">Enter JavaScript that maps from YOUR API to the JSON structure expected by Quepid.
                    The JSON response is nested under the <code>data</code> object.
                  </p>
                </div>
                <div class="btn-group btn-group-justified" role="group">
                  <div class="btn-group" role="group">
                    <button type="button" class="btn" ng-click="showSearchApiJavaScriptEditor=true" ng-class="showSearchApiJavaScriptEditor ? 'btn-primary' : 'btn-default'">Mapper Code</button>
                  </div>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn" ng-click="showSearchApiJavaScriptEditor=false" ng-class="showSearchApiJavaScriptEditor ? 'btn-default' : 'btn-primary'">Search API Response</button>
                  </div>
                </div>
                <p/>
                <div class="form-group clearfix" ng-show="showSearchApiJavaScriptEditor">
                  <div class="col-sm-12">
                    <div ng-show="pendingWizardSettings.mapperCode.trim().length == 0" class="alert alert-warning">
                      <span>
                      You need to specify your mapper code here.
                      </span>
                    </div>
                    <div ui-ace="{
                      require: ['ace/ext/language_tools'],
                      advanced: {
                        enableBasicAutocompletion: true,
                        enableLiveAutocompletion: true
                      },
                      mode:   'javascript',
                      theme:  'chrome'
                    }"
                    ng-model="pendingWizardSettings.mapperCode"></div>
                  </div>
                </div>
                <div class="form-group clearfix" ng-show="!showSearchApiJavaScriptEditor">
                  <div class="col-sm-12">
                    <div ui-ace="{
                      require:     ['ace/ext/language_tools'],
                      useWrapMode: false,
                      mode:        'json',
                      theme:       'chrome'
                    }"
                    readonly
                    ng-model="validatorLastResponse"></div>
                  </div>
                </div>
              </div>
            </span>

            <span ng-if="pendingWizardSettings.searchEngine !== 'static'">
            <p>
              <button type="button" class="btn btn-sm btn-default" ng-click="isHeaderConfigCollapsed = !isHeaderConfigCollapsed">Advanced</button>
            </p>
            <div uib-collapse="!isHeaderConfigCollapsed">
              <div class="well well-sm">
                <div class="form-group clearfix">
                  <label class="col-sm-3 control-label">Proxy Requests</label>
                  <div class="col-sm-9">
                    <div class="checkbox">
                      <label>
                        <p class="help-block"><input id="proxy-requests" type="checkbox" ng-model="pendingWizardSettings.proxyRequests" ng-change="changeProxySetting()">Fighting with CORS issues?  Proxy your search requests through Quepid server.</p>
                      </label>
                    </div>
                  </div>

                  <label class="col-sm-3 control-label">Basic Authentication</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control"
                      ng-model="pendingWizardSettings.basicAuthCredential"
                      ng-change="resetUrlValid()"
                      placeholder="username:password">

                    <p class="help-block">Specify your <code>username:password</code> here to access Basic Auth protected endpoints.</p>
                  </div>
                </div>
              </div>
              <custom-headers settings="pendingWizardSettings"></custom-headers>

            </div>
            </span>

            <div class="form-group" style="width: 100%">
              <div class="clearfix"></div>

              <div class="row" style="margin-top: 50px;">
                <div class="pull-right">

                  <button ng-show="!showTLSChangeWarning" class="btn btn-primary pull-right continue" ng-click="validate()" ng-disabled="!readyToContinue()">
                    <span ng-hide="validating">Continue</span>
                    <span ng-show="validating">Validating...</span>
                  </button>

                  <button class="btn btn-danger" ng-show="urlInvalid && !showTLSChangeWarning" ng-click="skipValidation()" ng-disabled="validating">
                    <span ng-hide="validating">Skip Validation</span>
                  </button>

                  <span ng-show="showTLSChangeWarning">
                    <a href="{{quepidUrlToSwitchTo}}" class="btn btn-primary form-control">
                      <span class="glyphicon glyphicon-refresh"></span> Reload Quepid in <code>{{protocolToSwitchTo}}</code> Protocol
                    </a>
                  </span>

                </div>
              </div>
            </div>
          </form>


          </div>
          <div uib-accordion-group class="panel-default" heading="Use an existing Search Endpoint" is-open="shouldExistingSearchEndpointDefaultToOpen">
            <div class="row">
              <div class="alert alert-warning" role="alert" ng-if="listSearchEndpoints().length === 0">
                You do not have any Search Endpoints created yet.
              </div>
              <select
                id="searchEndpoint"
                ng-if="listSearchEndpoints().length > 0"
                ng-model="pendingWizardSettings.searchEndpointId"
                ng-options="searchEndpoint.id as searchEndpoint.name for searchEndpoint in listSearchEndpoints() | filter: {searchEngine: '!static'}"
                ng-change="changeSearchEndpoint()"
              >
              </select>

              <small title="Manually validates Quepid can get retrieve search results from your URL before continuing" class="pull-right"><button type="button" class="btn btn-link btn-sm" ng-click="validate(true)" ng-disabled="pendingWizardSettings.searchEndpointId == null || showTLSChangeWarning">ping it</button></small>
              <p class="help-block tip" ng-if="hasStaticEndpoints">
                FYI: your existing Static File endpoints are NOT sharable across cases.
              </p>
            </div>
            <div ng-if="urlValid" class="alert alert-success">Quepid can search this! Hit 'Continue' to keep working through setup.</div>
            <div ng-show="showTLSChangeWarning" class="alert alert-warning">
              <span>
              You have specified a search endpoint url that is on a different protocol ( <code>{{protocolToSwitchTo}}</code> ) than Quepid is running,
              and this triggers your browser to prevent communciation with the search endpoint.  <br/>Option 1: Reload Quepid to run on the correct protocol
              <br/>Option 2: Proxy the requests THROUGH the Quepid server.
              </span>
            </div>
            <div class="row" style="margin-top: 50px;">

              <div class="pull-right">
                <button class="btn btn-primary pull-right continue" ng-show="!showTLSChangeWarning" ng-click="validate()" ng-disabled="pendingWizardSettings.searchEndpointId == null">Continue</button>

                <button class="btn btn-danger" ng-show="urlInvalid && !showTLSChangeWarning" ng-click="skipValidation()" ng-disabled="validating">
                  <span ng-hide="validating">Skip Validation</span>
                </button>
                
                <span ng-show="showTLSChangeWarning">
                  <a href="{{quepidUrlToSwitchTo}}&existingSearchEndpoint=true" class="btn btn-primary form-control">
                    <span class="glyphicon glyphicon-refresh"></span> Reload Quepid in <code>{{protocolToSwitchTo}}</code> Protocol
                  </a>
                </span>
              </div>
            </div>
          </div>
          
        </uib-accordion>
        <br><br><br><br>
      </div>
    </wz-step>
    <wz-step title="Fields" id="step-four">
      <h2>How Should We Display Your Results?</h2>
      <div>

        <form class="">
          <div class="form-group clearfix">
            <label class="col-sm-3 control-label">Title Field</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="pendingWizardSettings.titleField" ng-change="updateDisplayFields('title', pendingWizardSettings.titleField)" typeahead-on-select="updateDisplayFields('title', pendingWizardSettings.titleField)" uib-typeahead="field for field in searchFields | filter:$viewValue | limitTo:8" class="form-control" placeholder="Begin typing to show suggestions">
              <p class="help-block">What field should we treat as the 'title' when displaying results?</p>
              <p ng-if="titleFieldRequired" class="text-danger">This field is required. Please select a title field.</p>
            </div>
          </div>

          <div class="form-group clearfix">
            <label class="col-sm-3 control-label">ID Field</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="pendingWizardSettings.idField" ng-change="updateDisplayFields('id', pendingWizardSettings.idField)" typeahead-on-select="updateDisplayFields('id', pendingWizardSettings.idField)" uib-typeahead="field for field in idFields | filter:$viewValue | limitTo:8" placeholder="Begin typing to show suggestions">
              <p class="help-block">What field is the unique identifier for your search results?</p>
              <p ng-if="idFieldRequired" class="text-danger">This field is required. Please select an ID field.</p>
            </div>
          </div>

          <div class="form-group clearfix">
            <label class="col-sm-3 control-label">Additional Display Fields</label>
            <div class="col-sm-9">
              <tags-input ng-model="pendingWizardSettings.additionalFields" placeholder="Add a field" add-on-enter="true" add-on-space="true" add-on-paste="true" paste-split-pattern="[,\s]" min-length="1">
              <auto-complete source="loadFields($query)" min-length="0" load-on-focus="true" load-on-empty="true"></auto-complete>
              </tags-input>
              <p class="help-block">Would any extra fields be handy to display?</p>
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary pull-right continue" ng-click="validateFieldSpec()" ng-disabled="validating">
              <span ng-hide="validating">Continue</span>
              <span ng-show="validating">Validating...</span>
            </button>
          </div>
        </form>
      </div>
      <br><br><br><br><br>
    </wz-step>
    <wz-step title="Query" id="step-five">
      <span ng-if="pendingWizardSettings.searchEngine === 'static'">
        <h2>Search Queries</h2>
        <div>
          <p class="help-block">All of the queries defined in the static upload will be created.</p>
          <button class="btn btn-primary pull-right continue" wz-next ng-click="pendingWizardSettings.addQueryStaticQueries()">Continue</button>
        </div>
        <br><br><br><br><br>
      </span>
      <span ng-if="pendingWizardSettings.searchEngine !== 'static'">
      <h2>Add Your Search Queries</h2>
      <div>
        <p class="help-block">Start out tuning a couple important search queries:</p>
        <button class="btn btn-primary pull-right continue" wz-next ng-click="pendingWizardSettings.addQuery(pendingWizardSettings.text)">Continue</button>

        <div>
          <form>
            <input type="text" ng-model="pendingWizardSettings.text" style='width: 250px'></input>
            <input class="btn-xs btn-success" type="submit" value="Add Query" ng-click="pendingWizardSettings.addQuery(pendingWizardSettings.text)"></input>
          </form>
        </div>

        <div ng-repeat="query in pendingWizardSettings.newQueries track by $id(query)" style="display: inline-block">
          <div class="wiz_new_query">
            <span class="query_text">
              {{query.queryString}}
            </span>
            <button ng-click="pendingWizardSettings.deleteQuery($index)">X</button>
          </div>
        </div>

        <br><br><br><br><br>
      </div>
      </span>
    </wz-step>
    <wz-step title="Finish" id="step-six">
      <h1>That's It!</h1>
      <p class="help-block">Go to "Tune Relevance" to iterate on your relevance and manipulate searches</p>

      <div ng-show="pendingWizardSettings.searchEngine === 'searchapi'" class="alert alert-info">
        <span>
          You will need to modify the query <code>{{ pendingWizardSettings.queryParams }}</code> you used, substituting <code>#$query##</code> variable in place of the actual query text via the <i>Tune Relevance</i> panel.
        </span>
      </div>

      <button class="btn-lg btn-success pull-right finish" wz-next>Finish</button>
      <br><br><br><br><br>
    </wz-step>
  </wizard>
</div>
