<%= tag.form class: "form vertically-centered", data: { controller: "add-query", add_query_case_id_value: @case_id, add_query_try_number_value: @try_number, add_query_can_add_value: @can_add_queries, action: "submit->add-query#submit" } do %>
  <div class="input-group add-query-input-group">
    <input
      id="add-query"
      type="text"
      class="form-control field-sizing-content min-w-50 max-w-400"
      placeholder="<%= @placeholder %>"
      data-add-query-target="input"
      data-action="paste->add-query#handlePaste"
    />

    <button
      id="add-query-submit"
      type="submit"
      class="btn btn-success"
      data-add-query-target="submitButton"
      <%= "disabled" if !@can_add_queries %>
    >
      Add query
    </button>
  </div>

  <span data-add-query-target="spinner" class="spinner d-none" aria-hidden="true"></span>
<% end %>
