<%# Wrapper so Stimulus has access to both trigger and modal. %>
<div
  class="delete-case-options-wrapper"
  data-controller="delete-case-options"
  data-delete-case-options-case-id-value="<%= @case_id %>" data-delete-case-options-try-number-value="<%= @try_number %>"
>
  <% if @icon_only %>
    <a href="#" class="action-icon" data-action="click->delete-case-options#open" data-delete-case-options-target="trigger" title="Delete" aria-label="Delete">
      <i class="bi bi-trash" aria-hidden="true"></i>
    </a>
  <% else %>
    <i class="bi bi-x-lg" aria-hidden="true"></i>
    <a href="#" data-action="click->delete-case-options#open" data-delete-case-options-target="trigger">Delete</a>
  <% end %>

  <div class="modal fade" id="deleteCaseOptionsModal" tabindex="-1" aria-labelledby="deleteCaseOptionsModalLabel" aria-hidden="true" data-delete-case-options-target="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteCaseOptionsModalLabel">Delete Options for Case: <span class="modal-case"><%= @case_name %></span></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>We have a number of options for cleaning up a case, from deleting, to archiving, to deleting all of its queries.</p>

          <div class="btn-group w-100 mb-3" role="group">
            <input type="radio" class="btn-check" name="deleteOption" id="opt-delete-queries" value="delete_all_queries" data-delete-case-options-target="radio" data-action="change->delete-case-options#selectionChanged" autocomplete="off">
            <label class="btn btn-outline-primary" for="opt-delete-queries">Delete All Queries</label>
            <input type="radio" class="btn-check" name="deleteOption" id="opt-archive" value="archive_case" data-delete-case-options-target="radio" data-action="change->delete-case-options#selectionChanged" autocomplete="off">
            <label class="btn btn-outline-primary" for="opt-archive">Archive Case</label>
            <input type="radio" class="btn-check" name="deleteOption" id="opt-delete-case" value="delete_case" data-delete-case-options-target="radio" data-action="change->delete-case-options#selectionChanged" autocomplete="off">
            <label class="btn btn-outline-primary" for="opt-delete-case">Delete Case</label>
          </div>

          <div class="small text-muted" data-delete-case-options-target="hintQueries" hidden>
            Deleting all the queries will also delete your ratings for those queries.
          </div>
          <div class="small text-muted" data-delete-case-options-target="hintArchive" hidden>
            You're about to put this case into deep freeze. You'll be able to get to it through "Archived Cases" filter in the Relevancy Cases listing page.
          </div>
          <div class="small text-muted" data-delete-case-options-target="hintDelete" hidden>
            You're about to delete this case forever! If you think you might want it later, use the Archive function instead.
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" data-action="click->delete-case-options#confirm" data-delete-case-options-target="confirmBtn" disabled>Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
