<%= tag.div class: "qgraph-wrapper",
  data: {
    controller: "qgraph",
    qgraph_scores_value: scores_json,
    qgraph_annotations_value: annotations_json,
    qgraph_max_value: @max_score
  } do %>
  <div data-qgraph-target="chart"></div>
<% end %>
