<div class="item-box row">
  <div class="col-xs-1">
    {{ ctrl.team.id }}
  </div>

  <div class="col-xs-5">
    <span ng-switch="ctrl.clickToEdit.clicked">
      <span ng-switch-when="false">
        <span ng-click="ctrl.goToTeam()" class='team-title'>
          {{ ctrl.team.name }}
        </span>

        <span class="item-actions">
          <action-icon title="'Rename'" icon-class="'glyphicon glyphicon-pencil'" fn-call="ctrl.rename()"></action-icon>
          <action-icon title="'Delete'" icon-class="'glyphicon glyphicon-trash'" fn-call="ctrl.deleteTeam()"></action-icon>
        </span>
      </span>

      <form ng-switch-when="true" ng-blur="ctrl.clickToEdit.submit()" ng-submit="ctrl.clickToEdit.submit()" class="form-inline">
        <input type="text" autofocus="autofocus" ng-model="ctrl.clickToEdit.currVal" class="form-control input-sm"></input>
        <button class="btn btn-xs btn-success rename">Save</button>
        <a class="btn btn-xs btn-default" ng-click="ctrl.clickToEdit.cancel()">Cancel</a>
      </form>
    </span>
  </div>

  <div class="col-xs-2">
    {{ ctrl.team.membersCount }}
  </div>

  <div class="col-xs-1">
    {{ ctrl.team.casesCount }}
  </div>

</div>
