<div id="scorers" class="container">
  <h2>Scorer Options</h2>

  <div id='default-scorers' class="row">
    <div class='col-sm-6'>
      <div class='scorers-header'>
        <h3>Your Default Scorer</h3>
        <p>Change the default scorer you use when creating new cases!</p>

        <div class="form-group">
          <select
            ng-model="scorers.user.defaultScorerId"
            ng-options="scorer.scorerId as scorer.displayName for scorer in scorers.combinedScorers"
            ng-change="scorers.updateUserScorer(scorers.user.defaultScorerId)"
            class="form-control"
          >
          </select>
        </div>
        <p><a href="https://quepid.com/docs/#scorers" target="_blank">Learn more</a> about the different types of scorers that Quepid ships with.
      </div>
    </div>
  </div>

  <hr />

  <div id='custom-scorers'>
    <h3>Scorers</h3>
    <p>We have two types of scorers, <i>Communal</i> that ship with Quepid and <i>Custom</i> which are scorers that you create and share with your teammates.</p>

    <div class="row">
      <div class='col-md-4'>
        <div class="btn-group" ng-show="!communalScorersOnly">
          <new-scorer button-text="'Add New'"></new-scorer>
        </div>
      </div>

      <div class='col-md-4' ng-show="!communalScorersOnly">
        View
        &nbsp;&nbsp;&nbsp;
        <div class="btn-group">
          <label class="btn btn-default" ng-model="scorerFilters.typeFilter" uib-btn-radio="'communal'">
            Communal
          </label>
          <label class="btn btn-default" ng-model="scorerFilters.typeFilter" uib-btn-radio="'custom'">
            Custom
          </label>
        </div>
      </div>

      <div class="col-md-4 form-inline">
        <input type="search" ng-model="q" placeholder="Filter scorers" aria-label="filter scorers" class="form-control" id='scorers-filter' />

        <input type="number" min="1" max="100" class="form-control" ng-model="pagination.scorers.pageSize" id='scorers-per-page' />
      </div>
    </div>

    <div class="clearfix"></div>

    <div id='scorers-listing'>
      <div>
        <div class="row listing-header">
          <div class="col-xs-12">
            <div class="row">
              <span class="col-xs-1">Name</span>
              <span class="col-xs-7">
                Code/Scale (<a target="_blank" href="http://quepid.com/docs/#scorers-custom">learn more</a>)
              </span>
              <span class="col-xs-1">Show scale labels?</span>
              <span class="col-xs-2">Owner</span>
            </div>
          </div>
        </div>

        <ul ng-model="scorers.combinedScorers" class="scorers-list row">
          <li dir-paginate="scorer in scorers.combinedScorers | scorerType:scorerFilters.typeFilter | filter:q | itemsPerPage: pagination.scorers.pageSize : 'scorers' track by scorer.scorerId" current-page="pagination.scorers.currentPage" pagination-id="scorers" class="scorers-list-item col-xs-12">
            <scorer-listing scorer="scorer"></scorer-listing>
          </li>
        </ul>

        <dir-pagination-controls
          class="text-center center-block"
          pagination-id="scorers"
        ></dir-pagination-controls>
      </div>

      <p ng-show="loading" class="text-center">
        <i class="glyphicon glyphicon-refresh spintime"></i>
      </p>
    </div>
  </div>
</div>
