<div class="modal-header">
  <button type="button" class="close btn-core-close" ng-click="ctrl.cancel()" aria-label="Close"></button>
  <h3 class="modal-title">Move Query to Another Case</h3>
</div>
<div class="modal-body">
  <div ng-show="ctrl.loading">
    <p>
      Loading cases, this wont take long!
      <i class="glyphicon glyphicon-refresh spintime" aria-hidden="true"></i>
    </p>
  </div>

  <div class="text-center" ng-show="ctrl.cases.length === 0 && !ctrl.loading">
    <p>
      Please create another case to move this query to first.
    </p>
  </div>

  <div ng-show="ctrl.cases.length > 0 && !ctrl.loading">
    <p>Select a case:</p>
    <ul class="list-group move-query-cases-list">
      <li class="list-group-item" ng-repeat="case in ctrl.cases" ng-class="{ active: case == ctrl.activeCase }" ng-click="ctrl.selectCase(case)">
        {{case.caseName}}
      </li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button ng-show="ctrl.activeCase" class="btn btn-success" ng-click="ctrl.ok()">
    Move to {{ ctrl.activeCase.caseName }}
  </button>
  <button class="btn btn-default" ng-click="ctrl.cancel()">Cancel</button>
</div>
