<%= turbo_stream.replace "notification-case-#{acase.id}" do %>
  <span id="notification-case-<%= acase.id %>">
    <% if counter > 0 %>
      <div class="alert alert-warning" role="alert" >  
        <% unless query_doc_pair.nil? %>
        Query: <code><%=query_doc_pair.query_text%></code>
        <% end %>
        <br/>    
        Query Doc Pairs Remaining: <code><%= query_doc_pair_count - counter %></code>.    
      </div>
    <% else %>
      <div class="alert alert-info" role="alert">
        Rating Sync Job has completed.
      </div>
    <% end %>
  </span>
<% end %>
