<div id='cases' class='container'>
  <h2>
    Relevancy Cases   
  </h2>

  <div class="row">
    <div class='col-md-4'>
      <div class="btn-group">
        <new-case button-text="'Add New'"></new-case>
      </div>

      <import-to-cases></import-to-cases>

    </div>

    <div class='col-md-4'>
      View
      &nbsp;&nbsp;&nbsp;
      <div class="btn-group">
        <label
          class="btn btn-default"
          ng-model="casesScope.typeFilter"
          uib-btn-radio="'all'"
        >
          All
        </label>
        <label
          class="btn btn-default"
          ng-model="casesScope.typeFilter"
          uib-btn-radio="'owned'"
        >
          My Cases
        </label>
        <label
          class="btn btn-default"
          ng-model="casesScope.typeFilter"
          uib-btn-radio="'shared'"
        >
          Shared With Me Cases
        </label>
        <label
          class="btn btn-default"
          ng-controller="CaseCtrl"
          ng-click="caseModel.unarchive()"
        >
          Archived Cases
        </label>
      </div>
    </div>

    <div class="col-md-4 form-inline">
      <input type="search" ng-model="q" placeholder="Filter cases" aria-label="filter cases" class="form-control" id='cases-filter' />

      <input type="number" min="1" max="100" class="form-control" ng-model="pagination.cases.pageSize" id='cases-per-page' />
    </div>
  </div>

  <div class="clearfix loading-cases-msg" ng-if="casesScope.loadingCases">
    <span class="glyphicon glyphicon-refresh spintime"></span>
    <span>Loading Your Cases</span>
  </div>

  <div id='cases-listing'>
    <span ng-if="casesScope.allCases.length >30"><i>Showing limited details since you have many many ({{casesScope.allCases.length}}) cases.  You may want to archive some or remove yourself from old teams.</i></span>
    <div ng-if="casesScope.allCases.length !== 0">
      <div class="row listing-header">
        <div class="col-xs-12 cases-list-header">
          <div class="row">
            <span class="col-xs-1">ID</span>
            <span class="col-xs-2">Case Title</span>
            <span class="col-xs-1">Last Try #</span>
            <span class="col-xs-1"># of Queries</span>
            <span class="col-xs-1">Last Score</span>
            <span class="col-xs-1">Last Run On</span>
            <span class="col-xs-2">Last Run By</span>
            <span class="col-xs-2">Associated
              <div class="row">
                 <div class="col-xs-6">
                   Judgements
                 </div>
                 <div class="col-xs-6">
                   Teams
                 </div>
               </div>
            </span>
            <span class="col-xs-1">Owner</span>
          </div>
        </div>
      </div>

      <ul ng-model="casesScope.allCases" class="cases-list row">
        <li dir-paginate="case in casesScope.allCases | caseType:casesScope.typeFilter | filter:q | itemsPerPage: pagination.cases.pageSize : 'cases' track by case.caseNo" current-page="pagination.cases.currentPage" pagination-id="cases" class="cases-list-item">
          <case-listing this-case="case"></case-listing>
        </li>
      </ul>

      <dir-pagination-controls
        class="text-center center-block"
        pagination-id="cases"
      ></dir-pagination-controls>
    </div>

    <p ng-if="casesScope.allCases.length === 0 && !casesScope.loadingCases">
      No cases to show!
    </p>

  </div>
</div>
