<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @selection_strategy.name %>
</p>

<%= link_to 'Edit', edit_selection_strategy_path(@selection_strategy) %> |
<%= link_to 'Back', selection_strategies_path %>
