<% content_for :title, "Editing AI Judge Prompt" %>

<h1>Refining <i class="bi bi-robot"></i>AI Judge <%=@ai_judge.name %>'s Prompt</h1>

<%= render "form", ai_judge: @ai_judge, query_doc_pair: @query_doc_pair %>
