<div class="modal-header">
  <button type="button" class="close btn-core-close" ng-click="ctrl.cancel()" aria-label="Close"></button>
  <h3 class="modal-title">Clone case: <span class="modal-case">{{ ctrl.theCase.caseName }}</span></h3>
</div>
<div class="modal-body">
  <div class="alert alert-warning" role="alert" ng-if="!ctrl.options.queries">
    You have chosen not to import any queries. The new case will be empty.
  </div>

  <p>Cloning a case is the best way to reduce the repetitive work of creating multiple cases that use the same search engine. Select the specific elements to include in the new case.</p>

  <label>New case name</label>
  <input type="text" class="form-control" id="newCaseName" ng-model="ctrl.options.caseName" placeholder="Enter new case name" ng-required="true"/>

  <br>

  <label>Include case history <span class="glyphicon glyphicon-question-sign" aria-hidden="true" popover-trigger="'mouseenter'" popover-placement="right" uib-popover="Select to include either a single try or all the tries of your case history if you want to evaluate previous attempts."></span></label>
  <div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
      <button type="button" class="btn" ng-click="ctrl.options.history=false" ng-class="ctrl.options.history ? 'btn-default' : 'btn-primary'">Only include a specific try</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn" ng-click="ctrl.options.history=true" ng-class="ctrl.options.history ? 'btn-primary' : 'btn-default'">Include the entire try history</button>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-6" ng-show="!ctrl.options.history">
      <div class="form-group">
        <label for="try">Select try </label> <span class="glyphicon glyphicon-question-sign" aria-hidden="true" popover-trigger="'mouseenter'" popover-placement="right" uib-popover="Select the desired try from your full case history."></span>
        <select
          id="try"
          ng-model="ctrl.options.tryId"
          ng-options="try.try_number as try.name for try in ctrl.options.tries"
          class="form-control"
        >
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Select content <span class="glyphicon glyphicon-question-sign" aria-hidden="true" popover-trigger="'mouseenter'" popover-placement="right" uib-popover="When cloning a case, you typically want to include your existing queries. If you want to preserve ratings, select to import them as well."></span></label>
        <div class="checkbox">
          <label>
            <input id="include-queries" type="checkbox" ng-model='ctrl.options.queries' checked> Include Queries
          </label>
          <label>
            <input id="include-ratings" type="checkbox" ng-model='ctrl.options.ratings'> Include Ratings
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default float-left" ng-click="ctrl.cancel()">Cancel</button>
  <button class="btn btn-primary" ng-click="ctrl.ok()" ng-disabled="ctrl.cannotClone()">Clone</button>
</div>
