<%= turbo_stream.replace "notifications-case-#{acase.id}" do %>
  <span id="notifications-case-<%= acase.id %>">
    <div class="alert alert-success" role="alert">
      Export complete. <%= link_to "Download #{filename}", case_export_download_path(acase), class: "alert-link" %>
    </div>
  </span>
<% end %>
