<qgraph
  ng-if="ctrl.scores && (ctrl.scores.length > 1)"
  max="ctrl.maxScore"
  scores="ctrl.scores"
  annotations="ctrl.annotations"
></qgraph>

<div
  ng-style="ctrl.style"
  class="header-rating"
>
  <span class="scorable-score">
    {{ ctrl.score | scoreDisplay }}
  </span>
  <span class="query-score-label low-profile">
    {{ ctrl.scoreLabel }}
  </span>
</div>

<div
  class="diff-score header-rating"
  title="{{ ctrl.fullDiffName }}"
  ng-show="ctrl.showDiff"
  ng-style="ctrl.diffInfo.style"
>
  <span class="scorable-score">
    {{ ctrl.diffInfo.score | scoreDisplay }}
  </span>
  <span
    ng-show="ctrl.diffInfo.label"
    class="query-score-label low-profile"
  >
    {{ ctrl.diffInfo.label }}
  </span>
</div>