<div id="annotations">
  <p>
    Annotations are like snapshots for scores. Create a new annotation to save the current case score along with a message to help your remember what the state of the case is at this moment.
  </p>

  <strong>Why?</strong>

  <p>
    You might have made some changes that are invisible to Quepid (eg. a new tokenizer), and you want to capture that information and the corresponding score.
  </p>

  <p>
    <a href='#annotations-list'>Scroll down to view list of annotations</a>
  </p>

  <div class='clearfix'>
    <div class='form-group'>
      <label>Message:</label>
      <textarea class="form-control" rows="3" ng-model='ctrl.annotationModel.message'></textarea>
    </div>

    <div class='form-group'>
      <button class='btn btn-success' ng-click="ctrl.create()">Create</button>
    </div>
  </div>

  <div id='annotations-list' class='annotations'>
    <h3>Existing Annotations</h3>

    <ul ng-model='ctrl.annotationsList'>
      <annotation
        ng-repeat='annotation in ctrl.annotationsList'
        the-annotation='annotation'
      ></annotation>
    </ul>
  </div>
</div>
