<script type="application/javascript">
  // Tooltip
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  })
</script>

<div class="modal-header">
  <button type="button" class="close" ng-click="ctrl.cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">Import into Case: <span class="modal-case">{{ ctrl.theCase.caseName }}</span></h3>
</div>
<div class="modal-body">
  <p>
    Importing ratings is a great way to manage the rating process outside of Quepid, for example in your own custom application.
    There are a number of formats for importing data into Quepid.
  </p>
  <div class="checkbox">
    <label>
      <input id="clear-existing-queries" type="checkbox" ng-model='ctrl.clearQueries'> Clear existing queries?
      <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-placement="right" data-toggle="tooltip"  title="Select to clear all the existing queries on a case, this is typical when you manage your queries and ratings per case outside Quepid"></span>
    </label>
  </div>

  <p>Please select the file format to import:</p>

  <div class="form-group">
    <input type="radio" id="csv" name="importSelection" value="csv" ng-model="ctrl.options.which">
    <label for="csv">CSV</label>
    <span class="help-block">
      The CSV file should have the headers: <code>query,docid,rating</code> and lines:
      <pre>
query,docid,rating
star wars,3574597,3
star wars,3557771,
star trek,,</pre>
    </span>
    <p>Select CSV file to import:</p>

    <ng-csv-import
      class="import"
      content="ctrl.csv.content"
      header="ctrl.csv.header"
      header-visible="true"
      separator="ctrl.csv.separator"
      separator-visible="ctrl.csv.separatorVisible"
      result="ctrl.csv.result">
    </ng-csv-import>



    <div ng-if="ctrl.csv.content" class="block left">
      <h2>CSV</h2>
      <div ng-show="ctrl.import.alert" class="text-danger bg-danger import-content" ng-bind-html="ctrl.import.alert">
      </div>
      <div class="content import-content"><pre>{{ ctrl.csv.content }}</pre></div>
    </div>
  </div>

  <div class="form-group">
    <input type="radio" id="rre" name="importSelection" value="rre" ng-model="ctrl.options.which">
    <label for="rre">Rated Ranking Evaluator</label>
    <span class="help-block">
      Quepid only imports the ratings part of the <a href="https://github.com/SeaseLtd/rated-ranking-evaluator/wiki/What%20We%20Need%20To%20Provide#ratings" target="_blank">RRE judgement</a> file.
    </span>
    <p>Select RRE ratings file to import:</p>
    <!-- this onchange is a code smell. -->
    <input type="file" id="rreFile" name="rreFile"
      accept="application/json"
      onchange="angular.element(this).scope().pickedRREFile()"/>
  </div>

  <div class="form-group">
    <input type="radio" id="ltr" name="importSelection" value="ltr" ng-model="ctrl.options.which">
    <label for="ltr">Learning to Rank</label>
    <span class="help-block">
      LTR uses a rather odd format of <code>rating qid:queryid # docid query</code>, eg <code>3 qid:1 # 1370 star trek</code>.  We ignore the <code>qid:queryid</code> and use the <code>query</code> for matching up to existing queries.
    </span>
    <p>Select LTR ratings file to import:</p>
    <!-- this onchange is a code smell. -->
    <input type="file" id="ltrFile" name="ltrFile"
      accept="text/plain"
      onchange="angular.element(this).scope().pickedLTRFile()"/>
  </div>

</div>
<div class="modal-footer">
  <p class='bg-warning text-warning padded-text'>
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    This operation WILL override your existing ratings. Proceed with caution!
  </p>

  <i class="fa fa-spinner fa-spin" aria-hidden="true" ng-show="ctrl.loading"></i>

  <button class="btn btn-default float-left" ng-click="ctrl.cancel()">Cancel</button>
  <button class="btn btn-primary" ng-click="ctrl.ok()" ng-disabled="ctrl.options.which === 'undefined' || ctrl.import.alert !== undefined">Import</button>

</div>
