<div class="modal-header">
  <button type="button" class="close btn-core-close" ng-click="ctrl.cancel()" aria-label="Close"></button>
  <h3 class="modal-title">Import into Case: <span class="modal-case">{{ ctrl.theCase.caseName }}</span></h3>
</div>

<div class="modal-body">
  <uib-tabset active="active">
    <uib-tab index="0" heading="Ratings" select="ctrl.clearSelection()">
      <p>
        Importing ratings is a great way to manage the rating process outside of Quepid, for example in your own custom application.
        There are a number of formats for importing this data into Quepid.
      </p>
      <div class="checkbox">
        <label>
          <input id="clear-existing-queries" type="checkbox" ng-model='ctrl.clearQueries'> Clear existing queries?
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true" popover-trigger="'mouseenter'" popover-placement="right" uib-popover="Select to clear all the existing queries on a case, this is typical when you manage your queries and ratings per case outside Quepid"></span>
        </label>
      </div>

      <p>Please select the file format to import:</p>

      <div class="form-group">
        <input type="radio" id="csv" name="importSelection" value="csv" ng-model="ctrl.options.which">
        <label for="csv">CSV</label>
        <span class="help-block">
          The CSV file should have the headers: <code>query,docid,rating</code> and lines similar to:
          <pre>
query,docid,rating
star wars,3574597,3
star wars,3557771,
star trek,,</pre>
        </span>
        <p>Select CSV file to import:</p>

        <ng-csv-import
          class="import"
          content="ctrl.csv.content"
          header="ctrl.csv.header"
          header-visible="true"
          separator="ctrl.csv.separator"
          separator-visible="ctrl.csv.separatorVisible"
          result="ctrl.csv.result">
        </ng-csv-import>



        <div ng-if="ctrl.csv.content" class="block left">
          <h2>CSV</h2>
          <div ng-show="ctrl.csv.import.alert" class="text-danger bg-danger import-content" ng-bind-html="ctrl.csv.import.alert">
          </div>
          <div class="content import-content"><pre>{{ ctrl.csv.content }}</pre></div>
        </div>
      </div>

      <div class="form-group">
        <input type="radio" id="rre" name="importSelection" value="rre" ng-model="ctrl.options.which">
        <label for="rre">Rated Ranking Evaluator</label>
        <span class="help-block">
          Quepid only imports the ratings part of the <a href="https://github.com/SeaseLtd/rated-ranking-evaluator/wiki/What%20We%20Need%20To%20Provide#ratings" target="_blank">RRE judgement</a> file.
        </span>
        <p>Select RRE ratings file to import:</p>
        <!-- this onchange is a code smell. -->
        <input type="file" id="rreFile" name="rreFile"
          accept="application/json"
          onchange="angular.element(this).scope().pickedRREFile()"/>
      </div>

      <div class="form-group">
        <input type="radio" id="ltr" name="importSelection" value="ltr" ng-model="ctrl.options.which">
        <label for="ltr">Learning to Rank</label>
        <span class="help-block">
          LTR uses a rather odd format of <code>rating qid:queryid # docid query</code>, eg <code>3 qid:1 # 1370 star trek</code>.  We ignore the <code>qid:queryid</code> and use the <code>query</code> for matching up to existing queries.
        </span>
        <p>Select LTR ratings file to import:</p>
        <!-- this onchange is a code smell. -->
        <input type="file" id="ltrFile" name="ltrFile"
          accept="text/plain"
          onchange="angular.element(this).scope().pickedLTRFile()"/>
      </div>
    </uib-tab>
    <uib-tab index="1" heading="Information Needs" select="ctrl.clearSelection()">
      <p>
        Importing information needs is the easiest way to update a lot of queries.  You should export the template file via the 'Export' feature first.
      </p>
      <div class="form-group">
        <input type="radio" id="information_needs" name="importSelection" value="information_needs" ng-model="ctrl.options.which">
        <label for="information_needs">Information Needs CSV</label>
        <div class="checkbox">
          <label>
            <input id="clear-existing-queries" type="checkbox" ng-model='ctrl.createQueries'> Create missing queries?
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" popover-trigger="'mouseenter'" popover-placement="right" uib-popover="Select to create any missing queries, useful when populating a new case with queries with info needs."></span>
          </label>
        </div>

        <span class="help-block">
          The CSV file should have the headers: <code>query,information_need</code> and lines similar to:
          <pre>
query,information_need
star wars,"The original movie"</pre>
        </span>
        <p>Select CSV file to import:</p>

        <ng-csv-import
          class="import"
          content="ctrl.information_needs.content"
          header="ctrl.information_needs.header"
          header-visible="true"
          separator="ctrl.csv.separator"
          separator-visible="ctrl.csv.separatorVisible"
          result="ctrl.information_needs.result">
        </ng-csv-import>



        <div ng-if="ctrl.information_needs.content" class="block left">
          <h2>CSV</h2>
          <div ng-show="ctrl.information_needs.import.alert" class="text-danger bg-danger import-content" ng-bind-html="ctrl.information_needs.import.alert">
          </div>
          <div class="content import-content"><pre>{{ ctrl.information_needs.content }}</pre></div>
        </div>
      </div>
    </uib-tab>
    <uib-tab index="2" heading="Snapshots" select="ctrl.clearSelection()">
      <p>
        Importing snapshots is fun!  Any missing queries will be created.  The Case ID provided in the uploaded CSV file will be replaced so that all rows will be imported into the current case.
      </p>
      <div class="form-group">
        <input type="radio" id="snapshots" name="importSelection" value="snapshots"
               ng-model="ctrl.options.which">
        <label for="snapshots">Snapshot CSV</label>

        <span class="help-block">
          The CSV file should have the headers: <code>Snapshot Name,Snapshot Time,Case ID,Query Text,Doc ID,Doc Position</code> and lines similar to:
          <pre>
Snapshot: Baseline,2023-05-12T18:22:22.245Z,6,star wars,527641,1
Snapshot: Baseline,2023-05-12T18:22:22.245Z,6,star wars,9426,2
Snapshot: Baseline,2023-05-12T18:22:22.245Z,6,star wars,1921,3
          </pre>
          Please note that the <code>Case ID</code> column is ignored so you can export from one case and import into another.
          Any additional columns will be treated as document fields and stored in the Snapshot.
        </span>
        <p>Select Snapshot CSV file to import:</p>

        <ng-csv-import
                class="import"
                content="content"
                header="ctrl.snapshots.header"
                header-visible="true"
                separator="ctrl.snapshots.separator"
                separator-visible="ctrl.snapshots.separatorVisible"
                result="ctrl.snapshots.result">
        </ng-csv-import>

        <div ng-if="ctrl.snapshots.content" class="block left">
          <h2>CSV</h2>
          <div ng-show="ctrl.snapshots.import.alert" class="text-danger bg-danger import-content"
               ng-bind-html="ctrl.snapshots.import.alert">
          </div>
          <div class="content import-content">
            <pre>{{ ctrl.snapshots.content }}</pre>
          </div>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>

</div>
<div class="modal-footer">

  <p class='bg-warning text-warning padded-text' ng-if="ctrl.showWarning()">
    <i class="bi bi-exclamation-triangle-fill" aria-hidden="true"></i>
    <span ng-show="ctrl.ratingsTypePicked()">
    This operation WILL override your existing ratings. Proceed with caution!
    </span>
    <span ng-show="ctrl.informationNeedsTypePicked()">
    This operation WILL override your existing information needs. Proceed with caution!
    </span>
    <span ng-show="ctrl.snapshotTypePicked()">
    This operation WILL replace any snapshots you have created that have the same Snapshot Name in the csv.
    </span>    
  </p>

  <i class="glyphicon glyphicon-refresh spintime" aria-hidden="true" ng-show="ctrl.loading"></i>

  <button class="btn btn-default float-left" ng-click="ctrl.cancel()">Cancel</button>
  <button class="btn btn-primary" ng-click="ctrl.ok()" ng-disabled="!ctrl.showWarning()">Import</button>

</div>
