<%= turbo_stream_from(:notifications) %>

<h1>Websocket and Background Job Tester</h1>
<p>
  This tool is for testing out websocket and background job handling in Quepid.
</p>
<p>
  After clicking the button you should see a count down counter that updates every second in a alert box.
</p>

<span id="notification">
</span>

<%= button_to "Run Test Background Job", test_background_job_admin_websocket_tester_index_path, method: :post, class: 'btn btn-sm btn-danger' %>
 

<% @action_cable_settings.each do |source, settings| %>
  <h2><%= source %></h2>
  <pre><code><%= JSON.pretty_generate(settings) %></code></pre>
<% end %>
