<p>
  List out duplicate scores for a specific day and try.  Count 1 is okay!
</p>

<pre>
  <% @duplicate_score_patterns.each do |dsp| %>
    Count: <%= dsp.count %> | try_id: <%= dsp.try_id %>  day: <%= dsp.day %> score: <%= dsp.score %>
  <% end %>
</pre>
