<div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
  <div class="card h-100">
    <h5 class="card-header text-truncate">
      <%= link_to_core_case case_title(kase), kase, kase.last_try_number %>
    </h5>
    
    <div class="card-body">
      <turbo-frame id="case_frame_<%= kase.id %>" src="<%= home_case_prophet_path(kase) %>">
        <h5 class="card-title placeholder-glow"></h5>
        <p class="card-text placeholder-glow">
          <span class="placeholder col-11"></span>
        </p>
        <p class="card-text placeholder-glow">
          <span class="placeholder col-11"></span>
        </p>
        <p class="card-text placeholder-glow">
          <span class="placeholder col-11"></span>
        </p>
        <div class="placeholder w-100" style="height: 84px;"></div>                
      </turbo-frame>
    </div>
  </div>
</div>
