<div class="item-box row">
  <div class="col-xs-3 col-md-1">
    
    <i ng-show="ctrl.user.ai_judge" class='bi bi-robot' style="font-size: 48px;"></i>
    <img
      ng-show="!ctrl.user.ai_judge"
      ng-src="{{ ctrl.user.avatar_url }}"
      class="img-responsive img-rounded"
      alt="{{ ctrl.user.display_name }}"
      width="48" height="48"
      title="Avatar image"
    />
  </div>

  <div class="col-xs-9 col-md-11 user-info">
    <h5 class="user-name">
      {{ ctrl.user.display_name }}
    </h5>

    {{ ctrl.user.email }}

    <span class="text-muted" ng-if="ctrl.user.pending_invite"> Awaiting response to invitation
      <a class="action-icon" ng-if="ctrl.user.pending_invite" ngclipboard ngclipboard-success="ctrl.confirmCopy()" data-clipboard-text="{{ctrl.user.invite_url}}">
        <i
          class="glyphicon glyphicon-copy"
          aria-hidden="true"
          title="Copy invite url to your clipboard"
          alt="Copy invite url to your clipboard"
        ></i>
      </a>
    </span>

    <span class="item-actions">
      <remove-member this-member="ctrl.user" this-team="ctrl.team"></remove-member>
      <a ng-show="ctrl.user.ai_judge" ng-href="teams/{{ctrl.team.id}}/ai_judges/{{ctrl.user.id}}/edit" target="_self" class="action-icon">     
        <i
          class="glyphicon glyphicon-pencil"
          aria-hidden="true"
          title="Edit Judge"
          alt="Edit Judge"
        ></i>
      </a>
    </span>
  </div>
</div>
