<div id="successModal" class="modal">
  <div class="modal-content">
    <%= image_tag "kraken.png", id: 'kraken', class: "img-fluid fade-out" %>
    <button onclick="closeModal()">Close</button>
  </div>
</div>

<script>
  document.getElementById('successModal').style.display = 'block';
  function closeModal() {
    document.getElementById('successModal').style.display = 'none';
  }
  
  document.addEventListener('click', function(event) {
    document.getElementById('successModal').style.display = 'none';
  });
  
  document.getElementById('kraken').addEventListener('animationend', function() {
    this.remove();
  });
</script>
