<%= turbo_stream.replace "book-import-notifications" do %>
  <span id="book-import-notifications">  
    <div class="alert alert-info" role="alert">
      <%= message %>
    </div>  
  </span>
<% end %>
