<p></p>
<h2>Editing Book <%= @book.id %></h2>

<%= render 'form', book: @book %>

<br>

<%= button_to 'Cancel', @book, method: :get %>

<br>

<%= button_to 'Delete Book', @book, method: :delete %>

<br>
