<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">New Book</h1>
</div>

<%= render 'form', book: @book %>
<br>
<%= button_to 'Back to Books', books_path, method: :get %>
<br>
