<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1><i class="bi bi-book"></i> Create a Book</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <%= link_to 'Back to Books', books_path, class: "btn btn-sm btn-outline-secondary" %>
    </div>
  </div>
</div>

<%= render 'form', book: @book %>
