<div class="modal-header">
  <button type="button" class="close btn-core-close" ng-click="ctrl.cancel()" aria-label="Close"></button>
  <h3 class="modal-title">Share Scorer</h3>
</div>

<div class="modal-body">
  <div ng-show='ctrl.share.loading'>
    <p>
      Loading your teams, this will be quick I promise!
      <i class='glyphicon glyphicon-refresh spintime'></i>
    </p>
  </div>

  <div class="text-center" ng-show="ctrl.share.teams.length === 0 && !ctrl.share.loading">
    <p>
      No teams to share with? Why not go ahead and create a new team!
    </p>

    <a class="btn btn-primary btn-lg" ng-click="ctrl.goToTeamsPage()">
      <i class="bi bi-plus-lg"></i>
      Create a team
    </a>
  </div>

  <div ng-show="ctrl.share.teams.length > 0 && !ctrl.share.loading">
    <h4>Select a team to share this scorer with:</h4>

    <div class="list-group">
      <a href="" class="list-group-item" ng-repeat="team in ctrl.share.teams" ng-class="{ active: team == ctrl.share.selectedTeam }" ng-click="ctrl.selectTeam(team)">
        {{ team.name }}
      </a>
    </div>
  </div>

  <div ng-if="ctrl.share.sharedTeams.length > 0 && !ctrl.share.loading">
    <hr />
    <h4>Already shared with:</h4>

    <ul class="list-group">
      <li class="list-group-item list-group-item-success" ng-repeat="team in ctrl.share.sharedTeams" ng-class="{ active: team == ctrl.share.unselectedTeam }" ng-click="ctrl.unselectTeam(team)">
        {{ team.name }}
      </li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <a class="btn btn-primary pull-left" ng-click="ctrl.goToTeamsPage()">
    <i class="bi bi-plus-lg"></i>
    Create a team
  </a>
  
  <button
    class="btn btn-success"
    ng-show="ctrl.share.selectedTeam && ctrl.share.action ==='select'"
    ng-click="ctrl.ok()"
  >
    Share with {{ ctrl.share.selectedTeam.name }}
  </button>
  <button
    class="btn btn-success"
    ng-show="ctrl.share.unselectedTeam && ctrl.share.action ==='unselect'"
    ng-click="ctrl.ok()"
  >
    Unshare from {{ ctrl.share.unselectedTeam.name }}
  </button>  

  <button class="btn btn-default" ng-click="ctrl.cancel()">Cancel</button>
</div>
