<div class="modal-header">
  <button type="button" class="close btn-core-close" ng-click="ctrl.cancel()" aria-label="Close"></button>
  <h3 class="modal-title">Delete Options for Case: <span class="modal-case">{{ ctrl.theCase.caseName }}</span></h3>
</div>
<div class="modal-body">

  <p>We have a number of options for cleaning up a case, from deleting, to archiving, to deleting all of it's queries.</p>

  <div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
      <button type="button" class="btn" ng-click="ctrl.options.action='delete_all_queries'" ng-class="ctrl.options.action==='delete_all_queries' ? 'btn-primary' : 'btn-default'">Delete All Queries</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn" ng-click="ctrl.options.action='archive_case'" ng-class="ctrl.options.action==='archive_case' ? 'btn-primary' : 'btn-default'">Archive Case</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn" ng-click="ctrl.options.action='delete_case'" ng-class="ctrl.options.action==='delete_case' ? 'btn-primary' : 'btn-default'">Delete Case</button>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="" ng-show="ctrl.options.action==='delete_all_queries'">
      <div class="form-group">
        Deleting all the queries will also delete your ratings for those queries.
      </div>
    </div>
    <div class="" ng-show="ctrl.options.action==='archive_case'">
      <div class="form-group">
        You're about to put this case into deep freeze. You'll be able to get to it through "Archived Cases" filter in the Relevancy Cases listing page.
      </div>
    </div>
    <div class="" ng-show="ctrl.options.action==='delete_case'">
      <div class="form-group">
        You're about to delete this case forever! If you think you might want it later, use the Archive function instead.
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default float-left" ng-click="ctrl.cancel()">Cancel</button>
  <button class="btn btn-danger" ng-click="ctrl.ok()" ng-disabled="ctrl.cannotDelete()">{{ctrl.buttonName()}}</button>
</div>
