<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1>New Query Doc Pair in <%= book_title(@book) %></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <%= link_to "Back to Query Doc Pairs", book_query_doc_pairs_path(book: @book), class: "btn btn-sm btn-outline-secondary" %>
    </div>
  </div>
</div>

<%= render 'form', query_doc_pair: @query_doc_pair %>
