<p></p>
<h2>New Query Doc Pair in <%= book_title(@book) %></h2>

<%= render 'form', query_doc_pair: @query_doc_pair %>

<br>

<%= button_to 'Cancel', book_query_doc_pairs_path(book: @book), method: :get %>

<br>
