<div class="modal-header">
  <button type="button" class="close btn-core-close" ng-click="ctrl.cancel()" aria-label="Close"></button>
  <h3 class="modal-title">Query Options</h3>
</div>

<div class="modal-body">
  <p>Provide a JSON object specifying query specific options</p>
  <label>
    This key => value object will be available in the scorer so you can use it to access query specifics. 
    You can access the values using the <code>qOption('key')</code> method in Scorers or <code>#$qOption.key##</code> in Query Sandbox.
  </label>

  <div
    ui-ace="{
      require:     ['ace/ext/language_tools'],
      useWrapMode: false,
      mode:        'json',
      theme:       'chrome'
    }"
    ng-model="ctrl.value"
  >
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ctrl.ok()">Set Options</button>
  <button class="btn btn-default" ng-click="ctrl.cancel()">Cancel</button>
</div>
