<form class="form input-append">
  <input
    id="add-query"
    class="form-control"
    ng-disabled="user.hasReachedQueryLimit()"
    ng-model="ctrl.text"
    placeholder="{{ ctrl.message() }}"
    text-paste="ctrl.handlePaste($pastedText)"
    type="text"
   />

  <input
    id="add-query-submit"
    class="btn btn-success"
    ng-click="ctrl.submit()"
    ng-disabled="ctrl.textInputIsEmpty() || user.hasReachedQueryLimit()"
    type="submit"
    value="{{ ctrl.text.indexOf(';') === -1 ? 'Add query' : 'Add queries' }}"
   />

  <i class="fa fa-spinner fa-spin" ng-class="{'hidden': !ctrl.loading}"></i>
</form>
