<form class="form input-append">
  <input
    class="form-control"
    ng-disabled="user.hasReachedQueryLimit()"
    ng-model="ctrl.text"
    placeholder="{{ ctrl.message() }}"
    text-paste="ctrl.handlePaste($pastedText)"
    type="text"
   />

  <input
    class="btn btn-success"
    ng-click="ctrl.submit()"
    ng-disabled="ctrl.inputIsEmpty() || user.hasReachedQueryLimit()"
    type="submit"
    value="{{ ctrl.text.indexOf(';') === -1 ? 'Add query' : 'Add queries' }}"
   />

  <i class="fa fa-spinner fa-spin" ng-show="ctrl.loading"></i>
</form>
