<form class="form input-append vertically-centered">
  <input
    id="add-query"
    class="form-control"
    ng-model="ctrl.text"
    placeholder="{{ ctrl.message() }}"
    text-paste="ctrl.handlePaste($pastedText)"
    type="text"
   />

  <input
    id="add-query-submit"
    class="btn btn-success"
    ng-click="ctrl.submit()"
    ng-disabled="!ctrl.canAddQueries || ctrl.textInputIsEmpty()"
    type="submit"
    value="{{ ctrl.text.indexOf(';') === -1 ? 'Add query' : 'Add queries' }}"
   />

  <i class="spinner" ng-class="{'hidden': !ctrl.loading}">/>
</form>
