<%= link_to_core_case 'Return to Case', @case, @case.last_try_number %>

<div id="tries_tree_view"></div>
<script type="text/javascript">
  var tries_tree_view;

  fetch('<%= analytics_tries_visualization_vega_specification_path(case_id: @case.id) %>')
    .then(res => res.json())
    .then(spec => render(spec))
    .catch(err => console.error(err));

  function render(spec) {
    tries_tree_view = new vega.View(vega.parse(spec), {
      renderer:  'canvas',  // renderer (canvas or svg)
      container: '#tries_tree_view',   // parent DOM container
      hover:     true,       // enable hover processing
      loader: vega.loader({target: '_self'})  // enable loading links in the same window!
    });

    tries_tree_view.addSignalListener('width', function(name, value) {
      console.log('WIDTH: ' + value);
    });

    return tries_tree_view.runAsync();
  }
</script>
