<div class="btn-group" uib-dropdown>
  <button type="button" id="export-button" class="btn btn-default" uib-dropdown-toggle>
    <i class="fa fa-upload"></i>
    Export
    <i class="caret"></i>
  </button>

  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="export-button">
    <li role="menuitem">
      <a ng-click='ctrl.exportAllToCSV()'>
        All cases to CSV
      </a>
    </li>
    <li role="menuitem">
      <a ng-click='ctrl.exportOwnedToCSV()'>
        Owned cases to CSV
      </a>
    </li>
    <li role="menuitem">
      <a ng-click='ctrl.exportSharedToCSV()'>
        Shared cases to CSV
      </a>
    </li>
  </ul>
</div>
