<% if @case.present? %>
<div id="case-actions" class="row">
  <div class="col-sm-12">
    <ul class="list-inline">
      <li class="list-inline-item">
        <i class="bi bi-list-task" aria-hidden="true"></i>
        <a href="#">Select scorer</a>
      </li>
      <li class="list-inline-item">
        <i class="bi bi-book-half" aria-hidden="true"></i>
        <a href="#" onclick="event.preventDefault()" data-action="click->judgements#open">Judgements</a>
      </li>
      <li class="list-inline-item">
        <i class="bi bi-camera" aria-hidden="true"></i>
        <a href="#" data-action="click->snapshot#open">Create snapshot</a>
      </li>
      <li class="list-inline-item">
        <i class="bi bi-bar-chart-fill" aria-hidden="true"></i>
        <a href="#" data-action="click->snapshot-comparison#open">Compare snapshots</a>
      </li>
      <li class="list-inline-item">
        <i class="bi bi-file-earmark-arrow-down" aria-hidden="true"></i>
        <a href="#" onclick="event.preventDefault()" data-action="click->import-ratings#open">Import</a>
      </li>
      <li class="list-inline-item">
        <i class="bi bi-share" aria-hidden="true"></i>
        <a href="#" onclick="event.preventDefault()"
           data-controller="share-case"
           data-action="click->share-case#open"
           data-bs-toggle="modal"
           data-bs-target="#shareCaseModal"
           data-share-case-id-value="<%= @case.id %>"
           data-share-case-name-value="<%= @case.case_name %>"
           data-share-case-all-teams-json="<%= current_user.teams.select(:id, :name).order(:name).to_json %>"
           data-share-case-shared-teams-json="<%= @case.teams.select(:id, :name).to_json %>">Share case</a>
      </li>
      <li class="list-inline-item">
        <i class="bi bi-copy" aria-hidden="true"></i>
        <a href="#" data-action="click->clone-case#open">Clone</a>
      </li>
      <li class="list-inline-item">
        <i class="bi bi-x-lg" aria-hidden="true"></i>
        <a href="#" data-action="click->delete-case-options#open">Delete</a>
      </li>
      <li class="list-inline-item">
        <i class="bi bi-file-earmark-arrow-up" aria-hidden="true"></i>
        <a href="#" data-action="click->export-case#open">Export</a>
      </li>
      <li class="list-inline-item" id="tune-relevance-link">
        <i class="bi bi-wrench" aria-hidden="true"></i>
        <a href="#" onclick="event.preventDefault()" data-action="click->resizable-pane#toggle">Tune Relevance</a>
      </li>
      <li class="list-inline-item">
        <i class="bi bi-signpost-2" aria-hidden="true"></i>
        <a href="#" onclick="event.preventDefault()" data-action="click->tour#start">Tour</a>
      </li>
    </ul>
  </div>
</div>
<% end %>
