<ng-include src="'views/common/flash.html'"></ng-include>

<div ng-controller="LoadingCtrl">
  <div ng-show="loading.isLoading()">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 text-center loading-app" style="margin-top: 200px;">
        <i ng-show="loadingUsers" class="big-spinner loading-text">Loading...</i>
      </div>
    </div>
  </div>
  <div ng-show="!loading.isLoading()">
    <div ng-view></div>
  </div>
</div>
