<div class="container centered-form">
  <div class="row mb-3">
    <h2>
      Admin Panel
    </h2>
  <ul>
  <li><%= link_to 'Users', admin_users_path %>
  <li><%= link_to 'Quepid Communal Scorers', admin_communal_scorers_path %></li>

  <li><a href="/admin/jobs">Job Manager</a><em>
  <% if Rails.application.config.google_analytics_enabled %>
    Google Analytics enabled, so Redis is setup.
  <% else %>
    Google Analytics disabled, so Redis not required.
  <% end %></em>

  </li>
  </ul>
  </div>
</div>
