<h1>Admin Panel</h1>

<span class="bg-warning text-warning">If you are here and think you shouldn't be, please contact the site administrators.</span>

<div>
  <%= link_to 'Users', admin_users_path %><br />
  <%= link_to 'Quepid Communal Scorers', admin_communal_scorers_path %><br />
  <a href="/admin/jobs">Job Manager</a>
</div>
