<div class="container centered-form">
  <div class="row mb-3">
    <h2>
      Admin Panel
    </h2>
  <ul>
  <li><%= link_to 'Users', admin_users_path %>
  <li><%= link_to 'Quepid Communal Scorers', admin_communal_scorers_path %></li>
  <li><%= link_to 'Announcements', admin_app_announcements_path %>
  <li><%= link_to 'Job Manager', sidekiq_web_path %></li>  
  </ul>
  </div>
</div>
