<div class="item-box row">
  <div class="col-xs-1">
    {{ ctrl.thisCase.caseNo }}
  </div>

  <div class="col-xs-2">
    <span ng-switch="ctrl.clickToEdit.clicked">
      <span ng-switch-when="false">
        <span
          class="case-title"
          ng-click="ctrl.goToCase()"
        >
          {{ ctrl.thisCase.caseName }}
          
          <i class="bi bi-repeat" ng-show="ctrl.thisCase.nightly"></i>
        </span>
        <br/>
        <span class="item-actions">
          <action-icon title="'Rename'" icon-class="'glyphicon glyphicon-pencil'" fn-call="ctrl.rename()"></action-icon>

          <delete-case this-case="ctrl.thisCase"></delete-case>
          <archive-case this-case="ctrl.thisCase"></archive-case>

          <span>
            <export-case icon-only="true" the-case="ctrl.thisCase" supports-detailed-export="false"></export-case>

            <share-case
              acase="ctrl.thisCase"
              icon-only="true"
            ></share-case>
          </span>
        </span>
      </span>

      <form ng-switch-when="true" ng-blur="ctrl.submit()" ng-submit="ctrl.submit()" class="form-inline">
        <input id="case-name" type="text" autofocus="autofocus" ng-model="ctrl.clickToEdit.currVal" class="form-control input-sm"></input>
        <button class="btn btn-xs btn-success rename">Save</button>
        <a class="btn btn-xs btn-default" ng-click="ctrl.cancel()">Cancel</a>
      </form>
    </span>
  </div>

  <div class="col-xs-1">
     {{ ctrl.thisCase.lastTry }}
  </div>

  <div class="col-xs-1">
    {{ ctrl.thisCase.queriesCount }}
  </div>

  <div class="col-xs-1">
    {{ ctrl.thisCase.lastScore.score }}

    <span ng-show="ctrl.thisCase.lastScore.all_rated === false" class='text-warning' title="Hop to it!  There are unrated results!">
      <i class="frog-icon">🐸</i>
    </span>
  </div>

  <div class="col-xs-1">
    <span ng-show="ctrl.thisCase.lastScore.created_at">
    {{ ctrl.thisCase.lastScore.created_at | timeAgo }}
    </span>
    <span ng-hide="ctrl.thisCase.lastScore.created_at">
    Never Run
    </span>
  </div>

  <div class="col-xs-2">
    {{ ctrl.thisCase.lastScore.email }}
  </div>
  <div class="col-xs-1">
    <a ng-if="ctrl.thisCase.bookName" ng-attr-target="_self" href="books/{{ ctrl.thisCase.bookId }}">{{ ctrl.thisCase.bookName }}</a>
  </div>
  <div class="col-xs-1">
    <ul>
      <li ng-repeat="team in ctrl.thisCase.teams"><a href="#" ng-click="ctrl.goToTeam(team.id)">{{ team.name }}</a></li>
    </ul>
  </div>
  <div class="col-xs-1">
    <div class="owner" ng-if="ctrl.thisCase.owned">
      Me
    </div>

    <div class="owner" ng-if="!ctrl.thisCase.owned">
      {{ ctrl.thisCase.ownerName }}
    </div>
  </div>
</div>
