<div class="item-box row">
  <div class="col-xs-1">
    {{ ctrl.scorer.name }}

    <span class="item-actions">
      <span ng-if="!ctrl.scorer.communal">
        <share-scorer scorer="ctrl.scorer"></share-scorer>
      </span>
      <edit-scorer scorer="ctrl.scorer"></edit-scorer>
      <span ng-if="ctrl.team">
        <action-icon title="'Remove'" icon-class="'fa fa-archive'" fn-call="ctrl.removeScorer()"></action-icon>
      </span>
      <span ng-if="!ctrl.team">
        <action-icon title="'Delete'" icon-class="'fa fa-trash'" fn-call="ctrl.deleteScorer()"></action-icon>
      </span>
    </span>
  </div>

  <div class="col-xs-5">
    <div class="scorer code">
      <div ui-ace="{
        require: ['ace/ext/language_tools'],
        advanced: {
          enableBasicAutocompletion: true,
          enableLiveAutocompletion: true
        },
        mode:   'javascript',
        theme:  'chrome'
      }"
      readonly='readonly'
      ng-model="ctrl.scorer.code"></div>
    </div>

    <div>
      <ul class='scorer-scale clearfix' ng-model="ctrl.scorer.scale">
        <li ng-repeat="(number, value) in ctrl.scorer.colors">
          <div ng-style="{ 'background-color': value.color }">
            {{ number }}

            <div ng-if="ctrl.scorer.showScaleLabel(number)">
              {{ ctrl.scorer.scaleWithLabels[number] }}
            </div>
          </div>
        </li>
      </ul>

      <div class='clearfix'></div>
    </div>
  </div>

  <div class="col-xs-2">
    {{ ctrl.scorer.showScaleLabels }}
  </div>

  <div class="col-xs-2">
    <span ng-if="ctrl.scorer.manualMaxScore">
    {{ ctrl.scorer.manualMaxScoreValue }}
  </span>

    <span ng-if="!ctrl.scorer.manualMaxScore">
      Automatic
    </span>
  </div>

  <div class="col-xs-2">
    <span ng-if="ctrl.scorer.owned">
      Me
    </span>

    <span ng-if="!ctrl.scorer.owned">
      {{ ctrl.scorer.teamNames() }}
    </span>
  </div>
</div>
