<div class="modal-header">
  <button type="button" class="close btn-core-close" ng-click="ctrl.cancel()" aria-label="Close"></button>
  <h3 class="modal-title">Delete This Case</h3>
</div>
<div class="modal-body">
  <p>You're about to delete this case forever!  If you think you might want it later, use the Archive function instead.</p>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="ctrl.ok()">Delete</button>
  <button class="btn btn-default" ng-click="ctrl.cancel()">Cancel</button>
</div>
