<div class="modal-header">
  <button type="button" class="btn-core-close" ng-click="cancel()" aria-label="Close"></button>
  <h3 class="modal-title">Edit Annotation</h3>
</div>

<div class="modal-body">
  <div>
    <div class='mb-3'>
      <label>New Message:</label>
      <textarea class="form-control" rows="3" ng-model='ctrl.annotation.message'></textarea>
    </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Update</button>
  <button class="btn btn-outline-secondary" ng-click="cancel()">Cancel</button>
</div>
