<li class='annotation'>
  <div class="dropdown pull-right" uib-dropdown>
    <a uib-dropdown-toggle>
      <i class="glyphicon glyphicon-menu-hamburger"></i>
    </a>

    <ul class="dropdown-menu" uib-dropdown-menu>
      <li>
        <a ng-click='ctrl.update()'>
          <i class='glyphicon glyphicon-pencil'></i>
          Edit
        </a>
      </li>
      <li>
        <a ng-click='ctrl.delete()' class='text-danger'>
          <i class='glyphicon glyphicon-trash'></i>
          Delete
        </a>
      </li>
    </ul>
  </div>

  <em class='annotations-time'>{{ ctrl.theAnnotation.createdAt | timeAgo }} - </em>

  <span class='annotation-source' ng-if='ctrl.theAnnotation.user'>
    by {{ ctrl.theAnnotation.user.name }}
  </span>

  <span class='annotation-source' ng-if='ctrl.theAnnotation.source'>
    by {{ ctrl.theAnnotation.source }}
  </span>

  <div>
    <span class='annotation-try'>
      Try No: {{ ctrl.theAnnotation.score.try_id }}
    </span>

    <i class='bi bi-circle-fill'></i>

    <span class='annotation-score'>
      Score: {{ ctrl.theAnnotation.score.score }}
    </span>
  </div>

  <div class='annotation-message'>
    {{ ctrl.theAnnotation.message }}
  </div>
</li>
