<div class="form-group" ng-show='ctrl.scorerOptions.showName'>
  <label>Name</label>
  <input id="scorer-name" type="text" class="form-control" ng-required="true" ng-model="ctrl.scorer.name" placeholder="Give your scorer a name" autoFocus>
</div>

<div class="form-group scorer code">
  <label>Code (<a target="_blank" href="http://quepidapp.com/docs/#scorers-custom">learn more</a>)</label>
  <div ui-ace="{
    require: ['ace/ext/language_tools'],
    advanced: {
      enableBasicAutocompletion: true,
      enableLiveAutocompletion: true
    },
    mode:   'javascript',
    theme:  'chrome'
  }"
  ng-model="ctrl.scorer.code"></div>
</div>

<div class='form-group'>
  <label>Scale for query ratings:</label></br />
  <p ng-if="ctrl.updatingScale" class='bg-warning text-warning padded-text'>
    <i class="bi bi-exclamation-triangle-fill" aria-hidden="true"></i>
    Changing scales may invalidate existing ratings. Please review and re-rate your queries as needed!
  </p>
  <label>
    <input id="binary" type="radio" ng-model="ctrl.scaleChoice" value="binaryScale" ng-change="ctrl.updateScale(ctrl.scaleOptions.binaryScale)">
    Binary Scale ( {{ ctrl.scaleOptions.binaryScale }} )
  </label><br/>
  <label>
    <input id="graded" type="radio" ng-model="ctrl.scaleChoice" value="gradedScale" ng-change="ctrl.updateScale(ctrl.scaleOptions.gradedScale)">
    Graded Scale ( {{ ctrl.scaleOptions.gradedScale }} )
  </label><br/>
  <label>
    <input id="detail" type="radio" ng-model="ctrl.scaleChoice" value="detailScale" ng-change="ctrl.updateScale(ctrl.scaleOptions.detailScale)">
    Detail Scale ( {{ ctrl.scaleOptions.detailScale }} )
  </label><br/>
  <label>
    <input id="custom" type="radio" ng-model="ctrl.scaleChoice" value="custom" ng-change="ctrl.updateScale(ctrl.scaleOptions.custom)">
    Custom
  </label><br/>

  <input id="scoring-options" type="text" class="form-control" ng-required="true" ng-model="ctrl.scorer.scale" placeholder="Provide a list of comma separated INTEGERS to use for the scoring scale" ng-change="ctrl.scaleChoice = 'custom'">
</div>

<div class='form-group'>
  <label>Labels:</label></br />

  <div>
    <label>
      <input id="show-scale-labels" type="checkbox" ng-model="ctrl.scorer.showScaleLabels" ng-change="">
      Show Scale Labels
    </label>

    <div ng-if="ctrl.scorer.showScaleLabels === true" class='scale-labels form-horizontal'>
      <span ng-repeat="(value, label) in ctrl.scorer.scaleWithLabels" class="form-group">
        <label class="col-sm-1 control-label">{{value}}: </label>
        <div class="col-sm-11">
          <input type='text' ng-model='ctrl.scorer.scaleWithLabels[value]' class="form-control" />
        </div>
      </span>
    </div>
  </div>
</div>
