<h1>Edit Scorer</h1>

<%= render partial: 'form', locals: {passed_in_action: 'update'} %>

<%= link_to 'View', admin_communal_scorer_path(@scorer) %> |
<%= link_to 'Back', admin_communal_scorers_path %>
