/* Misc. */
.vcard-stats {
  text-align: center;
}

.vcard-stat {
  font-size:      11px;
  text-transform: capitalize;
}

.vcard-stat-count {
  font-size:    28px;
  font-weight:  bold;
  line-height:  1;
}

.d-block {
  display: block;
}

.border-bottom {
  border-bottom: 1px #AAA solid;
}

.padded-text {
  padding: 15px;
}

a.action-icon {
  color:            #666;
  text-decoration:  none;
  margin:           0 2px;

  &:hover {
    color: #999;
  }

  sup {
    top:        -1em;
    font-size:  10px;
  }
}

.p-t-10 {
  padding-top: 10px;
}

.p-r-10 {
  padding-right: 10px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-l-10 {
  padding-left: 10px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-r-20 {
  padding-right: 20px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-l-20 {
  padding-left: 20px;
}

.syntax-popover {
  color:    black;
  position: fixed;
}

.syntax-popover .close {
  line-height: 12px;
}

.query-help {
  font-size: 1.5em;
}

.full-screen-modal {
  height:   100%;
  z-index:  2050 !important;

  .modal-dialog {
    height: calc(100% - 100px);
    width:  calc(100% - 100px);
  }

  .modal-content {
    height:   100%;
    overflow: scroll;
  }
}
