/* Search Endpoints */
#search-endpoints-filter {
  width: 75%;
}

#search-endpoints-per-page {
  width: 20%;
}

#search-endpoints-listing {
  margin: 30px 0;

  .listing-header {
    font-weight:  bold;
  }

  ul.search-endpoints-list {
    list-style: none;
    padding:    0;
  }

  .search-endpoints-list-item {
    line-height:  34px;
    margin:       2px 0;

    .item-box {
      background:     #FFF;
      border-radius:  6px;
      border:         1px solid #AAA;
      margin:         0px 2px;
      padding-top:    10px;
      padding-bottom: 10px;
    }

    .item-actions {
      display: none;
    }

    &:hover {
      .item-actions {
        display: inline-block;
      }
    }

    &.col-lg-6:nth-child(2n+1) {
      clear: both;
    }
  }
}
