/* Teams */
#teams-filter {
  width: 75%;
}

#teams-per-page {
  width: 20%;
}

#teams-listing {
  margin: 30px 0;

  .listing-header {
    font-weight:  bold;
  }

  ul.teams-list {
    list-style: none;
    padding:    0;
  }

  .teams-list-item {
    line-height:  34px;
    margin:       2px 0;

    .item-box {
      background:     #FFF;
      border-radius:  6px;
      border:         1px solid #AAA;
      margin:         0px 2px;
      padding-top:    10px;
      padding-bottom: 10px;
    }

    .team-title:hover {
      cursor:           pointer;
      text-decoration:  underline;
    }

    .item-actions {
      display: none;
    }

    &:hover {
      .item-actions {
        display: inherit;
      }
    }

  }
}

.team {
  .team-owner {
    border-radius:  5px;
    border:         1px solid #AAA;
    padding:        20px;
    width:          250px;
    word-wrap:      break-word;

    img {
      margin:   0 0 10px;
      width:    100%;
    }

    .label {
      display: inline-block;
    }
  }

  .team-stats .vcard-stats {
    margin-bottom:  10px;
    padding:        10px 0;
  }

  .add-member input {
    display:  inline-block;
    width:    80%
  }

  .team-associations .filter-form {
    padding-right: 0;
  }
}
