/* Users */
#users-filter {
  width: 75%;
}

#users-per-page {
  width: 20%;
}

#users-listing {
  margin: 30px 0;

  .listing-header {
    font-weight:  bold;
  }

  ul.users-list {
    list-style: none;
    padding:    0;
  }

  .users-list-item {
    line-height:  34px;
    margin:       2px 0;

    .item-box {
      background:     #FFF;
      border-radius:  6px;
      border:         1px solid #AAA;
      margin:         0px 2px;
      padding-top:    10px;
      padding-bottom: 10px;
    }

    .user-info {
      line-height: 24px;
    }

    .user-info:hover {
      cursor:           pointer;
      text-decoration:  underline;
    }

    .item-actions {
      display: none;
    }

    &:hover {
      .item-actions {
        display: inherit;
      }
    }
  }
}

h5.user-name {
  margin: 0 0 5px;
}
