/*
 * This is a manifest file that'll be compiled into admin.css, which will include all the files
 * listed below.
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "cal-heatmap";

@import "fonts";
@import "bootstrap-add";
@import "admin2";
