/* Cases */
 #cases-filter {
	 width: 75%;
}
 #cases-per-page {
	 width: 20%;
}
 #cases-listing {
	 margin: var(--quepid-spacing-xxl) 0;
}
 #cases-listing .listing-header {
	 font-weight: bold;
	 text-align: center;
}
 #cases-listing .cases-list-header {
	 padding: 0;
}
 #cases-listing ul.cases-list {
	 list-style: none;
	 padding: 0;
}
 #cases-listing .cases-list-item {
	 line-height: 34px;
	 margin: var(--quepid-spacing-xs) 0;
}
 #cases-listing .cases-list-item .owner {
	 line-height: 1;
	 margin: var(--quepid-spacing-md) 0;
	 word-wrap: break-word;
}
 #cases-listing .cases-list-item .item-box {
	 background: var(--quepid-color-white);
	 border-radius: var(--quepid-border-radius-lg);
	 border: var(--quepid-border-width) solid var(--quepid-color-text-lighter);
	 margin: 0px var(--quepid-spacing-xs);
	 padding-top: var(--quepid-spacing-md);
	 padding-bottom: var(--quepid-spacing-md);
	 text-align: center;
}
 #cases-listing .cases-list-item .case-title:hover {
	 cursor: pointer;
	 text-decoration: underline;
}
 #cases-listing .cases-list-item .item-actions {
	 display: none;
}
 #cases-listing .cases-list-item:hover .item-actions {
	 display: inherit;
}
 .archived-cases {
	 margin: var(--quepid-spacing-xl);
}
 .no-data {
	 font-size: var(--quepid-font-size-sm);
}
 .loading-cases-msg {
	 padding: var(--quepid-spacing-lg) 0 0 var(--quepid-spacing-lg);
	 font-weight: 600;
}
 .media-embed {
	 vertical-align: middle;
	 max-width: 640px;
	 max-height: 640px;
}
