@font-face {
    font-family: 'allerregular';
    src: url('aller_rg-webfont.eot');
    src: url('aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('aller_rg-webfont.woff') format('woff'),
         url('aller_rg-webfont.ttf') format('truetype'),
         url('aller_rg-webfont.svg#allerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alleritalic';
    src: url('aller_it-webfont.eot');
    src: url('aller_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('aller_it-webfont.woff') format('woff'),
         url('aller_it-webfont.ttf') format('truetype'),
         url('aller_it-webfont.svg#alleritalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'allerbold';
    src: url('aller_bd-webfont.eot');
    src: url('aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('aller_bd-webfont.woff') format('woff'),
         url('aller_bd-webfont.ttf') format('truetype'),
         url('aller_bd-webfont.svg#allerbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'allerbold_italic';
    src: url('aller_bdit-webfont.eot');
    src: url('aller_bdit-webfont.eot?#iefix') format('embedded-opentype'),
         url('aller_bdit-webfont.woff') format('woff'),
         url('aller_bdit-webfont.ttf') format('truetype'),
         url('aller_bdit-webfont.svg#allerbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chunkfiveroman';
    src: url('chunkfive.eot');
    src: url('chunkfive.eot?#iefix') format('embedded-opentype'),
         url('chunkfive.woff') format('woff'),
         url('chunkfive.ttf') format('truetype'),
         url('chunkfive.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;
}
