.fas[data-count]{
    position:relative;
}
.fas[data-count]:after{
    position: absolute;
    right: -0.75em;
    top: -.75em;
    content: attr(data-count);
    padding: .5em;
    border-radius: 5em;
    line-height: .9em;
    color: white;
    background: rgba(255,0,0,.5);
    text-align: center;
    min-width: 2em;
    font: bold .25em sans-serif;
}

.frog-pond {
  height: 550px;
  width: 898px;
}

.frog-pond::before{
  content: '';
  background-image: image-url("frog-pond.jpg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 550px;
  width: 898px;
  top: 0;
  left: 0;
  opacity: 0.35;
}

.frog-pond-content {
  opacity: .99;  // 1.0 doesn't work.
}

.vega-embed {
  width: 100%;
  height: 100%;
}


.querqy-icon {
    display: inline-block;
    width: 24px;  /* Adjust to match your image width */
    height: 24px; /* Adjust to match your image height */
    background-image: image-url('querqy-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
