.fas[data-count]{
    position:relative;
}
.fas[data-count]:after{
    position: absolute;
    right: -0.75em;
    top: -.75em;
    content: attr(data-count);
    padding: .5em;
    border-radius: 5em;
    line-height: .9em;
    color: white;
    background: rgba(255,0,0,.5);
    text-align: center;
    min-width: 2em;
    font: bold .3em sans-serif;
}

.frog-pond {
  height: 550px;
  width: 898px;
}

.frog-pond::before{
  content: '';
  background-image: image-url("frog-pond.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 550px;
  width: 898px;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.frog-pond p {

}
