/* Misc. */
a.action-icon {
  color: var(--quepid-color-text-muted);
  text-decoration: none;
  margin: 0 var(--quepid-spacing-xs);
}
a.action-icon:hover {
  color: var(--quepid-color-text-light-2);
}
a.action-icon sup {
  top: -1em;
  font-size: var(--quepid-font-size-3xs);
}

