/* Misc. */
 .vcard-stats {
	 text-align: center;
}
 .vcard-stat {
	 font-size: 11px;
	 text-transform: capitalize;
}
 .vcard-stat-count {
	 font-size: 28px;
	 font-weight: bold;
	 line-height: 1;
}
 .d-block {
	 display: block;
}
 .border-bottom {
	 border-bottom: 1px #aaa solid;
}
 .padded-text {
	 padding: 15px;
}
 a.action-icon {
	 color: #666;
	 text-decoration: none;
	 margin: 0 2px;
}
 a.action-icon:hover {
	 color: #999;
}
 a.action-icon sup {
	 top: -1em;
	 font-size: 10px;
}
 .p-t-10 {
	 padding-top: 10px;
}
 .p-r-10 {
	 padding-right: 10px;
}
 .p-b-10 {
	 padding-bottom: 10px;
}
 .p-l-10 {
	 padding-left: 10px;
}
 .p-t-20 {
	 padding-top: 20px;
}
 .p-r-20 {
	 padding-right: 20px;
}
 .p-b-20 {
	 padding-bottom: 20px;
}
 .p-l-20 {
	 padding-left: 20px;
}
 .syntax-popover {
	 color: black;
	 position: fixed;
}
 .syntax-popover .close {
	 line-height: 12px;
}
 .query-help {
	 font-size: 1.5em;
}
 .full-screen-modal {
	 height: 100%;
	 z-index: 2050 !important;
}
 .full-screen-modal .modal-dialog {
	 height: calc(100% - 100px);
	 width: calc(100% - 100px);
}
 .full-screen-modal .modal-content {
	 height: 100%;
	 overflow: scroll;
}

/* begin close button for modals in core app */
/* Stolen from Bootstrap 5 */
/* originally this was .btn-close, and mapping to .btn-core-close */
.btn-core-close {
  --bs-btn-close-color: #000;
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  --bs-btn-close-opacity: 0.5;
  --bs-btn-close-hover-opacity: 0.75;
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-btn-close-focus-opacity: 1;
  --bs-btn-close-disabled-opacity: 0.25;
  --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: var(--bs-btn-close-color);
  background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: var(--bs-btn-close-opacity);
}
.btn-core-close:hover {
  color: var(--bs-btn-close-color);
  text-decoration: none;
  opacity: var(--bs-btn-close-hover-opacity);
}
.btn-core-close:focus {
  outline: 0;
  box-shadow: var(--bs-btn-close-focus-shadow);
  opacity: var(--bs-btn-close-focus-opacity);
}
.btn-core-close:disabled, .btn-core-close.disabled {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  opacity: var(--bs-btn-close-disabled-opacity);
}
/* end close button for modals in core app */
