.pane_container {
	 position: relative;
	 overflow: hidden;
}
 .pane_main {
	 display: block;
	 float: left;
	 height: calc(100% - 60px);
	 left: 1px;
	 overflow-y: auto;
	 position: fixed;
	 width: 100%;
}
 .pane_east {
	 background: #333;
	 display: none;
	 height: calc(100% - 60px);
	 min-width: 300px;
	 overflow-y: auto;
	 position: fixed;
}
 .east-slider {
	 background: none repeat scroll 0% 0% #ddd;
	 border: 0px solid #bbb;
	 cursor: col-resize;
	 display: none;
	 height: 100%;
	 position: fixed;
	 width: 6px;
	 z-index: 99;
}
 .east-slider:hover {
	 background: none repeat scroll 0% 0% #326414;
}
