qscore-case, qscore-query {
	 padding: 0;
}
 qscore-case.case-score {
	 margin: 20px 15px -10px 0px;
}
 qscore-case.case-score:not(.diff-score):only-of-type {
	 margin: 20px 15px -10px 0px;
}
 qscore-case.case-score:not(.diff-score):not(:only-of-type) {
	 margin: 20px 0px -10px 0px;
}
 qscore-case.case-score.diff-score {
	 margin: 20px 0px -10px 0px;
}
 qscore-case.case-score.diff-score:last-of-type {
	 margin: 20px 15px -10px 0px;
}
 qscore-case .header-rating {
	 border-radius: 5px;
	 color: #fff;
	 display: inline-block;
	 font-size: 22px;
	 margin: 0;
	 min-height: 80px;
	 padding: 15px 0;
	 text-align: center;
	 vertical-align: top;
}
 qscore-case .overall-rating, qscore-query .overall-rating {
	 display: block;
	 float: left;
	 height: 100%;
	 width: 90px;
	 margin: -10px 20px -10px -20px;
	 padding: 10px 0;
	 color: #fff;
	 font-family: 'allerbold_italic';
	 font-size: 22px;
	 text-align: center;
	 border-top-left-radius: 5px;
	 border-bottom-left-radius: 5px;
}
 qscore-query.results-score .overall-rating {
	 margin: -10px 15px -10px -20px;
}
 .dual-query-display qscore-query.results-score .overall-rating {
	 margin: -10px 15px -10px -20px;
}
 qscore-query.diff-score .overall-rating {
	 margin: -10px 20px -10px 0px;
}
 qscore-case .overall-rating.diff-score {
	 border-radius: 0;
}
 qscore-case.case-score:not(.diff-score):not(:only-of-type) .header-rating {
	 border-top-right-radius: 0;
	 border-bottom-right-radius: 0;
}
 qscore-case.case-score.diff-score .header-rating {
	 border-top-left-radius: 0;
	 border-bottom-left-radius: 0;
	 border-top-right-radius: 0;
	 border-bottom-right-radius: 0;
}
 qscore-case.case-score.diff-score:last-of-type .header-rating {
	 border-top-right-radius: 5px;
	 border-bottom-right-radius: 5px;
}
 qscore-query.diff-score .overall-rating {
	 border-radius: 0;
	 border-top-right-radius: 5px;
	 border-bottom-right-radius: 5px;
}
 qscore-case qgraph {
	 display: inline-block;
	 height: 80px;
	 margin: 0px -10px 0px 0px;
	 width: 150px;
}
 qscore-case qgraph svg {
	 border: 2px solid grey;
	 border-right-style: none;
	 border-top-left-radius: 5px;
	 border-bottom-left-radius: 5px;
}
