.graph-explain .progress {
    height: 7px;
    margin: var(--quepid-spacing-xs) 0 var(--quepid-spacing-sm) 0;
}

.graph-explain .graph-label {
    font-size: var(--quepid-font-size-3xs);
    word-wrap: break-word;
}

.stacked-chart-container {
	padding: var(--quepid-spacing-lg);
}

.stacked-chart-container .nav-tabs li a {
	font-size: var(--quepid-font-size-xs-2);
	padding: var(--quepid-spacing-4) var(--quepid-spacing-md);
}

.stacked-chart-container .tab-body {
	padding: var(--quepid-spacing-lg);
	background: var(--quepid-color-white);
	border-left: var(--quepid-border-width) solid var(--quepid-color-border-dd);
	border-right: var(--quepid-border-width) solid var(--quepid-color-border-dd);
	border-bottom: var(--quepid-border-width) solid var(--quepid-color-border-dd);
}

small { font-size: var(--quepid-font-size-xs); }
