/* Non Brian Styles, brought in from dumb programmer UI quepid
 *
 *
 * */
.align-top {
  vertical-align: top;
}

.rating, .ratingNum, .curRating, .removeRating {
    color: white;
    font-size: .7em;
}

.rating {
    background: #db918f;
    padding: 3px;
    position: absolute;
}

.rating:hover, .ratingNum:hover, .curRating:hover, .close:hover, #submitbutton {
    cursor: pointer;
}

.ratingNum, .curRating {
    margin-right: 2px;
    padding: 3px 5px;
}

.ratingNums {
    /* background: white;
    border: 1px solid #86989B;
    padding: 3px 5px 6px;
    z-index: 100; */
}

/* Maybe not needed with new btn-core-close?
.close {
    font-size: .7em;
    color: gray;
    padding-left: 5px;
}
*/

.notes-box {
    width: 100%;
    color: #222;
    margin-bottom: 25px;
}

.notes-box label {
    font-family: 'allerregular';
    font-size: 20px;
    margin-bottom: 20px;
    color: #222;
    padding-top: 15px;
}

.notes-box textarea {
    background: #FFF;
    color: #444;
    width: 100%;
    height: 300px !important;
    margin-bottom: 15px;
}

.notes-content {
    margin: 0;
}

.query-score-label {
    font-size: x-small;
}

.wiz_new_query {
  position:relative;
  background:#369;
  border-radius: 5px;
  margin: 10px 0 0 10px;
  display: inline-block;
  padding: 8px 12px;
}
.wiz_new_query .query_text {
  font:italic 18px Verdana;
  color:#FFF;
  vertical-align:middle;
  position: inherit;
  display: inline-block;
}
.wiz_new_query button {
  font-size: 70%;
  font-weight: bold;
  padding: 3px 6px;
  margin: 0 0 0 10px;
  border-radius: 5px;
  border: none;
  background: #F0F0F0;
  color: #369;
  border: 1px solid #F0F0F0;
}
.wiz_new_query button:hover {
  cursor: pointer;
  border: 1px solid #69C;
  background: #036;
  color: #FFF;
}
