/* Teams */
 #teams-filter {
	 width: 75%;
}
 #teams-per-page {
	 width: 20%;
}
 #teams-listing {
	 margin: 30px 0;
}
 #teams-listing .listing-header {
	 font-weight: bold;
}
 #teams-listing ul.teams-list {
	 list-style: none;
	 padding: 0;
}
 #teams-listing .teams-list-item {
	 line-height: 34px;
	 margin: 2px 0;
}
 #teams-listing .teams-list-item .item-box {
	 background: #fff;
	 border-radius: 6px;
	 border: 1px solid #aaa;
	 margin: 0px 2px;
	 padding-top: 10px;
	 padding-bottom: 10px;
}
 #teams-listing .teams-list-item .team-title:hover {
	 cursor: pointer;
	 text-decoration: underline;
}
 #teams-listing .teams-list-item .item-actions {
	 display: none;
}
 #teams-listing .teams-list-item:hover .item-actions {
	 display: inherit;
}
 .team .team-owner {
	 border-radius: 5px;
	 border: 1px solid #aaa;
	 padding: 20px;
	 width: 250px;
	 word-wrap: break-word;
}
 .team .team-owner img {
	 margin: 0 0 10px;
	 width: 100%;
}
 .team .team-owner .label {
	 display: inline-block;
}
 .team .team-stats .vcard-stats {
	 margin-bottom: 10px;
	 padding: 10px 0;
}
 .team .add-member input {
	 display: inline-block;
	 width: 80%;
}
 .team .team-associations .filter-form {
	 padding-right: 0;
}
