/* Users */
 #users-filter {
	 width: 75%;
}
 #users-per-page {
	 width: 20%;
}
 #users-listing {
	 margin: 30px 0;
}
 #users-listing .listing-header {
	 font-weight: bold;
}
 #users-listing ul.users-list {
	 list-style: none;
	 padding: 0;
}
 #users-listing .users-list-item {
	 line-height: 34px;
	 margin: 2px 0;
}
 #users-listing .users-list-item .item-box {
	 background: #fff;
	 border-radius: 6px;
	 border: 1px solid #aaa;
	 margin: 0px 2px;
	 padding-top: 10px;
	 padding-bottom: 10px;
}
 #users-listing .users-list-item .user-info {
	 line-height: 24px;
}
 #users-listing .users-list-item .user-info:hover {
	 cursor: pointer;
	 text-decoration: underline;
}
 #users-listing .users-list-item .item-actions {
	 display: none;
}
 #users-listing .users-list-item:hover .item-actions {
	 display: inherit;
}
 h5.user-name {
	 margin: 0 0 5px;
}
