<% content_for :title, "Editing ai_judge" %>

<h1>Editing ai_judge</h1>

<%= render "form", ai_judge: @ai_judge %>

<br>

<div>
  <%= link_to "Show this ai_judge", @ai_judge %> |
  <%= link_to "Back to ai_judges", ai_judges_path %>
</div>
