<p>Hello <%= @resource.display_name %>!</p>

<p>Someone has requested a link to change your password on Quepid. </p>

<p>
  You can do this by using the <strong>one time</strong> link below: <br />
  <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p>
  <strong>Didn't request this?</strong><br />
  If you didn't request a new password, please ignore this email.
  Your password won't change until you access the link above and create a new one.
</p>
