<div class="modal-header">
  <button type="button" class="close btn-core-close" ng-click="ctrl.cancel()" aria-label="Close"></button>
  <h3 class="modal-title">Export Case: <span class="modal-case">{{ ctrl.theCase.caseName }}</span></h3>
</div>
<div class="modal-body">
  <p>There are a number of formats for exporting data from Quepid.</p>

  <div class="form-group">
    <input type="radio" id="information_need" name="exportSelection" value="information_need" ng-model="ctrl.options.which">
    <label for="information_need">Information Need</label>
    <span class="help-block">
        CSV file with <code>query,information_need</code>, use as a template for uploading Information Need for queries back into Quepid.
    </span>
  </div>
  </hr>
  <div class="form-group">
    <input type="radio" id="general" name="exportSelection" value="general" ng-model="ctrl.options.which">
    <label for="general">General</label>
    <span class="help-block">
      CSV file with <code>Team Name,Case Name,Case ID,Query Text,Score,Date Last Scored,Count,Information Need,Notes,Options</code>
    </span>
  </div>

  <div class="form-group">
    <input type="radio" id="detailed" name="exportSelection" value="detailed" ng-model="ctrl.options.which">
    <label for="detailed" class="disabled">Detailed</label>
    <p ng-if="ctrl.options.which==='detailed' && !ctrl.supportsDetailedExport" class='bg-warning text-warning padded-text'>
      <i class="bi bi-exclamation-triangle-fill" aria-hidden="true"></i>
      Detailed export is only supported from the individual Case view.
    </p>
    <span class="help-block">
      CSV file with <code>Team Name,Case Name,Case ID,Query Text,Doc ID,Title,Rating,Field1,...,FieldN</code> where <code>Field1,...,FieldN</code> are specified under <strong>Settings</strong> in the <strong>Displayed Fields</strong> field.
    </span>
  </div>

  <div class="form-group">
    <input type="radio" id="snapshot" name="exportSelection" value="snapshot" ng-model="ctrl.options.which">
    <label for="snapshot">Snapshot</label>
    <span class="help-block">
      Snapshot's represent a point in time, and you may want to download them for further analysis, rework them, and then
      import them back into Quepid using the <strong>Import Snapshots from CSV</strong> function on the Relevancy Cases listing page.
      You will have a CSV file with <code>Snapshot Name,Snapshot Time,Case ID,Query Text,Doc ID,Doc Position</code> fields.
      If you have recorded the document fields when you took the snapshot, then you will also have <code>Field1,...,FieldN</code> columns.
    </span>
    <label for="snapshot_choice">Snapshot
      <select
        id="diffWith"
        ng-model="ctrl.options.snapshot_snapshot"
        ng-options="snapshot.id as snapshot.name() for (id, snapshot) in ctrl.snapshots"
      >
      </select>
    </label>
    
    <div class="alert alert-warning" role="alert" ng-if="ctrl.isProcessingFile()">
      This snapshot is currently being processed in the background.  You should wait till it completes.
    </div>
  </div>
  <hr/>
  <div class="form-group">
    <input type="radio" id="basic" name="exportSelection" value="basic" ng-model="ctrl.options.which">
    <label for="basic">Basic</label>
    <span class="help-block">
      Simple CSV file format <code>query,docid,rating</code> that exports only queries that have been rated.
      Compatible with projects like <a href="https://github.com/tballison/quaerite" target="_blank">Quaerite</a> among others.
    </span>

    <input type="radio" id="trec" name="exportSelection" value="trec" ng-model="ctrl.options.which">
    <label for="trec">TREC</label>
    <span class="help-block">
      TREC qrel file format <code>query_id 0 docno judgment</code> that exports only queries that have been rated.
      Used by the <a href="https://trec.nist.gov/" target="_blank">TREC</a> competition.
    </span>

    <label for="snapshot_choice">Snapshot
      <select
        id="diffWith2"
        ng-model="ctrl.options.basic_snapshot"
        ng-options="snapshot.id as snapshot.name() for (id, snapshot) in ctrl.snapshots"
      >
      </select>
    </label>
    <span class="help-block">
      If you choose a Snapshot, then it will export unrated query/document pairs from when the Snapshot was created.
    </span>
  </div>
  <hr/>
  <div class="form-group">
    <input type="radio" id="rre" name="exportSelection" value="rre" ng-model="ctrl.options.which">
    <label for="rre">Rated Ranking Evaluator</label>
    <span class="help-block">
      Need to gather relevance metrics for 1000's of queries? <a href="https://github.com/SeaseLtd/rated-ranking-evaluator" target="_blank">Rated Ranking Evaluator</a> is a great option!  This exports
      the judgement list in the RRE format.
    </span>
  </div>
  <div class="form-group">
    <input type="radio" id="ltr" name="exportSelection" value="ltr" ng-model="ctrl.options.which">
    <label for="ltr">Learning to Rank</label>
    <span class="help-block">
      LTR uses a rather odd format of <code>rating qid:queryid # docid query</code>, eg <code>3 qid:1 # 1370 star trek</code>.
    </span>
  </div>
  <hr/>
  <div class="form-group">
    <label for="ltr">Quepid API</label>
    <span class="help-block">
      Quepid <a ng-href="apipie" target="_blank">has an API</a> that you can export data in the JSON format via.  Append the parameter <code>?shallow=true</code> to return a smaller dataset.
    </span>

    Retrieve the <a ng-href="api/cases/{{ctrl.theCase.caseNo}}.json?shallow=false" target="_blank">Case</a>, <a ng-href="api/cases/{{ctrl.theCase.caseNo}}/queries.json?shallow=false" target="_blank">Queries</a>, <a ng-href="api/cases/{{ctrl.theCase.caseNo}}/annotations.json" target="_blank">Annotations</a>, <a ng-href="api/cases/{{ctrl.theCase.caseNo}}/scores.json" target="_blank">Scores</a>, <a ng-href="api/export/ratings/{{ctrl.theCase.caseNo}}.json" target="_blank">Ratings</a>, or a Snapshot
    <select ng-model="ctrl.options.api_snapshot">
      <option ng-repeat="snapshot in ctrl.snapshots"
              value="{{snapshot.id}}"
              title="{{snapshot.name()}}">
           {{snapshot.name()}}
      </option>
    </select>
    <span ng-if="ctrl.options.api_snapshot">
      <a ng-href="api/cases/{{ctrl.theCase.caseNo}}/snapshots/{{ ctrl.options.api_snapshot }}.json?shallow=false" target="_blank">here</a>
    </span>
     from API.
  </div>  
  <hr/>
  <div class="form-group">
    <input type="radio" id="rre" name="exportSelection" value="quepid" ng-model="ctrl.options.which">
    <label for="quepid">Quepid</label>
    <span class="help-block">
      Need to move a Case between different Quepids?  This format lets you dump the complete Case.
      You can also create a new Case outside Quepid and import using this format.
      Use the Import Case function on the Cases Listing page to import it back in as a brand new Case.
    </span>
    Peek at <a ng-href="api/export/cases/{{ctrl.theCase.caseNo}}.json" target="_blank">the JSON format</a>.
  </div>  
</div>
<div class="modal-footer">
  <button class="btn btn-default float-left" ng-click="ctrl.cancel()">Cancel</button>
  <button class="btn btn-primary" ng-click="ctrl.ok()" ng-disabled="ctrl.options.which === undefined || ctrl.options.which==='detailed' && !ctrl.supportsDetailedExport">Export</button>
</div>
