<script type="application/javascript">
  // Tooltip
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  })
</script>

<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="ctrl.cancel()"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">Export Case: <span class="modal-case">{{ ctrl.theCase.caseName }}</span></h3>
</div>
<div class="modal-body">
  <p>There are a number of formats for exporting data from Quepid.</p>

  <div class="form-group">
    <input type="radio" id="general" name="exportSelection" value="general" ng-model="ctrl.options.which">
    <label for="general">General</label>
    <span class="help-block">
      CSV file with <code>Team Name,Case Name,Case ID,Query Text,Score,Date Last Scored,Count,Notes</code>
    </span>
  </div>

  <div class="form-group">
    <input type="radio" id="detailed" name="exportSelection" value="detailed" ng-model="ctrl.options.which">
    <label for="detailed">Detailed</label>
    <span class="help-block">
      CSV file with <code>Team Name,Case Name,Case ID,Query Text,Doc ID,Title,Rating,Field1,...,FieldN</code> where <code>Field1,...,FieldN</code> are specified under <strong>Settings</strong> in the <strong>Displayed Fields</strong> field.
    </span>
  </div>

  <div class="form-group">
    <input type="radio" id="snapshot" name="exportSelection" value="snapshot" ng-model="ctrl.options.which">
    <label for="snapshot">Snapshot</label>
    <span class="help-block">
      Snapshot's represent a point in time, and you may want to download them for further analysis, rework them, and then
      import them back into Quepid using the <strong>Import Snapshots from CSV</strong> function on the Relevancy Cases listing page.
      You will have a CSV file with <code>Snapshot Name,Snapshot Time,Case ID,Query Text,Doc ID,Doc Position</code> fields.
    </span>
    <label for="snapshot_choice">Snapshot
      <select
        id="diffWith"
        ng-model="ctrl.options.snapshot_snapshot"
        ng-options="snapshot.id as snapshot.name() for (id, snapshot) in ctrl.snapshots"
      >
      </select>
    </label>
  </div>
  <div class="form-group">
    <input type="radio" id="basic" name="exportSelection" value="basic" ng-model="ctrl.options.which">
    <label for="basic">Basic</label>
    <span class="help-block">
      Simple CSV file format <code>query,docid,rating</code> that exports only queries that have been rated.
      If you choose a Snapshot, then it will export unrated query/document pairs from when the Snapshot was created.
      Compatible with projects like <a href="https://github.com/tballison/quaerite" target="_blank">Quaerite</a> among others.
    </span>
    <label for="snapshot_choice">Snapshot
      <select
        id="diffWith2"
        ng-model="ctrl.options.basic_snapshot"
        ng-options="snapshot.id as snapshot.name() for (id, snapshot) in ctrl.snapshots"
      >
      </select>
    </label>
  </div>

  <div class="form-group">
    <input type="radio" id="rre" name="exportSelection" value="rre" ng-model="ctrl.options.which">
    <label for="rre">Rated Ranking Evaluator</label>
    <span class="help-block">
      Need to gather relevance metrics for 1000's of queries? <a href="https://github.com/SeaseLtd/rated-ranking-evaluator" target="_blank">Rated Ranking Evaluator</a> is a great option!  This exports
      the judgement list in the RRE format.
    </span>
  </div>
  <div class="form-group">
    <input type="radio" id="ltr" name="exportSelection" value="ltr" ng-model="ctrl.options.which">
    <label for="ltr">Learning to Rank</label>
    <span class="help-block">
      LTR uses a rather odd format of <code>rating qid:queryid # docid query</code>, eg <code>3 qid:1 # 1370 star trek</code>.
    </span>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default float-left" ng-click="ctrl.cancel()">Cancel</button>
  <button class="btn btn-primary" ng-click="ctrl.ok()" ng-disabled="ctrl.options.which === 'undefined'">Export</button>
</div>
