<ul class="navbar-right nav navbar-nav">
  <li>
    <a href='https://github.com/o19s/quepid/wiki/Videos-on-Learning-to-use-Quepid' target="_blank">
      Video Tutorials
    </a>
  </li>
  <li>
    <a href='http://quepid.com/docs/' target="_blank">
      Knowledge Base
    </a>
  </li>
  <li>
    <a href='https://github.com/o19s/quepid/wiki' target="_blank">
      Wiki
    </a>
  </li>
</ul>
