<footer class="footer mt-auto text-center text-white footer-bg">
  <div class="container p-4 pb-0">
    <!-- Section: CTA -->
    <section class="">
      <p class="d-flex justify-content-center align-items-center">
        For community support please join us in the #Quepid channel in the&nbsp; <a href="http://www.opensourceconnections.com/slack" target="_blank">Relevancy Slack Community</a> &nbsp;or visit the &nbsp;<a href="http://github.com/o19s/quepid" target="_blank">Github Project</a>.
      </p>
    </section>
    <!-- Section: CTA -->
  </div>
  <div class="text-center p-3 footer-bar">
    &copy; <%= Time.zone.now.year %>
    <a class="text-white" href="http://opensourceconnections.com" target="_blank">
      <%= image_tag "OSC-icon.png", width: 24 %>
      OpenSource Connections, LLC
    </a>
    &nbsp;|&nbsp;
    <small>
    Quepid Version <code><%= Rails.application.config.quepid_version %></code>
    </small>
  </div>
</footer>
