<footer class="p-t-20 p-b-20">
  <div class="row">
    <div class="col-md-12 text-center">
      &copy; <%= Time.zone.now.year %> &nbsp;&mdash;&nbsp;
      <a href="http://opensourceconnections.com">
        <%= image_tag "OSC-icon.png", width: 24 %>
        OpenSource Connections, LLC
      </a>

      <% footer_links = [
        {
          url: Rails.application.config.terms_and_conditions_url,
          text: 'Terms & Conditions',
        },
        {
          url: Rails.application.config.privacy_url,
          text: 'Privacy Policy',
        },
        {
          url: Rails.application.config.cookies_url,
          text: 'Cookies Policy',
        },
        {
          url: 'api/docs/',
          text: 'API',
        },
      ] %>

      <% footer_links.each do |link| %>
        <% unless link[:url].blank? %>

          -

          <a href="<%= link[:url] %>" target="_blank">
            <%= link[:text] %>
          </a>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-12 text-center">
      <p>
        For community support and discussion please join us in the #Quepid channel on Relevancy Slack at
        <a href="http://www.opensourceconnections.com/slack" target="_blank">
          www.opensourceconnections.com/slack
        </a>
      </p>
    </div>
  </div>
</footer>
