<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="background-color: #2774C0; padding: 10px;">
      <a href="https://go.quepidapp.com">
        <img alt="quepid" src="https://quepidapp.com/images/logo.png">
      </a>
    </div>
    <div style="padding: 10px;border-left: 1px solid #2774C0;border-bottom: 1px solid #2774C0;border-right: 1px solid #2774C0;">
      <%= yield %>
    </div>
  </body>
</html>
